<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Understanding more about courses/classes in K-12 and Higher Education Institutions.
                </h2>
                <p>
                    In EduCares an Institution can be classified into Higher Education (Colleges and Universities) and
                    K-12 Education. A Course is the study of a particular topic in an institution which when completed,
                    qualifies the student to be a graduate and a Batch is a group of students who complete a specific
                    course over a period of time through different sections/terms/semesters.

                    <br><br> <b><u> 1) Universities and Colleges</u></b>
                    Let’s first look at how courses and batches are typically structured in universities and colleges.
                    Universities and colleges usually offer multiple courses. Each course is divided into semesters or
                    terms. Every year a new batch of students is admitted into each course. When a batch of students is
                    admitted, the students start with the first semester/term. When the students complete a
                    semester/term, they move to the next semester/term. And when the batch of students complete all
                    required semester/terms, they are deemed eligible for graduation.

                    <br><br> <b>Example:</b> Here’s how the above scenario can be configured in EduCares.
                    A university/college offers the course named Master of Computer Applications (MBA), that has four
                    semesters. You would then start by creating the course by name ‘Master of Business Administration’.
                    You would give the section name as ‘Semester 1’ and the course code as ‘MBA - Semester 1’. After
                    entering the other required details, you must enter the batch details.
                    <br> There are a couple of different ways to name a batch. Since each year a new batch of students
                    is admitted, the batch name can either be the year students are enrolled, for example ‘2014’, or the
                    duration of the course, for example ‘2014 – 2016’. Also, something to keep in mind when entering a
                    batch name is that all batch names are automatically prefixed with the course code.
                    <br> So here’s what we have so far:
                </p>
                <ul class="parahone">
                    <li> <b>Course name</b> – Master of Computer Applications
                    <li> <b>Section name</b> – 1
                    <li> <b>Course code</b> – MBA - 1
                    <li> <b>Batch name</b> – A 2020-2021
                </ul>
                <br> <img src="..\..\assets\Solutions\CB\1.1.jpg" alt="1.1">

                <p> When the above details are entered into EduCares and the course is created, you will see the
                    full course name as ‘Master of Computer Applications 1’ (Full course name = Course name + Section
                    name),
                    as seen in the image below.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.2.jpg" alt="1.2">
                    <br> When you click on the course name, the initial batch created is displayed with the full batch
                    name (Full batch name = Course code + Batch name), as seen in the image below.
                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.3.jpg" alt="1.3">

                    <br> The same process must be followed to create the rest of the semesters. You will finally have
                    four courses – Master of Computer Applications Semester 1, Master of Computer Applications Semester
                    2,
                    Master of Computer Applications Semester 3, and Master of Computer Applications Semester 4. All four
                    courses will have the batch ‘2014’ or ‘2014 – 2016’. So when the students of the batch ‘2014 – 2016’
                    complete Master of Computer Applications Semester 1, they can be transferred to batch ‘2014 – 2016’
                    of Master of Computer Applications Semester 2, and so on until they complete all four semesters and
                    graduate.
                    <br> Now let’s look at process of admitting the next batch of students into the course Master of
                    Computer Applications (MBA).
                    <br> When admitting the next batch for the following year, you will start by creating a batch by
                    name
                    ‘2015’ or ‘2015 – 2017’ in the course ‘Master of Computer Applications Semester 1’, as seen in the
                    image below.
                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.4.jpg" alt="1.4">

                    <br> Similarly, a batch by name ‘2015’ or ‘2015 – 2017’ must also be created in the courses Master
                    of Computer Applications Semester 2, Master of Computer Applications Semester 3, and Master of
                    Computer
                    Applications Semester 4. Since the subjects taught in a course are usually the same for every batch,
                    when creating the batch, you can import the subjects as well as the fees structure from the previous
                    batch, thus saving you time. The above process must be followed whenever a new batch is admitted
                    into the course Master of Computer Applications (MBA).


                    <br><br> <b>2) K–12 Education</b>
                    The term K–12 is often used by schools that offer primary and secondary education, that is, from
                    kindergarten/preschool to class/standard/grade 12. The education pattern in K–12 institutions are
                    different from universities and colleges. Students usually start their education with
                    kindergarten/preschool. When students successfully complete a year in a class/grade, they move to
                    the next class/grade. This continues until the students complete 12 years of study. In many K–12
                    institutions, each class/grade may have different batches of students for the same year. All batches
                    of a class/grade are taught the same subjects.

                    <br><br><b> Example:</b> Using an example, here’s how the above scenario can be configured in
                    EduCares.
                    A K–12 institution teaches students from class/grade 1 up to class/grade 12. You will start by
                    creating a Class by name ‘Grade 12’. You would give the class code as ‘G12’. After entering the
                    other required details, enter the batch name as ‘A 2020-2021’, where ‘A’ is the section name and
                    ‘2020’ is the batch year. Also, something to keep in mind when entering a batch name is that all
                    batch names are automatically prefixed with the class code.
                    <br> So here’s what we have so far:
                </p>
                <ul class="parahone">
                    <li> <b>Class name</b>– Grade 2
                    <li> <b>Section name </b>– Leave blank
                    <li> <b> Course code</b> – G12
                    <li> <b> Batch name</b> – ‘A 2020-2021’
                </ul>
                <p>
                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.5.jpg" alt="1.5">

                    <br> Enter the above details and create the class.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.6.jpg" alt="1.6">
                    <br> When you click on the class name, the initial batch created is displayed with the full batch
                    name
                    (Full batch name = Class code - Batch name), as seen in the image below.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\1.7.jpg" alt="1.7">

                    <br> Similarly, you must create the rest of the batches for ‘Grade 12’, for the same year.
                    When admitting the next batch of students into Grade 1 the following year, you will start by
                    creating a batch by name ‘A 2020-2021’ in the course ‘Grade 12’. And if there’s a ‘B’ batch for the
                    same year, create another batch by name ‘B 2020-2021’. Since the subjects taught in a class are
                    usually the same for every batch, when creating the batch, you can import the subjects as well as
                    the fees structure from the previous batch, thus saving you time.
                    The above process must be followed whenever a new batch is admitted into the institution.

                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-1"> Understanding more about courses/classes
                            in K-12 and Higher
                            Education Institutions.</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-2"> What should be the nomenclature or the
                            naming convention
                            to be followed while creating a course and a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-3"> How courses/classes can be created in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-4"> How to edit a course? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-5"> How to delete a course in EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-6"> How a batch can be created in EduCares?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-7"> How to edit a batch within EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-8"> How to delete a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-9"> How to assign subject fee amount for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-10"> How to edit or delete subject fee
                            amount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-11"> How can we view students in a batch?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-12"> How to assign a tutor for a batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-13"> What privileges does a batch tutor
                            have?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-14"> How to change or remove assigned tutor
                            for a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-15"> If I go to batch transfer, I can see a
                            option called "Graduation". What is this for?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>