<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to archive placement?
                </h2>

                <p>
                    In EduCares admin or privileged employee can archive placement.
                </p>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon > <b>Academics> Placement</b>
                    </li>

                    <li>
                        Click on the <b>respective placement</b>
                    </li>
                    <li>
                        In the page displays, Select button <b>Archive this event.</b>
                    </li>
                </ol>
                <img src="..\.\assets\Add-On\Placement\6.1.png" alt="6.1">
                <img src="..\.\assets\Add-On\Placement\6.2.png" alt="6.2">

            </div>



            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/placement/placement-1">What is the Placement Plugin?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-2">How to create a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-3">How to invite students for a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-4">How a student can apply for a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-6">How to archive placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-7">How can I edit a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-8">How can I view the archived placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-5">Is it possible to attendance status as well as placement
                            status for student?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>