<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create a purchase order?
                </h2>
                <p>
                    A purchase order is created when items are purchased from other businesses. A purchase order must be
                    created against a specific indent request.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Inventory >
                            Purchase Order </b> to open the<b> Purchase Order </b> page.

                    <li> In the top right, click the<b> New </b>button.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\23.1.jpg" alt="23.1">

                    <li> Select the <b>indent</b> number.
                    <li> In the <b>Purchase order No.</b> field, enter the purchase order number.
                        <b>Note:</b> If you’ve created purchase orders before, the purchase order number automatically
                        increments sequentially.
                    <li> In the <b>Store </b>field, select the store.
                    <li> In the<b> Supplier Type </b>field, select the supplier type.
                    <li> In the <b>Supplier</b> field, select the supplier from whom you are purchasing the items.
                    <li> In the <b>PO Date</b> field, select the purchase order date. It can be the current date, past
                        date, or a future date.
                    <li> In the <b>Reference</b> field, enter a reference ID that can be used to search for the purchase
                        order at a later time.
                    <li> In the <b>Store Item</b> field, select the item you are purchasing. The unit price of the item
                        is displayed.
                    <li> In the <b>Quantity</b> field, enter the quantity of item to be purchased.
                    <li> In the <b>Discount </b>field, enter the discount amount to be applied on the total amount.
                    <li> In the<b> Tax (%)</b> field, enter the tax percentage to be applied on the total amount.
                    <li> Click <b>Add item </b>(highlighted in green) if you need to purchase more items. To remove an
                        item from the purchase order, click the ‘x’ icon.
                    <li> Click the <b>Save</b> button.





                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>