<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is the advantage of Tally integration?
                </h2>
                <p>
                    Most of the institutions are using Tally to maintain their financial system. Whereas in EduCares,
                    user can make any type of finance transactions. Student can pay Fees (i.e. tuition fee, library fee,
                    transport fee etc.); Admin/authorized employee can issue salary for other employees etc. So, it’s
                    very absurd to enter manually all the finance transactions from EduCares to Tally.EduCares Tally is
                    a Plugin. It will copy all the finance transactions from EduCares to Tally. Basically, it’s a bridge
                    between EduCares and Tally. There are three type of synchronization mode in this plug in.
                </p>

                <ol class="parahone">
                    <li> Live Sync
                    <li> Manual Sync
                    <li> Bulk Export
                </ol>

                <p>
                    If you set as Live Sync, as in the image below.
                </p>
                <img src="..\..\assets\Add-On\Tally Integration\1.1.jpg" alt="1.1">
                <p>
                    If Live sync is enabled, then for each transaction it will send http request to your Tally server
                    and your Tally system will be updated automatically.
                </p>
                <p>
                    If you set as Manual Sync then you have to send the http request manually. You need to select start
                    date and end date, as in Fig 2 and click on schedule; it will send a http request to your Tally
                    server and your Tally system will be updated automatically.
                </p>
                <img src="..\..\assets\Add-On\Tally Integration\1.2.jpg" alt="1.2">
                <p>
                    And for Bulk export mode, you need to select start date and end date and click on Export; it will
                    generate a xml file. Download the file from download section and import it to your
                    Tally.
                </p>
                <p>
                    N.B. For live sync and manual sync, you need to configure your tally as a server. For that open
                    Tally and go to Configuration, then Advanced Configuration and configure it as mentioned below.
                </p>
                <ul class="parahone">
                    <li> Tally is acting as : Server/Both
                    <li> Port : 9000
                </ul> 
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/tally/tally-1"> What is the advantage of Tally integration? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>ś