<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit or delete marked attendance for an employee?
                </h2>

                <p> Only the administrator or a privileged employee (Employee Attendance privilege is required)
                    can edit/delete leave marked from the attendance register. However, there are certain conditions
                    when marked attendance can or cannot be edited/deleted:
                </p>
                <ul class="parahone">
                    <li> Attendance marked after the leave reset date can be edited or deleted.
                    <li> Attendance marked before the leave reset date can only be deleted.
                    <li> Additional leaves marked as LOP and added to an approved payslip cannot be edited or deleted.
                </ul>
                <p>
                    <b> Note:</b> Approved leave applications that were submitted through the Leave Application feature
                    cannot be edited or deleted from the attendance register.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Human Resource
                            > Employee Leave Management > Attendance Register.</b>
                    <li> Select the<b> department.</b> All employees of the selected department are displayed as
                        depicted in image 1.
                    <li> Select the<b> date</b> the employee was marked absent.
                    <li> Make the necessary changes in order to edit the leave. Click the Submit button, and then
                        click OK to confirm.
                        <br> Or
                        <br>Click the <b>Delete</b> button to delete the marked attendance. Once deleted, the employee
                        will be considered ‘present’ for that particular day and the leave count will be updated for the
                        employee.
                </ol>
                <p>
                    Use the <b>date filter</b> to view leave applications that were submitted before the last ‘Leave
                    Reset’ date. Click <b>View</b> beside a leave application to view its details.
                </p>
                <img src="..\..\assets\Solutions\Emp Att\8.1.jpg" alt="8.1">
                <img style="width: 60%;" src="..\..\assets\Solutions\Emp Att\8.2.jpg" alt="8.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>