<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create custom reminder?
                </h2>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon > <b> A> Administration > Reminders >
                            Create Custom Reminders </b> to open the <b>the Create Custom Reminders </b>page.
                    <li> In the <b>Reminder name </b>field, enter the name of the event/news.
                    <li> Select the date the reminder must be sent.
                    <li> Select the reminder mode –<b> Email and SMS.</b>
                        <img src="..\..\assets\Add-On\Reminders\8.1.png" alt="8.1">
                    <li> If the reminder mode is <b>Email,</b> enter the subject of the message, the email message, and
                        the signature.
                    <li> If the reminder mode is SMS, enter the <b>SMS</b> text message.<br>
                        <b>Note:</b> Try and keep the SMS text message within 160 characters because, if the message
                        exceeds 160 characters, there is a possibility of the message being delivered as two separate
                        messages.
                        You may also be charged accordingly.
                        <img src="..\..\assets\Add-On\Reminders\8.2.png" alt="8.2">
                    <li> If the recipients of the reminder are students, select <b>Students </b>as the user type, and
                        then
                        select the course and batch. Students of the selected batches are displayed. If you want parents
                        also to receive the reminder, select the <b>Parents</b> checkbox. If you want only the parents
                        receive the reminder, clear the<b> Students</b> checkbox.
                    <li> If the recipients of the reminder are employees, select<b> Employees</b> as the user type, and
                        then select the department. Employees of the selected departments are displayed.
                        <img src="..\..\assets\Add-On\Reminders\8.3.png" alt="8.3">
                    <li> After selecting the students/employees, click --> to move the users to the<b> Selected
                            users</b> column.<br>
                        <b> Note:</b> The total number users selected is displayed below the <b>Selected users</b>
                        column. The number includes only the selected students and employees, it does not include
                        parents.
                    <li> Click the <b>Save changes</b> button.

                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/reminder/reminder-1"> About Reminders </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-2">How reminder can be created for events? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-3"> How can I create reminder for a fee collection start
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-4"> How reminder can be created for a fee collection due
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-5">How to set reminder for exam dates? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-6">How to create reminder for online exams?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-7"> How can I view and edit event reminders? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-8"> How can I create custom reminder? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-9"> How can I edit or delete reminder settings for an
                            event? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>