<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is student Category?
                </h2>
                <p>

                    In an Institution, the student may be categorized into different categories.<br>
                    The category may be on the basis of any criteria. For example:
                </p>
                <ol class="parahone">
                    <li>
                        Boarding Category as Day Scholar, Week Boarding, Regular Boarding, etc
                    </li>
                    <li>
                        Government Specified Category as Handicapped students, foreign, nationals, reserved category,
                        etc.
                        The institute may have different Fee structure, discounts, etc which are based on such
                        categories.
                        While admitting the student, the student category can be updated and the fees can be set
                        accordingly and
                        for this in the settings module, the Student category needed to be added.

                        To add the student category in the EduCares, follow below steps:</li>

                </ol>
                <p>
                    <b>
                        Steps:
                    </b>
                </p>

                <ol class="parahone">
                    <li>
                        Go to <b>Menu > Administration > Settings.</b></li>
                    <li>
                        Click on <b>Manage Student</b> Category.</li>

                    <img src="..\..\assets\Solutions\Settings\15.1.jpg" alt="15.1">
                    <li>
                        Create a new student category by adding a name and save it.</li>

                    <img src="..\..\assets\Solutions\Settings\15.2.jpg" alt="15.2">
                    <li>
                        Student categories can be edited or deleted at any time.
                    </li>

                    <img src="..\..\assets\Solutions\Settings\15.3.jpg" alt="15.3">
                    <li>
                        To edit the category, click <b>Edit</b> beside the student category that you want to edit, make
                        the
                        necessary changes, and then click the <b>Save</b> button.</li>
                    <li>
                        To delete the category, Click <b>Delete</b> beside the student category that you want to delete.
                    </li>

                </ol>







            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>