<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>

                    How to assign or unassign fee collections to a student?
                </h2>
                <p>
                    When using the Fee Imports plugin to manage a student’s fee collections, the following fee
                    collections may be listed for a student:

                </p>

                <ul class="parahone">
                    <li>

                        Paid and unpaid fee collections for the current batch. Paid fee collections will be disabled.
                    </li>
                    <li> Fee collections created specifically for the student.</li>
                    <li> Unpaid fee collections for a previous batch. Once paid, the previous batch fee collections will
                        no longer be listed.</li>
                    <li> Unassigned fee collections that may be applicable to the student. For example, fee collections
                        created before the student was admitted.

                    </li>
                </ul>
                <img src="..\..\assets\Add-On\Fee Import\3.1.png" alt="3.1">

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon > <b>Administration > Finance >
                            Fees
                            > Fee Imports.</b></li>
                    <li> Select a batch. All students in the batch are listed in the left with fee collections on the
                        right.
                    </li>

                    <li> Select or clear the checkboxes to assign or unassign fee collections for a student.
                        <br> <b>Note:</b> A minimum of one fee collection must be assigned to a student.</li>
                    <li> Click the<b> Assign</b> button.
                    </li>

                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/feeimport/feeimport-1"> About Fee import plugin </a>

                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-2"> How to assign fee collections to a student during
                            admission? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-3"> How to assign or unassign fee collections to a
                            student? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>