<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to activate or inactivate course for online registration?
                </h2>
                <p>
                    A course can be activated for online registration while setting it up or at a later time. When a
                    course is active, applicants can register for the course online. When a course is not active,
                    applicants will not be able to register.
                </p>
                <ol class="parahone">
                    <li> Click the module access icon ><b> Academics > Applicant> Settings > Active Years and
                            Courses.</b>
                        <img src="..\..\assets\Add-On\Enquiry and Registration\5.1.png" alt="5.1">
                    <li> Select the academic year and click on <b>Edit.</b> All the of the academic year will be
                        displayed.
                        <img src="..\..\assets\Add-On\Enquiry and Registration\5.2.png" alt="5.2">
                    <li> Click on the <b>Check box</b> to <b>Activate</b> and <b>Inactivate</b> the course
                    <li> Click on <b>Save</b>.

                </ol>
                <img src="..\..\assets\Add-On\Enquiry and Registration\5.3.png" alt="5.3">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-1"> Can students directly apply for admission to
                            courses from website?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-2"> How can I set up course for online registration?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-3"> How to add custom fields to student admission form?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-4"> How to inactivate or delete custom admission detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-5"> How to activate or inactivate course for online
                            registration?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-6"> How do applicants register for a course online?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-7"> How can I view the list of applicants registered for a
                            particular
                            course?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-8"> How applicants can be searched by registration number?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-9"> How to allot a student applicant to a course?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-10"> How to discard a registered applicant?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>