<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I approve or deny leave request of an employee?
                </h2>
                <p>
                    Only managers can approve or deny leave applications of employees who report to them.
                </p>

                <ol class="parahone">

                    <li> At the top of the dashboard, click the module access icon><b> Academics > Leaves > Reportee’s
                            Leaves</b> to open the <b>Reportee’s Leaves</b> page.
                    <li> In the top right, click the<b> Pending leave applications</b> button as depicted in image
                        1. Pending leave applications are displayed.
                    <li> Click on the <b>leave applicatio</b>n by clicking on employee name.
                        <br> Note: If it is an additional leave, you will be notified. And if LOP is enabled for the
                        selected leave type, you can mark the leave as a deductible leave (LOP).
                    <li> Enter any <b>Remarks.</b>
                    <li> Click the<b> Approve</b> or <b>Deny</b> button to approve/deny the leave application.

                </ol>
                <img src="..\..\assets\Solutions\Emp Att\4.1.jpg" alt="4.1">
                <img src="..\..\assets\Solutions\Emp Att\4.2.jpg" alt="4.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>