<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What all things will change when a Theme is changed?
                </h2>

                <p>
                    When a theme is applied, the color theme of header and footer, the text color etc are changed to the
                    color to which the theme is applied. The Icons won't change.
                </p>
                <p>
                    In General Settings we have to click option “Select Themes”.

                </p>

                <img src="..\..\assets\Add-On\Themes\1.1.png" alt="1.1">


            </div>



            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/themes/themes-1"> What all things will change when a Theme is changed?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/themes/themes-2">What is the use of color theme module in eduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>