<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I collect transport fee user-wise?
                </h2>

                <p>
                    When collecting and processing transport fees for each student or employee, a full payment
                    transaction must be created. You cannot create a partial fee payment transaction.
                </p>

                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon <b>Menu > Administration > Transport
                            > Transport Fee > Pay fees > User-wise.</b>
                    <li> Select<b>Student</b> and enter the name or admission number of the student to search or select
                        <b>Employee</b> and enter the name or employee ID of the employee to search.
                    <li> Click on the <b>student/employee.</b>
                    <li> Select a fee collection date.

                        <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\20.1.png"
                            alt="20.1">

                    <li> If the due date for the fee collection has passed, enter the applicable fine amount and then
                        click the <b>Add fine</b> button.

                        <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\20.2.png"
                            alt="20.2">

                    <li> Select the payment mode from the following options:
                        <ul>
                            <li> <b>Cash</b>
                            <li> <b>Online Payment</b>
                            <li><b> Cheque</b>
                            <li> <b>DD (Demand Draft)</b>
                            <li> <b>Others</b>
                        </ul>
                    <li> Enter the <b>payment notes.</b>
                    <li> Click the<b> Pay fees</b>button.

                        <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\20.3.jpg"
                            alt="20.3">

                            <br>   Click the icon if you want to revert the transaction.

                    <li> Click the <b>Print receipt</b> button to generate a PDF of the receipt, and then print the
                        receipt.

                        <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\20.4.jpg" alt="20.4">

                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-1"> About Transport module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-2"> How to add route additional details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-3"> How to add custom fields to record route additional
                            details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-4"> How to do the basic settings in Transport? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-5"> How can I change the 'stop' point of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-6"> How to inactivate or delete a custom route detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-7"> How to set up a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-8"> How to add new stops to an existing route?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-9"> How can I edit/inactivate/delete a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-10"> How can I inactivate or delete vehicle additional
                            detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-11"> How new vehicle details can be added?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-12"> How can I edit, inactivate or delete vehicle details?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-13"> How can I assign student or employee to a Route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-14"> How can I change the route details for a student or
                            employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-15"> How can I schedule transport fee collection for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-16"> How can I assign an existing transport fee collection
                            to a
                            student/employee? </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>ś