<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to do the basic settings in Transport?
                </h2>
                <p>
                    Complete the basic configuration before start with the Transport setup from,
                    <br> <b>Home -> Administration -> Transport -> Settings -> Basic Settings</b>

                    <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\4.1.jpg" alt="4.1">

                    <br><br> <b><u> I) Route Mode</u></b>

                    <br><br> Here you can decide how the transport routes are assigned to passengers. There are two
                    option available. You can select any of it according to the institutional requirement.

                    <br><br> 1- Passengers may be assigned a different pick up and drop route

                    <br><br> You can select this option, if passengers are using different pick up and drop route. So
                    while assigning transport to Student/Employee you will get the options as shown below,

                    <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\4.2.jpg" alt="4.2">

                    <br><br> 2- Passengers are assigned one route for pick and drop

                    <br><br> If passengers are using same route for pick up and drop you can enable this option. So
                    while assigning transport, you will get the page like below,

                    <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\4.3.jpg" alt="4.3">

                    <br><br> <u><b> II) Fare Mode</b></u>

                    <br><br> Here you can configure the fare mode of the transport facility. Two options are available
                    here,

                    <br><br> 1-Stops may have different fares

                    <br><br> If each stops have different fares you can select this option. So while creating routes you
                    will get an option to provide<b> different fare for each stops.</b>

                    <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\4.4.png"
                        alt="4.4">

                    <br><br> 2- Route has a single fare for all stops

                    <br><br> You can enable this option, If the all stops in a route have a <b>single fair.</b> So,
                    while creating routes you will get an option to update the fare as shown in fig,

                    <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\4.5.png"
                        alt="4.5">

                    <br><br> <u><b> III) Auto update Transport fees</b></u>

                    <br><br> You can decide whether to enable or disable auto update of unpaid fee collections when
                    passenger route is changed.

                    <br><br> <u><b> IV) Academic Year</b></u>

                    <br><br> To refer the transport details (Stops, Routes, Vehicles etc) of each academic year, you can
                    select the academic year using this option and check it from the module.
                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-1"> About Transport module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-2"> How to add route additional details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-3"> How to add custom fields to record route additional
                            details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-4"> How to do the basic settings in Transport? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-5"> How can I change the 'stop' point of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-6"> How to inactivate or delete a custom route detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-7"> How to set up a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-8"> How to add new stops to an existing route?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-9"> How can I edit/inactivate/delete a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-10"> How can I inactivate or delete vehicle additional
                            detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-11"> How new vehicle details can be added?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-12"> How can I edit, inactivate or delete vehicle details?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-13"> How can I assign student or employee to a Route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-14"> How can I change the route details for a student or
                            employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-15"> How can I schedule transport fee collection for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-16"> How can I assign an existing transport fee collection
                            to a
                            student/employee? </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>ś