<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I schedule/create a new hostel fee collection for each student?
                </h2>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > Hostel > Fee
                        Collection > User-wise Fee Collections</b> to open the<b> Fee Collections page.</b>
                </p>
                <img src="..\..\assets\Add-On\Hostel\16.1.jpg" alt="16.1">
                <ol class="parahone">
                    <li>  Select the <b>Create New Fee Collection</b> option.
                    <li> In the <b>Hostel Fee Collection Name</b> field, enter the name of the hostel fee collection.
                    <li>  In the<b> Start date </b>field, select the date from which you intend to start collecting the fees.
                    <li>  In the <b>Due date</b> field, select the due date within which the student must pay the hostel fee.
                        Students who do not pay the fee on or before the due date will be listed as a fee defaulter. If
                        the due date has passed, you can apply a late fee fine.
                    <li>  In the<b> Search Student</b> field, enter the first name or admission number of the student to
                        search and assign.
                    <li>  Click the <b>Create </b>button

                       <br><b> Note:</b> You can only search for students who have been assigned to a hostel.


                </ol>
               

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>