<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Configure the Finance Settings
                </h2>
                <p>
                    For configuring the Fee Collection, the Admin/Privilege user need to do some basic finance settings
                    which include:
                <ol class="parahone">
                    <li> <b> General Settings:</b> To configure settings required to manage the different fees in your
                        institution.
                    <li> <b>Printer Settings:</b> To configure the printer type and paper size used for printing
                    <li> <b> PDF Settings:</b> To configure the details to be shown in the receipt PDF including
                        signature and custom footer text
                    <li> <b> Receipt Sets:</b> To create and manage receipt sequences for various fees
                    <li> <b> Receipt Templates:</b> To design custom templates with header and footer for fee receipts
                    <li> <b>Fee Accounts:</b> To group fees into multiple accounts
                    <li> <b> Financial Years:</b> To manage different transactions carried out under a particular
                        financial year.
                </ol>
                <p>
                    Steps to configure the general settings are as follows:

                    <br> <br> Step 1: Go to Menu > Administration > Finance > Finance Settings
                    <br> Step 2: Create a Financial Year.
                    <br> Step 3: Create Fee Accounts.
                    <br> Step 4: Configure “Receipts Sets”
                    <br> Step 5: Configure “Receipt Templates”
                    <br> Step 6: Configure “PDF Settings”
                    <br> Step 7: Configure “Printer Settings”
                    <br> Step 8: Configure the “General Settings”

                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-1"> What is fee collection and how to set it?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-2"> How can I Create / Edit / Delete a Fee Category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-3"> How can I Create / Edit / Delete a fee particular?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-4">How to Create / Edit / Delete student fee discount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-5"> How can I set up and edit / delete fines for late fee
                            payments?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-6"> What is meant by scheduling student fee collections?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-7"> How can I schedule a fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-8"> How can I Edit/Delete a scheduled fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-10"> How to create a Fee refund rule for Fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-11"> How do I edit or delete an existing refund rule?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-12"> How do I revert a Fee refund?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-13"> Can I specify a custom fee payment date?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-14"> Can I create instant fee particulars or fee discounts at the
                            time of collecting fees?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-15"> Can I view all reverted/deleted transactions in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-9"> How to manage fee particulars and fee discounts from student
                            fee collections?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>