<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to Add / Edit / Delete normal subjects? </h2>

                <p>
                    <b>Add Normal subjects to a batch:</b>
                </p>
                <p> To add a normal subject to a batch, you must either be the <b>administrator</b> or a <b>privileged
                        employee
                    </b>(<b>Manage Course/Batch</b> or <b>Subject master</b> privilege must be is provided). A normal
                    subject is a mandatory subject that must be completed in order to meet the requirements of a course.
                    Normal
                    subjects are applicable to all students in the batch.
                </p>
                <p>
                    If you are not importing subjects from the previous batch, you will have to add new subjects for the
                    batch. You can add normal subjects using the following methods.</p>

                <p>
                    <u><b>Through the Manage Course or Manage Batch page:</b></u>
                </p>
                <p>
                    At the top of your dashboard, click the <b>Menu > Administration > Settings > Manage Course/Batch >
                        Manage Course</b> to open the <b>Manage Course</b> page.</p>
                <p> OR</p>
                <p>
                    At the top of your dashboard, click the <b>Menu > Administration > Settings > Manage Course/Batch >
                        Manage Batch</b> to open the <b>Manage Batch</b> page.</p>


                <p class="tab">
                    1. Select the <b>Course</b>. All batches of the selected course are displayed.</p>
                <p class="tab">2. Select the <b>batch.</b></p>
                <p class="tab"> 3. In the top right, click <b>Manage > Subject</b> to open the <b>Assign Subject</b>
                    page as depicted
                    in figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\3.1.jpg" alt="3.1">
                <p class="tab">
                    4. Click the <b>Add Normal subject</b> link as shown in figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\3.2.jpg" alt="3.2">
                <img src="..\..\assets\Solutions\Settings\3.3.jpg" alt="3.3">
                <p class="tab">
                    5. In the <b>Name</b> field, enter the subject name.</p>
                <p class="tab">
                    6. In the <b>Code</b> field, enter the subject code.</p>
                <p class="tab">
                    7. In the <b>Max weekly classes</b> field, enter the maximum number of classes that the subject can
                    be
                    taught
                    in a week.</p>
                <p class="tab">
                    8. In the <b>Credit Hours</b> field, enter the number of credit hours for the subject.
                    Note: This field is available only when the grading system for the course is GPA or CWA.
                </p>
                <p class="tab">
                    9. Select the <b>No exam </b>checkbox if no exams will be conducted for the subject.
                </p>
                <p class="tab">
                    10. Click the <b>Save</b> button.</p>


                <p><u><b>
                            Through the Subjects page:
                        </b></u></p>

                <p>

                    At the top of your dashboard, click the module access <b>icon > Administration > Settings > Manage
                        Subject</b> to open the <b>Subjects</b> page.</p>

                <p class="tab">
                    1. Select the batch for which you want to add a normal subject, on the right top, click <b>Add
                        Normal
                        Subject</b> as depicted in figure.</p>
                <img src="..\..\assets\Solutions\Settings\3.4.jpg" alt="3.4">
                <img src="..\..\assets\Solutions\Settings\3.5.jpg" alt="3.5">
                <p class="tab">2. In the <b>Name</b> field, enter the subject name.</p>
                <p class="tab"> 3. In the <b>Code </b>field, enter the subject code.
                </p>
                <p class="tab">
                    4. In the<b> Max weekly classes</b> field, enter the maximum number of classes that the subject can
                    be
                    through in a week.
                </p>

                <p class="tab">
                    5. In the<b> Credit Hours</b> field, enter the number of credit hours for the subject.
                    <b> Note: </b>This field is available only when the grading system for the course is GPA or CWA.

                </p>
                <p class="tab">
                    6. Select the <b>No exam</b> checkbox if no exams will be conducted for the subject.</p>
                <p class="tab">
                    7. Click the <b>Save</b> button.</p>
                <p class="tab">
                    7. In the Max weekly classes field, enter the maximum number of classes that the subject can be
                    taught
                    in a week.</p>
                <img src="..\..\assets\Solutions\Settings\3.6.jpg" alt="3.6">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>