<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to approve or reject an Indent request?
                </h2>
                <p>
                    Indents raised by employees must be approved by their managers.
                </p>
                <p>
                <b> Note: </b>Privileged Employees can raise indents only if they have been assigned a manager.
                </p>
                <ul class="parahone">
                    <li> <b>What happens if an indent request is approved?</b>
                        <br> The items requested by the employee will be issued.
                        <br><br>
                    <li> <b> What happens if an indent request is rejected?</b>
                        <br> The employee can make the necessary corrections, and then resubmit the indent request for
                        approval.
                        <br><br>
                    <li><b> What if the item requested is not available or not in sufficient quantity?</b>
                        <br> The indent request can still be approved. After approval, create and issue a purchase order
                        for the pending quantity. After the items are supplied, create a goods receipt note. The pending
                        quantity is automatically issued to the employee.
                        <br><br>
                    <li> <b> Can an approved indent request be rejected or vice versa?</b>
                        <br> Once issued, an indent request cannot be rejected. However, a rejected indent request can
                        be approved again.

                </ul>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Inventory >
                            Indents</b> to open the<b> Indents</b> page. Indents of all statuses (<b>Pending, Issued,
                            Rejected</b>) will be listed.
                    <li> Search for an indent request by selecting an indent status and clicking the <b>Submit
                        </b>button. You can also search for an indent request by selecting an indent status, entering an invoice number,
                        and then clicking the <b>Submit</b> button.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\21.1.jpg" alt="21.1">

                    <li> Click <b>Accept </b>beside the indent request you want to approve. Verify the indent request
                        details.


                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\21.2.jpg" alt="21.2">


                </ol>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>