<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Language list in EduCares
                </h2>

                <p>
                    <b>EduCares</b> has been translated into the following languages:
                </p>

                <p class="tab">
                    1. Deutsch (German)</p>
                <p class="tab">
                    2. Dominican Español (Dominican Spanish)</p>
                <p class="tab">
                    3. Dutch</p>
                <p class="tab">
                    4. English</p>
                <p class="tab">
                    5. Español (Spanish)</p>
                <p class="tab">
                    6. Español Latino Americano (American Spanish)</p>
                <p class="tab">
                    7. Galego (Galician)</p>
                <p class="tab">
                    8. Italiano (Italian)</p>
                <p class="tab">
                    9. Russian</p>
                <p class="tab">
                    10. Türkçe (Turkish)</p>
                <p class="tab">
                    11. Français (French)</p>
                <p class="tab">
                    12. Português (Portuguese)</p>
                <p class="tab">
                    13. tiếng Việt (Vietnamese)</p>
                <p class="tab">
                    14. монгол хэл (Mongolian)</p>
                <p class="tab">
                    15. العربية (Arabic)</p>
                <p class="tab">
                    16. کوردی (Kurdish)</p>
                <p class="tab">
                    17. मराठी (Marathi)</p>
                <p class="tab">
                    18. हिंदी (Hindi)</p>
                <p class="tab">
                    19. ગુજરાતી (Gujarati)</p>
                <p class="tab">
                    20. 中國的 (Simplified Chinese)</p>
                <p class="tab">
                    21. 日本の (Japanese)</p>
                <p class="tab">
                    22. 한국어 (Korean)</p>
                <p class="tab">
                    23. Ελληνικά (Greek)</p>
ś
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>