<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Fee import plugin
                </h2>
                <p>
                    The <b>Fee Imports</b> plugin (At the top of your dashboard, click the module access icon >
                    <b>Administration > Finance > Fees > Fee Imports</b>) allows the Administrator or a Privileged
                    Employee (<b>Manage
                        Fee</b> privilege is required) easily manage student fee collections. Students can be assigned
                    to or unassigned from fee collections. And if your
                    institution uses the<b> Fee Imports</b> plugin, when admitting students using the Student Admission
                    form, fee collections can be assigned to students.
                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/feeimport/feeimport-1"> About Fee import plugin </a>

                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-2"> How to assign fee collections to a student during
                            admission? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-3"> How to assign or unassign fee collections to a
                            student? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>