<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can admin mark employee attendance (absence) in Educares?
                </h2>
                <p>
                    The employee attendance register can be used to:

                </p>
                <ul class="parahone">
                    <li> View the attendance details for all employees of a department. When an employee applies for
                        leave through the Leave Request feature and is approved by the manager, the employee’s
                        attendance register will display an ‘X’ against the name of the employee for that particular
                        date(s).
                    <li> Mark employee attendance in case an employee forgets to apply for leave.
                    <li> Mark employee attendance (Additional) for an employee who has exhausted all leaves of a
                        particular leave type. An employee in Educares is allowed to apply for leave based on the number
                        of leaves available in each leave type. However, if an employee has exhausted all leaves of a
                        particular
                        leave type, then the administrator or a privilege employee (<b>Employee attendance</b> privilege
                        is
                        required) can mark the employee as ‘absent’ from the employee attendance register. This leave is
                        called
                        <b> Additional Leave.</b>
                </ul>
                <p>
                    To mark employee attendance using the employee attendance register:
                </p>

                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Human Resource
                            >
                            Employee Leave Management > Attendance Register.</b>
                    <li> Select the <b>department</b> All employees of the selected department are displayed.
                    <li> Select the date you want to mark the employee absent.
                    <li> In the <b>Leave type</b> field, select the leave type.
                    <li> Select the<b> Half Day</b> checkbox if the employee was absent for only half day else select
                        Full
                        day.
                    <li> In the <b>Reason</b> field, enter any remarks.
                    <li> Click the <b>Submit</b> button, and then click OK to confirm.

                </ol>
                <img src="..\..\assets\Solutions\Emp Att\6.1.jpg" alt="6.1">
                <img style="width: 60%;" src="..\..\assets\Solutions\Emp Att\6.2.jpg" alt="6.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>