<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How To Add Subjects In Subject Center </h2>

                <p>
                    To add a subject, subject groups or electives in EduCares go to –
                </p>
                <p>
                    <b> Home>>Academics>>Subjects Center>>Class Subjects>>Select Class</b>
                </p>

                <p>
                    <b>1. Add Subjects</b>
                </p>
                <p>
                    Select +Subject and add the subject details
                </p>
                <img src="..\..\assets\Solutions\Settings\13.1.jpg" alt="13.1">
                <img src="..\..\assets\Solutions\Settings\13.2.jpg" alt="13.2">
                <p>
                    Select Import Subject to import the subject from an already existing class.
                </p>
                <img src="..\..\assets\Solutions\Settings\13.3.jpg" alt="13.3">
                <img src="..\..\assets\Solutions\Settings\13.4.jpg" alt="13.4">

                <p>
                    <b>
                        2. Add Subject Group
                    </b>
                </p>

                <p>
                    Select +Subject Group and Add subject Group details
                </p>
                <img src="..\..\assets\Solutions\Settings\13.5.jpg" alt="13.5">
                <img src="..\..\assets\Solutions\Settings\13.6.jpg" alt="13.6">
                <img src="..\..\assets\Solutions\Settings\13.7.jpg" alt="13.7">
                <p>
                    Within a subject group, you can add subjects or elective groups.
                </p>
                <img src="..\..\assets\Solutions\Settings\13.8.jpg" alt="13.8">
                <p>
                    <b>
                        3. To Add Electives
                    </b>
                </p>
                <img src="..\..\assets\Solutions\Settings\13.9.jpg" alt="13.9">
                <img src="..\..\assets\Solutions\Settings\13.10.jpg" alt="13.10">
                <p>
                    We can add subjects within an elective group.
                </p>
                <img src="..\..\assets\Solutions\Settings\13.11.jpg" alt="13.11">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>