<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Settings Page Overview
                </h2>
                <p>

                    EduCares comprises various modules and plugins to efficiently manage all administration, management,
                    and learning-related activities. The <b>‘Menu’</b> at the top of your dashboard provides access to
                    the core
                    modules and the plugins that are available for your institution to use.


                </p>
                <p>
                    To get started using the different modules, first, we need to do the following settings in the
                    EduCares application.
                </p>

                <p>
                    <b> Note:</b> To access the <b>Settings</b> option in the EduCares, the user needs to follow the
                    below steps.

                </p>
                <p>
                    <b>Steps:</b>
                </p>

                <p class="tab">
                    <li>
                        Click on Menu > Administration > Settings link in the dashboard as shown in Figure.
                    </li>
                </p>
                <img src="..\..\assets\Solutions\Settings\14.1.png" alt="14.1">
                <p class="tab">
                    <li>
                        It displays the Configuration Home page within EduCares depicted in Figure.
                    </li>
                </p>
                <img src="..\..\assets\Solutions\Settings\14.2.jpg" alt="14.2">
                <p>
                    As we can see in the above screenshot, the configuration page consists of the following options:
                </p>

                <ol class="parahone">
                    <li>Manage Class/Section: This option is used to configure the batches, classes, or courses and its
                        sections in the EduCares system. For example, Users can add classes like <b>Grade 1, Class 1,
                            BBA
                            Year 1,</b> etc and Sections as <b>A, B, Semester 1,</b> etc.
                    </li>

                    <li>
                        <b>Manage student category:</b> This option is used to add student categories that are
                        present in
                        the
                        school or college. In order to manage the discounts in the Fee or characterize the students in
                        the
                        school, category creation is used.
                    </li>
                    <ul>
                        <li>
                            For example, users can add categories like Staff Category, Siblings, Day Scholar, Regular
                            Boarding,
                            etc.
                        </li>
                    </ul>

                    <li>
                        <b>Manage Subjects:</b> This option is used to add and assign subjects to different courses,
                        batches, or
                        classes in the EduCares system.
                    </li>
                    <li>
                        <b>General Settings:</b> This option is used to configure or add general information
                        regarding
                        the
                        school or the college such as School Name, Address, Logo, Grading System, Language, Currency,
                        etc.
                    </li>
                    <li>
                        <b>Add admission additional details:</b> This option is used to add the additional field in
                        the
                        EduCares
                        system which will be used while admitting the Student in the EduCares. For Example Passport
                        Number,
                        Birth Certificate, etc.<br>
                        Once the field is added, the user will have the option to add the details inside these fields
                        while
                        entering the student details in the system.

                    </li>
                    <li>
                        <b>Manage student roll numbers:</b> This option is used to sort all students in the
                        institution.
                        The student
                        can be sorted with either Admission Number, First Name, or Last name.
                        Based on the value you select, roll numbers can be generated for all students.
                    </li>
                    <li>
                        <b>Student Document Categories:</b> This option is used to Add or Create Student Document
                        categories which
                        can be used to upload the documents at the time of admission of the student in the EduCares
                        System.
                        <br>For Example- Passport, Previous Report Card, etc.
                    </li>


                    <li> Feature Access Settings: This option is used to configure or enable the list of features that
                        the
                        parent/guardian of your institution can have access to. This list includes:
                    </li>

                    <p>
                        a. <b>Gallery:</b> To see the shared gallery</p>
                    <p>
                        b. <b>Hostel:</b> To see the ward’s hostel details</p>
                    <p>
                        c. <b>Transport:</b> To see the ward's transport details.</p>
                    <p>
                        d. <b>Student’s Documents:</b> To see the ward’s documents.</p>
                    <p>
                        e. <b>Assignment:</b> To see the ward’s homework or assignments.</p>
                    <p>
                        f. <b>Tasks:</b> To see the tasks.</p>

                    <li>
                        <b>Academic Years:</b> This option is used to configure or add the Academic Year of the
                        institution.
                        <br>For Example: <b>2019-2020, 2020-2021 etc.</b> <br>
                        We can set the desired academic year accordingly such that all the students admitted, exams,
                        sections
                        created will be under this chosen academic year. It helps to organize the events and data
                        chronologically for better efficiency in the institution.
                    </li>
                    <li>
                        <b>Custom Words:</b> This option is used to add custom words in order to manage the
                        variations in the
                        EduCares System. Once the custom words are enabled, it helps to display the user-specified words
                        on
                        the
                        UI of EduCares.
                        <br>
                        For example, Courses can be called Classes or Batches.
                    </li>
                    <li>
                        <b>Manage Clients:</b> This option is used to add client apps or websites such as Wikipedia
                        so that
                        users
                        can have access to these clients inside their EduCares Login.
                    </li>
                </ol>





            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>