<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How user can edit,delete or unpublish his blog post?
                </h2>
                <p>
                    First go to blog and click on my blog. It give a list of blog posted by the logged person. Refer
                    image.
                </p>
                <p>
                    <b>Note:-</b> Blog operation edit, delete ou unpublish of a blog can be done by the person who did
                    the blogging.
                </p>

                <ul class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Collaboration> blog> My
                            blog</b>
                    <li> Perform the <b>Edit,Delete</b> and <b>Unpublish</b> to perform the editing, deleting and
                        un-publishing the blog post
                </ul>
                <img src="..\..\assets\Add-On\Blog\2.1.jpg" alt="2.1">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-1"> How a student or employee can create a blog? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-2"> How user can edit,delete or unpublish his blog post?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-3"> What is 'Settings' in blog module used for?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-4"> I can see a 'Activities' in the blog module. What is the use of
                            this? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-5"> How a blog admin can ban blog as well as delete a blog comment?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/blog/blog-6"> Can a blog post which is banned be un-banned?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>