<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I add an employee in Educares? What are the fields to be filled?
                </h2>
                <p>

                    Educares users who are assigned with the role of an employee are called Educares employees. An
                    employee here may either belong to teaching staff or non-teaching staff in your institution. The
                    role of an employee is automatically assigned to an individual,when the employee is admitted into
                    the institution. When admitting an employee, the employee’s privileges are set according to the
                    responsibilities the employee is assigned in an institution, thus creating a <b>Privileged
                        Employee.</b>

                    <br><br>For more information about assigning employee privileges, see the section<b> User Roles and
                        Privileges in the Educares Institution Setup User Guide.</b> The administrator or a privileged
                    employee (<b>HR Basics</b> privilege is required) can use the employee admission form, to admit a
                    new employee in Educares. Click the Module access icon ><b> Administration > Human Resource >
                        Employee Management > Employee admission.</b>

                    <br><br> The following table describes all fields available on the employee admission form.
                    <br><b> Note:</b> Fields marked with an asterisk (*) are mandatory.
                </p>
                <p><b><u>General Details</u></b></p>

                <table>
                    <tr>
                        <th>Field Name</th>
                        <th>Field Description</th>
                    </tr>
                    <tr>
                        <td>Employee Number*</td>
                        <td>
                            Enter the employee number. Employee numbers must be unique for each employee in the
                            institution. Important information to know about employee numbers:
                            <ul class="parahone">
                                <li> <b>Username</b> – The employee number is also the username that the employee will
                                    use to log in to Educares.
                                <li> <b>Naming Convention</b> – Employee numbers can contain only alphanumeric
                                    characters, underscores, and hyphens.
                                <li> <b>Auto Increment of Employee Numbers</b> – If the <b>Enable Auto increment
                                        Employee no. check-box</b> is selected in the<b> General settings</b> page when
                                    setting up
                                    your institution, the first employee number will have to be manually entered. From
                                    the next admission
                                    onwards, he employee number will be automatically incremented. If the <b>Enable Auto
                                        increment
                                        Employee no. is not selected</b>, you must manually enter the employee number
                                    every time
                                    an employee is admitted into the institution.
                                <li> <b>Changing an employee number</b> – Generally the employee number of a student
                                    remains unchanged till the employee leaves the institution. However, if the employee
                                    number
                                    of an employee needs to be changed, it can be done at any time from the employee’s
                                    profile by the
                                    Administrator or a Privileged Employee.
                                <li> <b>Allotting the admission number of a deleted student to a newly admitted
                                        student</b> – Yes, you can allot the employee number of an employee who you have
                                    permanently
                                    deleted from Educares to a newly admitted employee.
                                <li> <b>Searching Employees</b> – In Educares, you can search for employees from
                                    several areas based on your role and privileges assigned. For example, you can
                                    search for
                                    employees using the search bar at the top of your dashboard when managing user
                                    accounts, allotting
                                    transport, and many more. Apart for using the first or last of the employee to
                                    search, you can
                                    also use the employee’s employee number to search.
                                <li> <b>Employee Reports </b>– Employee numbers appear in all employee reports.
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Joining date</td>
                        <td>Select the joining date of the employee.</td>
                    </tr>
                    <tr>
                        <td>First Name*</td>
                        <td>Enter the first name of the employee.</td>
                    </tr>
                    <tr>
                        <td>Middle Name</td>
                        <td>Enter the middle name of the employee.</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>Enter the last name of the employee.</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>Enter the email address of the employee.</td>
                    </tr>
                    <tr>
                        <td> Gender</td>
                        <td>Select the gender of the employee.</td>
                    </tr>
                    <tr>
                        <td> Date of Birth*</td>
                        <td>Select the date of birth of the employee.</td>
                    </tr>
                    <tr>
                        <td>Department*</td>
                        <td>Select the department the employee will be assigned to.</td>
                    </tr>
                    <tr>
                        <td> Category*</td>
                        <td>Select the employee category the employee will be assigned to.</td>
                    </tr>
                    <tr>
                        <td>Position*</td>
                        <td>Select the position of the employee.</td>
                    </tr>
                    <tr>
                        <td>Grade</td>
                        <td>Select the grade of the employee.</td>
                    </tr>
                    <tr>
                        <td>Job Title</td>
                        <td>Enter the job title of the employee.</td>
                    </tr>
                    <tr>
                        <td>Qualification</td>
                        <td>Enter the qualification details of the employee.</td>
                    </tr>
                    <tr>
                        <td>Experience Info</td>
                        <td>Enter the experience details of the employee.</td>
                    </tr>
                    <tr>
                        <td>Total Experience</td>
                        <td>Specify the total experience of the employee.</td>
                    </tr>
                </table>

                <p><b><u>Personal Details</u></b></p>
                <table>
                    <tr>
                        <td>Marital Status</td>
                        <td>Select the marital status of the employee from the following options:
                            <ul class="parahone">
                                <li> Single
                                <li> FMarried
                                <li> Divorced
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>No. of children</td>
                        <td>Enter the number of children for the employee.
                            <br> <b>Note:</b> This field is available only when Married or Divorced is selected in the
                            Marital Status field.
                        </td>
                    </tr>
                    <tr>
                        <td>Father Name</td>
                        <td>Enter the father’s name of the employee. </td>
                    </tr>
                    <tr>
                        <td>Mother Name</td>
                        <td>Enter the mother’s name of the employee. </td>
                    </tr>
                    <tr>
                        <td>Spouse Name</td>
                        <td>Enter the spouse’s name of the employee.
                            <br><b> Note:</b> This field is available only when Married or Divorced is selected in the
                            Marital Status field. </td>
                    </tr>
                    <tr>
                        <td>Blood Group</td>
                        <td> Select the blood group type of the employee.
                        </td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>Select the nationality of the employee.</td>
                    </tr>
                </table>
                <p><b><u>Settings</u></b></p>
                <table>
                    <tr>
                        <td>Biometric ID</td>
                        <td> Enter the biometric ID of the employee if the institution is using a biometric attendance
                            system to track employee attendance.</td>
                    </tr>
                    <tr>
                        <td>Upload User Photo</td>
                        <td>Upload a photo of the employee that will be displayed in the employee’s profile.
                            <br><b> Note:</b> The recommended photo size is 500KB, and must be of file type: GIF, PNG,
                            or JPG. The Recommended resolution is 125x125</td>
                    </tr>
                    <tr>
                        <td>Save & Proceed (button)</td>
                        <td>Click this button to save the entered information and move to the next page.
                            <br><b> Note:</b> On clicking the Save & Proceed button, the employee record is created in
                            Educares. If you have configured SMS setting for your institution, the employee will receive
                            an SMS notification about the admission, along with the Educares login details.</td>
                    </tr>
                </table>
                <p><b><u>Home Address</u></b></p>
                <table>
                    <tr>
                        <td>Line 1 & 2</td>
                        <td>Enter the home address of the employee.</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Enter the name of the city.</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>Enter the name of the state.</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>Enter the name of the country.</td>
                    </tr>
                    <tr>
                        <td>PIN code</td>
                        <td>Enter the pin code of the city.</td>
                    </tr>
                </table>
                <p><b><u>Office Address</u></b></p>
                <table>
                    <tr>
                        <td>Line 1 & 2</td>
                        <td>Enter the Office address of the employee.</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>Enter the name of the city.</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>Enter the name of the state.</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>Enter the name of the country.</td>
                    </tr>
                    <tr>
                        <td>PIN code</td>
                        <td>Enter the pin code of the city.</td>
                    </tr>
                </table>
                <p><b><u>Office Address</u></b></p>
                <table>
                    <tr>
                        <td>Office phone 1 & 2</td>
                        <td>Enter the office phone numbers of the employee.</td>
                    </tr>
                    <tr>
                        <td>Mobile</td>
                        <td>Enter the mobile number of the employee.</td>
                    </tr>
                    <tr>
                        <td>Home Phone</td>
                        <td>Enter the home phone number of the employee.</td>
                    </tr>
                    <tr>
                        <td>FAX</td>
                        <td>Enter the fax number of the employee.</td>
                    </tr>
                </table>
                <p><b><u>Bank Details</u></b>
                    <br><br> Enter the bank details of the employee. Fields displayed here depend on the custom fields
                    created when setting up the<b>Human Resource</b> module. For more information, see Add custom fields
                    to record bank details
                </p>
                <p><b><u>Additional Details</u></b>
                    <br><br> Enter additional details about the employee. Fields displayed here depend on the custom
                    fields created when setting up the <b>Human Resource</b> module. For more information, see Add
                    custom fields to record additional employee admission details.
                </p>
                <p><b><u>Privileges</u></b>
                    <br><br> Set employee privileges according to the role the employee will perform in the institution.
                    For more information about assigning employee privileges, see the section <b>User Roles and
                        Privileges in the Educares Institution Setup User Guide.</b>
                </p>
                <p><b><u>Reporting Manager</u></b>
                    <br><br> Search and assign a manager for the employee. You can search for an employee using the
                    employee’s first name, last name, or employee ID. You must enter at least the first three letters of
                    the employee’s first or last name to search.
                    <br> <b> Note:</b> If a manager is not assigned for an employee, the employee will not be able to
                    apply for leave or raise an indent for an item.

                </p>
                <p><b><u>Payroll Details</u></b>
                    <br><br> Enter the employee payroll details. Fields displayed here depend on the fields created when
                    setting up the <b>Human Resource </b>module. For more information, see Add a payroll category.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-1"> Why Human Resource Module Is Required?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-2"> How to create an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-3"> How to inactivate, delete or edit an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-4"> How to add or create an Employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-5"> How can I inactivate, delete or Edit an employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-6"> How can I add an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-7"> How can I inactivate, delete or Edit employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-8"> How can I add an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-9"> How can I inactivate, delete or edit an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-10"> How can I add custom fields to record bank details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-11">How can I inactivate, delete or edit a bank detail field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-12">How can I add custom fields to record additional employee
                            admission details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-13"> How can I inactivate, delete or edit a custom admission detail
                            field for an employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-14">How can I add an employee in Educares? What are the fields to
                            be filled? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-15">How can I assign an employee to a subject? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-16"> How an employee subject association details report is
                            helpful?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-17"> How can I search for an employee?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>