<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Is it possible to attendance status as well as placement status for student? </h2>

                <p>

                    Yes, it is possible to mark attendance and update the placement status. In the <b>registrations
                        page</b> on the day of the placement there is option mark attendance. If the student has attended, then there is
                    the placement tab where you can approve placement to update that the student has been placed.
                    Note: The option is available after the placement date only.

                </p>



            </div>



            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/placement/placement-1">What is the Placement Plugin?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-2">How to create a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-3">How to invite students for a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-4">How a student can apply for a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-5">How to archive placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-6">How can I edit a placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-7">How can I view the archived placement?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/placement/placement-8">Is it possible to attendance status as well as placement
                            status for student?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>