<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-12">

                <h2>
                    Placement
                </h2>

                <mat-toolbar id="1">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-1">About Placement Plugin</a>
                        </p>
                    </mat-toolbar-row>

                    <mat-toolbar-row>
                        <p class="answer">
                            Placement module helps to announce the placement events to students. Students can apply for
                            the placement event and can check status. Eligible students can be..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="2">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-2">How to create a placement?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can create placement. At the top of
                            your dashboard, click the module access icon > Academics> PlacementIn the top..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="3">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-3">How to invite students for a placement?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can create placement. At the top of
                            your dashboard, click the module access icon > Academics> Placement..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="6">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-6">How to archive placement?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can archive placement. At the top of
                            your dashboard, click the module access icon > Academics...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="5">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-5">Is it possible to attendance status as well as placement status for student?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Yes, it is possible to mark attendance and update the placement status. In the
                            registrations page on the day of the placement there is option mark attendance. If the..

                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="4">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-4">How a student can apply for a placement ? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can create placement. At the top of
                            your dashboard, click the module access icon > Academics> Placement..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="8">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-8">How can I view the archived placement?
                            </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">At the top of your dashboard, click the module access icon > Academics>
                            Placement. On the top right, click the Archived placement button..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="7">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-7">How can I edit a placement?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can edit placement. At the top of
                            your dashboard, click the module access icon > Academics > Placement..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-divider></mat-divider>

            </div>
        </div>
    </div>
</mat-card>