<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Data Management Plugin
                </h2>

                <p>
                    <b>Data management</b> module deals with adding categories of different files,equipments etc in an
                    Institution. It is similiar to that of Inventory in EduCares, only difference is that it doesn't
                    sell or issue items. It only tracks the items or equipments such as computer, printers, furniture
                    such as desk, chair etc in an Institution.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/datamanage/datamanage-1"> Data Management Plugin </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-2"> How can I create category and fields in it? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-3"> How can I edit or delete category field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-4"> How can I add data or values in Data Management
                            category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-5"> How can I edit or delete input values under
                            category?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>