<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to edit an event?
                </h2>
                <p>
                    Only holiday events can be edited from the Calendar. General events cannot be edited. Other events
                    such as examinations and book/fee dues must be edited from their respective modules.
                </p>
                <p>
                    <b><u>To edit a holiday event:</u></b>
                </p>
                <ol class="parahone">
                    <li>  At the top of your dashboard, click the module access icon >
                        <b>Academics > Calendar</b> to open the Calendar.
                    <li> Hover over the green icon that indicates a Holiday. The event details are displayed on the
                        right
                    <li> Click<b> Edit</b> beside the event details.
                    <li> Make the changes and click the <b> Update event</b> button.


                </ol>
                <img src="..\..\assets\Solutions\Event\2.1.jpg" alt="2.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/event/event-1"> How an event can be created in Educares and view it on
                            calendar?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/event/event-2"> How to edit an event?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/event/event-3"> How to delete an event?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>