<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Gallery Module
                </h2>

                <p>
                    <b> Gallery module </b>is used to post pictures of events happened in the institution. The
                    <b>administrator</b> and<b> privileged employees</b> can post the pictures of latest events like
                    annual day, seminar etc
                    that happened in the institution and can select the employees, students from departments and
                    batches.
                    Those<b> Students</b> and <b>employees</b> can view picture which are shared with them.
                </p>


        
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/gallery/gallery-1"> About Gallery Module
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-2"> How can I edit category/album name in gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-3"> How can I delete or edit an image in an album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-4">How to delete an album/image category in gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-5"> How to publish an album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-6"> How to create an Album in the gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-7"> How to create a Public Album </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-8"> How to create a Private Album </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-9"> How to upload picture in the album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-10"> How to access Gallery on the Mobile app </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>