<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to create reminder for online exams?
                </h2>
                <p>
                    At the top of your dashboard, click the module access icon > <b> Administration > Reminders >
                        Reminder Settings > Online Exam Reminder Settings </b> to open the
                    <b>Online Exam Reminder Settings </b>page.
                </p>
                <p>
                    The<b>Online Exam Reminder Settings </b> page contains preconfigured reminder settings that can
                    be changed.
                </p>

                <ol class="parahone">
                    <li> Select the recipients who will receive the reminder message.
                    <li>Set the reminder time. The default options available are<b> Before 1 day, Before 2 days</b>,
                        and<b> Before 1 week.</b> Click <b>Add new</b> to add a new reminder. Reminders can be set for a
                        maximum of 30 days in advance or 4 weeks in advance.
                        <br> <b> Note:</b> You can add as many reminder options as you like, only three options can be
                        selected to be displayed when scheduling online exams.
                        <img src="..\..\assets\Add-On\Reminders\6.1.png" alt="6.1">
                    <li>Select the reminder mode –<b> Email</b> and <b>SMS</b>. At least one mode must be selected.
                    <li> In addition to the default email message that will be sent, you can add a custom message and
                        signature.
                        <br> <b> Note:</b>The SMS message is delivered in a predefined template and cannot be edited.
                    <li> Click the<b> Save changes</b> button.
                </ol>
                <p>
                    <b> Reset to default settings</b> – This option is available only if you edit the default reminder
                    settings. Use this option to remove any previously saved settings and restore the original default
                    settings.
                </p>
                <p>
                    <b> Reminder settings when scheduling an online exam:</b>
                    9. Reminders created for online exams will be automatically applied at the time of scheduling exams
                    using the Online Exam plugin. When scheduling an online exam, click <b>Show reminder setting</b> at
                    the bottom.
                </p>
                <img src="..\..\assets\Add-On\Reminders\6.2.png" alt="6.2">
                <p>
                    The reminder options created in the<b> Reminders</b> module are displayed.
                </p>
                <img src="..\..\assets\Add-On\Reminders\6.3.png" alt="6.3">
                <p>
                    You can make changes if necessary. Click <b>Advanced reminder setting</b> to view and edit the
                    reminder mode. If any changes are made, click the <b>Save changes</b> button.
                </p>
                <p>
                    If a reminder option appears disabled, it means that the reminder cannot be set for the fee
                    collection. You will have to check the reminder settings in the<b> Reminders</b> module, or contact
                    your EduCares Administrator.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/reminder/reminder-1"> About Reminders </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-2">How reminder can be created for events? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-3"> How can I create reminder for a fee collection start
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-4"> How reminder can be created for a fee collection due
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-5">How to set reminder for exam dates? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-6">How to create reminder for online exams?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-7"> How can I view and edit event reminders? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-8"> How can I create custom reminder? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-9"> How can I edit or delete reminder settings for an
                            event? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>