<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is the use of Work allotment (assign subjects to Employees) under Timetable?
                </h2>

                <p>
                    If you haven’t assigned employees to subjects after admitting them, you can do it through <b>Work
                        Allotment</b>. You can assign more than one employee to a subject. The <b>Work Allotment</b>
                    page lists all subjects of each batch together with the assigned employee. Subjects that have not been assigned to
                    an employee can be assigned.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Academics > Timetable > Work
                            Allotment </b>to open the <b>Work Allotment</b> page.
                        <br> It will list all the batches present in the institution and then select the required batch
                        to list down the subject allocation status as shown in the fig below and click on the
                        <b>Employee
                            Allocation.</b>

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\5.1.jpg" alt="5.1">

                    <li> Once you click the option Employee allocation, it will list all the subject that have been
                        created under that particular batch. Click the <b>Assign</b> option against the subject.

                    <li> Then select the department and select the employee by clicking over the Assign option against
                        the employee's name as shown in the Fig below.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\5.2.jpg" alt="5.2">


                </ol>
                <p>
                    You can see the allotted working hours of each employee and associates subjects accordingly.

                </p>




            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/timetable/timetable-1"> What is timetable workflow? </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-2" class="qsidetop">
                            How to create class timing sets?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-3" class="qsidetop">
                            How can I edit/delete a class timing set?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-4" class="qsidetop">
                            How can I set weekdays and assign a class timing set to each weekday?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-5" class="qsidetop">
                            What is the use of Work allotment (assign subjects to Employees) under Timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-6" class="qsidetop">
                            How can I edit/delete a timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-7" class="qsidetop">
                            How can I view the timetable for a batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-8" class="qsidetop">
                            How can I view a teacher’s timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-9" class="qsidetop">
                            How can I view the institutional timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-10" class="qsidetop">
                            How can teachers view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-11" class="qsidetop">
                            How can students view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-12" class="qsidetop">
                            How can I swap timetable entries when employee is unavailable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-13" class="qsidetop">
                            How can I view and take report of swapped timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-14" class="qsidetop">
                            What is classroom allocation and how can I add building details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-15" class="qsidetop">
                            How can I edit/delete building details in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-16" class="qsidetop">
                            How can I add additional rooms to a building in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-17" class="qsidetop">
                            How can I edit/delete room details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-18" class="qsidetop">
                            How can I allocate a classroom?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-19" class="qsidetop">
                            How can teachers view their allocated classrooms in their account?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-20" class="qsidetop">
                            How do I create timetables for two different duration of completion?
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</mat-card>