<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I inactivate or delete an additional field in a hostel?
                </h2>
                <p>
                    If you do not want an additional detail field to be displayed when recording hostel details, you can
                    inactivate it or delete it. However, you cannot delete an additional detail field that has already
                    been used to record hostel details. At the top of your dashboard, click the module access icon >
                    <b> Administration > Hostel > Manage hostel additional details</b> to open the <b>Manage hostel
                        additional
                        details page.</b>
                </p>
                <img src="..\..\assets\Add-On\Hostel\3.1.jpg" alt="3.1">

                <ol class="parahone">
                    <li>  Click <b>Edit</b> beside the additional detail field you want to edit, select the
                        <b>Inactive</b> status, and then click the<b> Update </b>button. The additional detail fields that are inactivated are
                        moved under the Inactive fields list.
                    <li>  Click <b>Delete</b> beside the additional detail field you want to delete.

                </ol>
                <img src="..\..\assets\Add-On\Hostel\3.2.jpg" alt="3.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>