<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I add custom fields to record hostel room information?
                </h2>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > Hostel > Manage
                        room
                        additional details</b> to open the <b>Manage room additional details</b> page. Here four fields
                    will be
                    available to generate additional details in Hostel, namely <b>Name, Status, Is mandatory</b> and the
                    <b>input
                        method</b> fields. The below information will give you detailed explanation on the same:
                </p>
                <img src="..\..\assets\Add-On\Hostel\4.1.jpg" alt="4.1">
                <ol class="parahone">
                    <li> In the<b> Name</b> field, enter the name of the field that will be used when recording hostel room
                        details.
                    <li> Specify the status of the additional field:

                        <ul>
                            <li><b> Active</b> – An additional detail field with this status will be available when recording
                                hostel room details.
                            <li> <b>Inactive</b> – An additional detail field with this status will not be available when
                                recording hostel room details.
                        </ul>
                    <b> Note:</b> You can inactivate an additional detail field at any time.
                    <li> Select the<b> Is mandatory</b> check-box to set this field as a mandatory field that must be filled
                        when
                        recording hostel room details.
                    <li> In the<b> Input method</b> field, select the required field input method from the following
                        options:
                        <ul>
                            <li> <b>Text Box</b> – Enter brief text information.
                            <li> <b>Select Box</b> – Select one option from a drop-down list.
                            <li> <b>Check Box</b> – Select one or more items from a set of options.
                        </ul>
                    <li> Click the<b> Create</b> button.
                    <li> Use the arrow icons to determine the order that the fields will appear when recording hostel
                        room
                        details.
                </ol>

                <img src="..\..\assets\Add-On\Hostel\3.2.jpg" alt="3.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>