<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Delete Normal subjects to a batch: </h2>

                <p>
                    To <b>delete</b> a normal subject, you must either be the <b>administrator</b> or a <b>privileged
                        employee (Manage
                        Course/Batch</b> or <b>Subject master</b> privilege must be is provided).
                    The normal subject can be deleted only if the exam schedule has not been published for the subject.
                    You can delete a normal subject through the <b>Subjects</b> page.
                </p>
                <p class="top"> At the top of your dashboard, click the <b>module access icon > Administration >
                        Settings > Manage
                        Course/Batch > Manage Subject</b> to open the <b>Subjects</b> page.
                </p>

                <p class="tab">
                    1. Select the <b>batch</b>. All subjects associated with the batch are displayed.</p>
                <p class="tab">2. Click <b>Delete</b> beside the subject you want to delete.</p>
                <img src="..\..\assets\Solutions\Settings\5.1.jpg" alt="5.1">
                <p class="tab"> 3. click <b>OK</b> to confirm.
                </p>
                <p>
                    <b> NOTE:</b> If a normal subject is added and when an employee is assigned, the timetable is
                    created or
                    exams are created for this subject, then the subject cannot be deleted as there is a dependency for
                    the subject.
                </p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>