<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create a timetable?
                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Academics > Timetable > Manage
                            Timetable</b> page. All active timetables will be listed.
                    <li> In the top right, click the<b> Create timetable</b> button as depicted in image.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\21.1.jpg" alt="21.1">

                    <li> Enter the start date and end date for the timetable, and then click the <b>Create</b> button.
                    <li> Click <b>Timetable allocations</b> beside the timetable to open the Timetable Allocations page.
                        All courses and batches that fall within the timetable period are listed.
                    <li> Click a course to view all the batches.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\21.2.jpg" alt="21.2">

                    <li> Click <b>Manage allocations</b> beside the batch. The timetable structure displayed is
                        according to the weekdays and class timing set assigned for that batch. Below the timetable structure, the
                        subjects of the batch along with their ‘max weekly classes’ count is displayed. Use it as a
                        guide when allocating the subjects to the time slots.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\21.3.jpg" alt="21.3">
                    <li> Select a class timing record (time slot) to which you want to allocate a subject. You can
                        select more than one class timing record at a time. Selected class timing records are
                        highlighted in yellow.

                        <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\Timetable\21.4.png"
                            alt="21.4">


                    <li> At the bottom of the page, select the subject. All employees associated with the subject are
                        displayed.
                    <li> Select the employee(s) (a green checkmark is displayed) to be assigned to the class timing
                        records. You can assign more than one employee to a class timing record.
                    <li> Click the<b> Assign</b> button to assign the employee(s). Or, drag and drop the employee(s) in
                        any one of the selected class timing records. All other selected records are automatically assigned
                        the subject with the selected employees.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\21.5.png" alt="21.5">

                </ol>
                <p>
                    When assigning an employee to a class timing record, if the employee has already been assigned a
                    class for the same time slot for another batch, the following warning message is displayed.
                </p>
                <img src="..\..\assets\Solutions\Timetable\21.6.jpg" alt="21.6">
                <p>
                    You can click either one of the following buttons:</p>
                <ul class="parahone">
                    <li> <b> Assign and Remove</b> – Assign the employee to the new class timing record and remove the
                        employee from the previously assigned class timing record.
                    <li> <b> Assign and Retain </b>– Assign the employee to the new class timing record, and also retain
                        the employee’s previously assigned class timing record. If this button is clicked, the employee’s
                        timetable will indicate that there is a clash between classes.
                    <li> <b>Cancel</b> – Cancel assigning.

                </ul>
                <img src="..\..\assets\Solutions\Timetable\21.7.jpg" alt="21.7">
                <p>
                    If the maximum number of weekly classes has reached for a subject, the following warning message is
                    displayed.</p>
                <p>
                    Click the <b>Continue </b>button to assign the subject to the class timing record or click the
                    Cancel button to cancel assigning.</p>
                <p>
                    If the maximum number of daily or weekly classes has reached for an employee, the following warning
                    message is displayed.</p>
                <p>
                    If the maximum number of daily or weekly classes has reached for an employee, click the
                    <b>Continue</b> button to assign the employee to the class timing record or click the Cancel button
                    to cancel assigning.
                    <br>After assigning the subject and the employee, the class timing record will display the subject
                    code together with the name of the assigned employee(s). You can similarly drag and drop the other
                    subjects to set up the timetable. To remove a subject from a class timing record, click ‘X’.
                </p>
                <img src="..\..\assets\Solutions\Timetable\21.8.png" alt="21.8">
                <p>

                    After you have completed allotting subjects to all weekdays, the same structure is automatically
                    applied to all weeks for the duration of the timetable.</p>
                <p>
                    Follow the same steps and create a timetable for the rest of the batches in your institution.

                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/timetable/timetable-1"> What is timetable workflow? </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-2" class="qsidetop">
                            How to create class timing sets?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-3" class="qsidetop">
                            How can I edit/delete a class timing set?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-4" class="qsidetop">
                            How can I set weekdays and assign a class timing set to each weekday?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-5" class="qsidetop">
                            What is the use of Work allotment (assign subjects to Employees) under Timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-6" class="qsidetop">
                            How can I edit/delete a timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-7" class="qsidetop">
                            How can I view the timetable for a batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-8" class="qsidetop">
                            How can I view a teacher’s timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-9" class="qsidetop">
                            How can I view the institutional timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-10" class="qsidetop">
                            How can teachers view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-11" class="qsidetop">
                            How can students view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-12" class="qsidetop">
                            How can I swap timetable entries when employee is unavailable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-13" class="qsidetop">
                            How can I view and take report of swapped timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-14" class="qsidetop">
                            What is classroom allocation and how can I add building details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-15" class="qsidetop">
                            How can I edit/delete building details in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-16" class="qsidetop">
                            How can I add additional rooms to a building in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-17" class="qsidetop">
                            How can I edit/delete room details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-18" class="qsidetop">
                            How can I allocate a classroom?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-19" class="qsidetop">
                            How can teachers view their allocated classrooms in their account?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-20" class="qsidetop">
                            How do I create timetables for two different duration of completion?
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</mat-card>