<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to list all the deleted hostel fee transactions?
                </h2>
                <p>
                    Deleted transactions are listed in the <b>Reverted transactions</b> page. Only the Administrator or
                    a
                    Privileged Employee (<b>Revert Transaction </b>privilege must be provided) can view the deleted
                    transactions.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Finance >
                            Transactions > Reverted transactions </b>to open the <b>Reverted transactions page.</b>
                    <li> Select the transaction type as <b>Fees.</b>
                    <li> Search using the following options:
                        <ul >
                            <li> <b>Admission no.</b> – Enter a student’s admission number to search.
                            <li> <b>Date</b> – Specify a date range.
                            <li> <b>Fee collection name</b> – Enter a fee collection name to search.
                        </ul>
                </ol>
                <img src="..\..\assets\Add-On\Hostel\22.1.jpg" alt="22.1">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>