<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to configure the “General Settings” in Finance?
                </h2>
                <p>
                    Using general settings, Admin, or the privileged user can configure the required settings to manage
                    the different fees for your institution.

                    <br> <br> Go to Menu > Administration > Finance > Finance Settings > General Settings
                    <br> Here, configure general settings are as follows:
                </p>
                <ol class="parahone">
                    <li> <b>Fee receipt mode:</b> This option is used to select how many receipts should be generated
                        for
                        one transaction when using Pay all Fees. Click on the Radio button to select either Single or
                        Multiple modes of generation.
                    <li> <b>Multiple Fee Account</b>: Admin/Privilege Users can group fees into different account labels
                        using this setting. Also, filters in reports to isolate transactions under a particular account
                        can be provided. User needs to select either Enable or Disable by clicking on the radio button.
                        When it is disabled, all transactions go under the default fee account.
                    <li> <b>Multiple Receipt Templates:</b> As the multiple types of receipt template can be created in
                        the
                        Educares, to enable the multiple receipt template user can select the Enable option by clicking
                        on the radio button or can keep it disabled if not required.
                    <li> <b>Multiple Receipt Sets:</b> As the multiple receipt sets can be created inside the Educares
                        in
                        case of generating a specific Receipt number for each set. To enable this, the Admin or
                        Privilege user needs to select the Enable option by clicking on the radio button otherwise keep
                        it Disable.
                    <li> <b>Default fee receipt settings:</b> If the Institute has a single type of receipt set, to
                        generate
                        the receipt number, the user needs to enter the Default fee receipt prefix and Default fee
                        receipt starting number in their respective text field.
                    <li> <b> Enable tax settings:</b> To enable the Tax generation in the Educares, the Admin user can
                        enable
                        it by clicking on the radio button of the Enable otherwise can keep it disabled.
                    <li> <b>Enable invoice generation:</b> Invoice generation can be enabled or disabled using this
                        option.
                        Click on the radio button to Enable or Disable it
                    <li> <b>Invoice number settings:</b> If the Invoice generation is enabled, the user needs to enter
                        the
                        starting invoice number in its respective text field.
                    <li> <b> Invoice Amount settings:</b> Users can choose the amount to be displayed in the invoice as
                        Total
                        Amount Due and Total Amount Paid by clicking on their respective checkbox to enable it.
                    <li> <b> Amount in Words:</b> User can enable this setting to show the fees paid amount in words in
                        the
                        fee receipts by clicking on the Radio button of the Enable option otherwise keep it Disable.
                    <li> <b> Amount Wording System:</b> The amount of the Fees can be shown as the Indian System or
                        Western
                        System by clicking on their respective Radio button.
                    <li> <b> Advance Payment for Students:</b> To enable the option for the User to collect the Advance
                        Fees
                        from the students, click on the radio button of Enabled otherwise user can keep it as Disable.
                    <li> <b>Waiver Discounts Receipt Number Settings:</b> User can disable the setting to avoid receipt
                        number only for WAIVER DISCOUNT transactions by clicking on the radio button of Disable option
                        otherwise can keep it Enable.
                    <li> <b>Suspend Fine calculation after fee payment:</b> User can enable the setting to stop the
                        automatic fine calculation once the Fee has been paid by clicking on the radio button of Enable
                        otherwise can keep it Disable.

                        <br> <br><b> Once all the above configuration is done as per the requirement, the user needs to
                            click on the Save settings button to save it.</b>



                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\30.1.jpg"
                            alt="30.1">
                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\30.2.jpg"
                            alt="30.2">
                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\30.3.jpg"
                            alt="30.3">

                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-1"> What is fee collection and how to set it?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-2"> How can I Create / Edit / Delete a Fee Category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-3"> How can I Create / Edit / Delete a fee particular?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-4">How to Create / Edit / Delete student fee discount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-5"> How can I set up and edit / delete fines for late fee
                            payments?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-6"> What is meant by scheduling student fee collections?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-7"> How can I schedule a fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-8"> How can I Edit/Delete a scheduled fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-10"> How to create a Fee refund rule for Fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-11"> How do I edit or delete an existing refund rule?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-12"> How do I revert a Fee refund?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-13"> Can I specify a custom fee payment date?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-14"> Can I create instant fee particulars or fee discounts at the
                            time of collecting fees?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-15"> Can I view all reverted/deleted transactions in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-9"> How to manage fee particulars and fee discounts from student
                            fee collections?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>