<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    When are automatic notification triggered from EduCares?
                </h2>
                <table>
                    <tr>
                        <th>S. No.</th>
                        <th>Event</th>
                        <th>Employee</th>
                        <th>Student</th>
                        <th>Parent/Guardian</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Batch Transfer</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Event create and update</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Exam schedule publish</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Exam result publish</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>FA result publish</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Finance fee collection update</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Student admission</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Custom Import</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Applicant registration</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Leave apply</td>
                        <td>Y</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Leave reject and approve</td>
                        <td>Y</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Payslip reject</td>
                        <td>Y</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Timetable Swap</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Discussion</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Task</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Placement</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Alumni event</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>Online exam</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>Discipline</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>Hostel</td>
                        <td></td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>Transport</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-1"> When are SMS automatically triggered in EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-2"> When is internal messages automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-3"> When is Email alerts automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-4"> When are automatic notification triggered from
                            EduCares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>