<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    	eduCares User Guide for Custom Import
                </h2>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/customimp/customimp-1"> About Custom import</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-2"> Custom import mandatory fields </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-3"> How can I perform custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-4"> How bulk edit is useful in custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-5"> How to import data from a csv file to eduCares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-6"> How can I view the custom import logs? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-7"> How can I delete an export in custom import?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-8"> eduCares User Guide for Custom Import </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>