<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Is it possible to edit a custom report? How can I delete a custom report?
                </h2>
                <p>
                    An existing custom <b>student report/ employee report</b> cannot be edited. If any change needs to
                    be made to the report, delete the report and create a new report. To delete a custom report:
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Data and Reports > Custom
                            Reports.</b>
                    <li> Click Delete to <b>delete</b> the report.

                </ol>
                <img src="..\..\assets\Add-On\CustomReports\5.1.jpg" alt="5.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-1"> How do I create a custom report ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-2"> About custom report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-3"> How can I create a custom student report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-4"> How to create a custom employee report? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-5"> Is it possible to edit a custom report? How can I delete a
                            custom report?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>