<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to add items to store?
                </h2>
                <p>

                    A store can contain any number of items. The items may be meant for sale or meant to be indented
                    (issued).

                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Inventory >
                            Store Items.</b>

                    <li> In the top right, click the <b>New </b>button.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\13.1.jpg" alt="13.1">

                    <li> Select a <b>store.</b>
                    <li> In the<b> Item Name</b> field, enter the name of the item.
                    <li> In the<b> Code</b> field, enter an item code.
                    <li> In the<b> Quantity</b> field, enter the quantity available.
                    <li> In the <b>Unit Price</b> field, enter the price of one unit of the item.
                    <li> In the <b>Tax (%) </b>field, enter the percentage of tax applied when purchasing the item.
                    <li> In the <b>Batch No. </b>field, enter the item batch number.
                    <li> Select the<b> Sellable</b> checkbox if this item can be sold.
                    <li> In the <b>Item Category</b> field, select the item category.
                        <br> <b> Note:</b> The field is available only if you select the Sellable checkbox.
                    <li> Click the <b>Save</b> button.

                </ol>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>