<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to configure SMS settings for various scenarios in Educares?
                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon <b> Collaboration > SMS > SMS
                            Settings</b> to open the <b>Settings</b> page.
                    <li> Select the <b>Application</b> checkbox, and then click the <b>Update</b> button.
                    <li> Select the events for which a notification will be sent, and the recipients who will receive
                        the notification.
                    <li> Click the<b> Update</b> button.

                </ol>
                <img src="..\..\assets\Solutions\SMS\1.1.jpg" alt="1.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-1"> How to configure SMS settings for various scenarios in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-2"> How an SMS can be sent to a student from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-3"> How a SMS can be sent to a parent from Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-4"> How to send an SMS to an employee from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-5"> How to send an SMS to an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-6"> How to send an SMS to all Educares users in one shot?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>