<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to add hostels?
                </h2>
                <P>
                    Hostels can be of three types:
                </P>
                <ul class="parahone">
                    <li> <b>Gents</b>– Can be allocated to only male students.
                    <li> <b>Ladies</b> – Can be allocated to only female students.
                    <li> <b>Common</b> – Can be allocated to both male and female students.
                </ul>
                <img src="..\..\assets\Add-On\Hostel\6.1.jpg" alt="6.1">
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Hostel >
                            Hostel</b> to open_the <b>Hostel Details</b> page.
                    <li> In the top right, click the <b>Add hostel</b> button to open the <b>Add hostel </b>page.
                    <li> In the <b>Hostel Name</b> field, enter the name of the hostel.
                    <li> In the <b>Hostel Type </b>field, select the hostel type – Gents, Ladies, or Common.
                    <li> In the <b>Other Information</b> field, enter any additional information about the hostel.
                    <li> Click the<b> Save </b>button.
                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>