<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can we assign privileges to an employee?
                </h2>
                <p>
                    Employee privileges are usually set during admission and can be edited by the<b> administrator or a
                    privileged employee</b> (<b>Manage Users</b> privilege is required) at any time. Student and Parent privileges
                    cannot be edited as they are pre-set.
                </p>
                <p>
                   <b> Note:</b> Only admin or privileged employee(Manage users privilege) can change privilege for an
                    employee.
                </p>
                <p>
                    At the top of your dashboard, click the module access icon > Administration > User to open the
                    Manage Users page.
                </p>

                <ol class="parahone">
                    <li> Search for the<b> user</b>
                    <li> When you find the user, click on the user’s name. Basic details of the user’s profile is
                        displayed.
                    <li> Click the<b> Edit Privilege </b> button. The<b> Edit Privilege </b> page is displayed.
                        <img src="..\..\assets\Solutions\User Management\3.1.jpg" alt="3.1">
                    <li> Edit the privileges as shown in the below image.
                </ol>

                <img src="..\..\assets\Solutions\User Management\3.2.jpg" alt="3.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-1"> How can I search and view a user profile? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-2"> How can I change the password of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-3"> How can we assign privileges to an employee? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-4"> What are the different privileges available in
                            EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-5"> What is the use of 'Search by User Type' option in
                            Manage User?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-6"> How can I create a additional admin account in
                            EduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>