<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can an employee apply for a leave?
                </h2>
                <p>
                    Leave requests are sent to your manager who has the option to approve or deny your leave. Employees
                    can apply for leave from the <b>Leaves</b> module or from your employee profile.
                </p>

                <ol class="parahone">
                    <li> Go to your profile. In the top right, click<b> Leaves > Apply leave</b> to open the Leave
                        Application page.
                        Or
                    <li> If an employee is a manager - At the top of your dashboard, click the module access icon >
                        <b> Academics > Leaves > Apply leave</b> button to open the Leave Application page.
                        <br> Or
                    <li> If a user is not a manager - At the top of your dashboard, click the module access icon >
                        <b> Academics > Apply leave </b>to open the Leave Application page.

                    <li> Select the <b>leave duration</b> as <b>Single day, Multiple days,</b> or <b>Half day.</b>
                    <li> Select the <b>leave date</b> or<b> date range.</b>
                        Note: you cannot select a date or date range for which a leave application already exists
                    <li> In the <b>Leave type</b> field, select the <b>leave type.</b>
                        Note: You will be notified if it is an additional leave, and if it is liable for salary
                        deduction.
                    <li> In the <b>Reason</b> field, enter the reason for applying the leave.
                    <li> Click the <b>Submit </b>button.

                </ol>
                <img src="..\..\assets\Solutions\Emp Att\3.1.jpg" alt="3.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>