<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create assignment for a batch?
                </h2>
                <p>
                    <b>Note:-</b> Even though all employees can access the Assignment plugin, only <b>employees
                        associated
                        to subjects can create assignments.</b>

                </p>
                <ol class="parahone">
                    <li> Click the module access icon ><b> Academics > Assignment </b>to open the <b>All assignments</b>
                        page.
                    <li> In the top right, click the <b>Create new assignment button.</b>



                    <li> In the <b>Title</b> field, enter the name of the assignment.
                    <li> In the <b>Subject </b>field, select the subject. The students who take the subject are
                        displayed on
                        the right.
                    <li> Select the students who will need to complete the assignment.
                    <li> In the <b>Content </b>field, enter the description about the assignment. The description can
                        include
                        detailed instructions for students regarding the assignment, the form in which it should be
                        submitted, the grading criteria, and so on.
                    <li> Click <b>Choose File</b> to attach a file to the submission.
                    <li> Select the due date for the assignment.
                    <li> Click the<b> Create new assignment </b>button.

                </ol>
                <img src="..\..\assets\Add-On\Assignment\2.1.jpg" alt="2.1  ">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-1"> About Assignment Plugin? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-2"> How can I create assignment for a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-3"> How an assignment can be edited?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-4"> How an assignment can be deleted? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-5"> How students can submit assignments in Educares?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-6"> How assignment can be tracked by an Employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-7"> How teacher can accept or reject an assignment
                            submitted by a student?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-8"> Who all can able to view assignment module in
                            Educares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>