<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit the leave balance of an employee?
                </h2>

                <p>
                    Only an administrator or a privileged employee (<b>Employee Attendance privilege</b> is required) can edit
                    the leave balance for an employee.
                </p>
                <ol class="parahone">
                    <li> Go to the user’s profile.
                    <li> In the top right, click <b>Leaves > My Leaves.</b> The employee’s leave details are displayed.
                    <li> In the top right, click the <b>Employee leave balance</b> button to open the Employee Leave
                        Balance page as depicted in Fig 1. For each leave type, the available leave credit is displayed.

                    <li> Click <b>Edit</b> beside a leave type.
                    <li> Enter the number of leaves to be added, and then click the<b> Save</b> button.
                </ol>
                <img src="..\..\assets\Solutions\Emp Att\11.1.jpg" alt="11.1">
                <img src="..\..\assets\Solutions\Emp Att\11.2.jpg" alt="11.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>