<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to Import previous batch subjects to the current batch? </h2>

                <p> Often, subjects under a course can remain same over batches. This can be achieved by selecting
                    Import Subject option. The subjects can be imported from the initial batch to the rest of the batch
                    within the same course.
                </p>

                <p> At the top of your dashboard, click the module access icon > <b>Administration >
                        Settings > Manage
                        Course/Batch > Manage Batch</b> to open the <b>Manage Batch</b> page.
                </p>
                <p>Or</p>

                <p> At the top of your dashboard, click the module access icon > <b>Administration >
                        Settings > Manage
                        Course/Batch > Manage Course</b> to open the <b>Manage Course</b> page.
                </p>

                <p class="tab">
                    1. Select the <b>course</b>. All batches of the selected course are displayed.
                </p>
                <p class="tab">
                    2. Select the <b>batch</b>. All students who are part of the selected batch are displayed. </p>
                <p class="tab">
                    3. In the top right, click <b>Manage > Subject</b> to open the Subjects page.
                </p>
                <img src="..\..\assets\Solutions\Settings\9.1.jpg" alt="9.1">
                <p class="tab">
                    4. Click the <b>Import subjects</b> link as depicted in Fig1. The previous batch subjects (normal
                    and
                    elective) will be displayed as shown in Figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\9.2.png" alt="9.2">
                <p class="tab">
                    5. Select the subject and click <b>Import Subjects</b> beside the subjects you want to assign to the
                    current batch.
                </p>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>