<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About custom report?
                </h2>
                <p>
                    <b>Custom Reports</b> plugin to create custom reports using the admission information of students
                    and employees. For example, you may need a report on the names of students who were admitted on a
                    particular date, or, you may need a report on the student guardian details for a batch of students,
                    or, you may need the contact details of all your employees in a single report. By specifying filter
                    criteria, you can retrieve only the data you require and hide the data that you do not want
                    displayed. Custom reports can be downloaded in comma separated values (.csv) format.
                </p>
                <p>
                    The Administrator has complete privileges over the <b>Custom Reports</b> plugin. Privileged
                    employees must
                    be provided the following privileges to be able to create customized reports using the <b>Custom
                        Reports</b> plugin.
                </p>
                <p>
                    <b>
                        Administration/Operations
                    </b>
                </p>

                <table>
                    <tr>
                        <th>Privilege</th>
                        <th>Module</th>
                        <th>User Capabilities</th>
                    </tr>
                    <tr>
                        <td>Custom Reports Control</td>
                        <td>Custom Reports</td>
                        <td>Can control the complete Custom Reports plugin.</td>
                    </tr>
                    <tr>
                        <td>Custom Report View</td>
                        <td>Custom Reports</td>
                        <td>Can View and Print Custom Student and Employee Reports</td>
                    </tr>
                </table>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-1"> How do I create a custom report ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-2"> About custom report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-3"> How can I create a custom student report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-4"> How to create a custom employee report? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-5"> Is it possible to edit a custom report? How can I delete a
                            custom report?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>