<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What are Grading Profiles?
                </h2>
                <p>
                    Grading scale is any standardized measurement based on which the performance of a student can be
                    assessed.

                    <br> <br> Before creating exam, it is mandatory to create the different grading profiles used in the
                    school based on which the school evaluates the students’ performance. Grading profile is used in
                    exams which either follow grade system or both Marks & Grades.

                    <br> <br> Grading profile are of two types –

                </p>
                <ul class="parahone">
                    <li> <b>Direct Grades </b> – Grades are not based on marks but is applied directly.
                    <li> <b>Marks based grades </b>– Grades are derived based on marks.
                </ul>
                <p>

                    Steps to create grading profile -

                    <br> <b>
                        1. Menu >> Academics >> Gradebook >>Settings >> Grading Profiles >> Click on create a grading
                        profile
                    </b>

                    <br> <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\6.1.jpg" alt="6.1">

                    <br> You can either enable the description to be displayed in the report card or disable the
                    description.

                </p>
                <p>
                    <b> 2. Add grades</b>
                </p>
                <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\6.2.jpg" alt="6.2">
                <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\6.3.jpg" alt="6.3">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-1"> Guide to use Gradebook</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-2"> What is gradebook?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-3"> How to do gradebook setting?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-4"> How to create attribute profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-5"> How to create Activity Profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-6">What are Grading Profiles? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-7">What is Remark Bank? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-8"> What is the difference between activity, attribute,
                            and
                            skill-based exam?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-9">How to create Exam Planners? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-10">How to add exams in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-11"> What are different types of exams in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-12">How to customize the Gradebook? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-13">How to link a class to gradebook planner? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-14"> What are the different types of grade book report
                            that can be generated in a planner?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-15">How to import exam planner from previous year? </a>
                    </p>

                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-16">How to generate report card for a class? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-17">How to schedule an exam in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-18">How to enter marks for different subjects? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-19">How to import marks using csv? </a>
                    </p>


                </div>
            </div>
        </div>
    </div>


</mat-card>