<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to send an SMS to an employee from Educares portal?
                </h2>
                <p>
                    An SMS can be sent to a employee only if the following conditions are met:
                </p>
                <ul class="parahone">
                    <li>On the SMS <b>Settings</b> page, the<b> Send SMS to Employees</b> checkbox is selected.
                    <li> The employee’s profile has the registered mobile number of the employee.
                </ul>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Collaboration > SMS > Send
                            SMS > Select the Employees Checkbox</b> to open the Employees page.
                    <li> Select a department. All Employees from the selected department are listed.

                    <li> Select the Employee(s) to who you want to send the SMS text messages.
                    <li> Enter the message. You can send up to 160 characters in a message and this will be
                        counted/charged as one message. If the message contains more than 160 characters, the message is
                        broken and delivered as separate messages, and you will be charged accordingly.
                    <li> Click the <b>Send SMS</b> button.

                </ol>
                <img style="width: 60%;" src="..\..\assets\Solutions\SMS\4.1.jpg" alt="4.1">
                <img style="width: 60%;" src="..\..\assets\Solutions\SMS\4.2.jpg" alt="4.2">
                <p>
                    <b>Note </b>: If a Employee's profile does not have the mobile number then
                    the Employee name will be greyed out and cannot be selected.
                </p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-1"> How to configure SMS settings for various scenarios in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-2"> How an SMS can be sent to a student from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-3"> How a SMS can be sent to a parent from Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-4"> How to send an SMS to an employee from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-5"> How to send an SMS to an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-6"> How to send an SMS to all Educares users in one shot?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>