<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How an Indent can be raised?
                </h2>
                <p>
                    A Privileged Employee can raise indents, requesting for items that may be required by the employee
                    or by a department. After an indent is raised, the indent is sent to the employee’s manager for
                    approval.
                </p>
                <p>
                    Note: Privileged Employees can raise indents only if they have been assigned a manager.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Inventory >
                            Indents</b> to open the<b> Indents</b> page.
                    <li> In the top right, click the <b>New </b>button.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\20.1.jpg" alt="20.1">

                    <li> In the<b> Indent No.</b> field, enter the indent number.
                        <br> <b> Note: </b>If you have raised indents before, the indent number automatically increments
                        sequentially.
                    <li> In the <b>Store </b>field, select the store. Only items listed in the selected store can be
                        requested.
                    <li> In the <b>Expected date </b>field, enter the date you expect the item(s) to be issued.
                    <li> In the<b> Description </b>field, enter any comments about the indent request.
                    <li> In the <b>Store Item</b> field, select the item you require. For the item you select, item
                        details such as quantity available, price per item, and the batch number are displayed.
                    <li> In the <b>Required </b>field, enter the quantity of items you require. You can enter a number
                        more than the available quantity if required.
                    <li> Click <b>Add item </b>(highlighted in green) if you require more items. To remove an item from
                        the indent request, click the ‘x’ icon.
                    <li> Click the <b>Save</b> button.

                </ol>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>