<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How bulk edit is useful in custom import?
                </h2>
                <p>
                    Bulk edit feature is useful when a change needs to be made to many records that were uploaded
                    through Custom Import. <br>
                    All data that can be bulk uploaded can be edited also using bulk edit.
                </p>
                <p>
                    To do a bulk edit click on any of the custom imports done and click on Bulk Edit as shown in the
                    screenshot below:
                </p>
                <img src="..\..\assets\Add-On\Custom Import\4.1.jpg" alt="4.1">
                <p>
                    This will lead to the option to select the csv file. Select the file and click on Upload to do the
                    upload. However, when performing a bulk edit, the following field information cannot be edited as it
                    is
                    required to map to existing records in eduCares.
                </p>
                <img src="..\..\assets\Add-On\Custom Import\4.2.png" alt="4.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/customimp/customimp-1"> About Custom import</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-2"> Custom import mandatory fields </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-3"> How can I perform custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-4"> How bulk edit is useful in custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-5"> How to import data from a csv file to eduCares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-6"> How can I view the custom import logs? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-7"> How can I delete an export in custom import?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-8"> eduCares User Guide for Custom Import </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>