<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to set roll number prefix for a course?
                </h2>

                <p>
                    Before assigning student roll numbers, you can set the roll number prefix for a course. The prefix
                    set for a course is then automatically applied to all batches under that course and also applied to
                    all students in each batch. The roll number prefix can contain a maximum of <b>six alphanumeric
                        characters.</b><br>
                    At the top of your dashboard, click the module access icon ><b>Administration > Settings > Manage
                        student roll numbers</b> to open the<b> Manage roll number </b>page.

                </p>

                <ol class="parahone">
                    <li>
                        Click Set <b>roll number prefix</b> beside a course.</li>
                    <img src="..\..\assets\Solutions\Student Roll Num\3.1.jpg" alt="3.1">

                    <li> Enter the roll number prefix.</li>
                    <li> Click the <b>Save</b> button.</li>

                </ol>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentrollnum/studentrollnum-1"> What is student roll number? What is the
                            advantage of
                            assigning roll numbers? </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-2" class="qsidetop">
                            How can we enable roll number for students?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-3" class="qsidetop">
                            How to set roll number prefix for a course?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-4" class="qsidetop">
                            How to set roll number prefix for a batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-5" class="qsidetop">
                            How do I assign student roll numbers during admission?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-6" class="qsidetop">
                            How can I assign roll number for a complete batch in one go?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-7" class="qsidetop">
                            Can I edit student sort order after assigning roll numbers?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-8" class="qsidetop">
                            Based on which all values, roll numbers can be regenerated?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>