<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to edit and update an employee’s payroll in Educares?
                </h2>
                <p>

                    Whenever an employee’s payroll structure changes, for example a new earnings have been added to the
                    payroll group—the employee payroll group must be updated.

                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the <b>Module access icon > Administration > Human Resource
                            > Payroll and Payslip Management > Payroll Groups</b> to open the <b>Payroll Groups</b>
                        page.

                    <li> Click <b>Employees</b> beside a payroll group to open the Payroll Group Employees page.
                        Employees whose payroll is outdated are indicated with a red icon as depicted in the Fig 1.
                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\HR\25.1.jpg" alt="25.1">



                    <li> Click<b> View payroll.</b> The employee payroll details are displayed.
                    <li> Click the<b> Edit Payroll</b> button. You can either edit the employee's previous payroll
                        structure or apply the latest payroll group changes and assign it to the employee.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\HR\25.2.jpg" alt="25.2">


                    <li> Click <b>Apply latest payroll group changes </b>at the top as depicted in Fig 2. The employee
                        previous payroll structure is displayed on the right side, and the new payroll structure on the
                        left as depicted in Fig.3

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\HR\25.3.png" alt="25.3">


                    <li> Edit the new payroll structure if necessary, and then click the <b>Assign payroll</b> button.

                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-1"> Why Human Resource Module Is Required?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-2"> How to create an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-3"> How to inactivate, delete or edit an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-4"> How to add or create an Employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-5"> How can I inactivate, delete or Edit an employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-6"> How can I add an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-7"> How can I inactivate, delete or Edit employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-8"> How can I add an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-9"> How can I inactivate, delete or edit an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-10"> How can I add custom fields to record bank details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-11">How can I inactivate, delete or edit a bank detail field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-12">How can I add custom fields to record additional employee
                            admission details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-13"> How can I inactivate, delete or edit a custom admission detail
                            field for an employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-14">How can I add an employee in Educares? What are the fields to
                            be filled? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-15">How can I assign an employee to a subject? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-16"> How an employee subject association details report is
                            helpful?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-17"> How can I search for an employee?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>