<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I search and view a user profile?
                </h2>
                <p>
                    The administrator or privileged employees (Manage Users privilege is required) can search for a user
                    from the Manage Users page.
                </p>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > User</b> to open
                    the <b> Manage Users</b> page.
                </p>

                <ol class="parahone">
                    <li> In the <b>Search user</b> field, for an employee, enter the first name, last name, or employee
                        number to search. For a student, enter the first name, last name, or admission number to search.
                        <img src="..\..\assets\Solutions\User Management\1.1.jpg" alt="1.1">
                    <li> Click on the user’s name whose profile you want to view.
                </ol>

                <p>
                    When you click the user name you will get the three option ie, to change the<b> password,</b>
                    profile and <b>edit privileges</b> as in the screenshot below.
                </p>
                <img src="..\..\assets\Solutions\User Management\1.2.jpg" alt="1.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-1"> How can I search and view a user profile? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-2"> How can I change the password of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-3"> How can we assign privileges to an employee? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-4"> What are the different privileges available in
                            EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-5"> What is the use of 'Search by User Type' option in
                            Manage User?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-6"> How can I create a additional admin account in
                            EduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>