<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Assignment Plugin?
                </h2>
                <p>
                    The <b>Assignment </b>plugin is designed to help teachers distribute homework and assignments to students,
                    collect completed work, review it and provide feedback to students. When distributing work, you can
                    attach digital content such as, word-processed documents, spreadsheets, and images. Similarly, you
                    can instruct students to submit their work as an uploaded file, or students can also type directly
                    into a text field in Educares.
                </p>
                <p>
                    Each assignment must be assigned a ‘due date’. Though Educares will allow submission of work even if
                    the due date for an assignment has passed, you can choose whether to accept or reject the
                    assignment.
                 </p>
                
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-1"> About Assignment Plugin? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-2"> How can I create assignment for a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-3"> How an assignment can be edited?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-4"> How an assignment can be deleted? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-5"> How students can submit assignments in Educares?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-6"> How assignment can be tracked by an Employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-7"> How teacher can accept or reject an assignment  
                            submitted by a student?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-8"> Who all can able to view assignment module in Educares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>