<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can we generate student attendance report for a batch?
                </h2>
                <p>
                    When generating the <b>Student Attendance Report</b> for a batch, for each subject you can generate the
                    report for a month or for the complete duration of the batch. If a student was absent for a
                    particular session (Forenoon or Afternoon), it is indicated in the report as ‘.5’.
                    <br><br> Only the administrator or a privileged employee (the<b> Student attendance view </b>privilege is
                    required) can view the <b>Student Attendance Report.</b>

                </p>
                <ol class="parahone">
                    <li> Click the module access icon ><b> Academics > Attendance > Attendance report</b> to open the
                    <b> Attendance report</b> page.
                    <li> Select the batch.
                    <li> Select the report mode from the following options:
                        <ul>
                            <li> <b>Monthly</b>
                            <li> <b>Overall</b>
                        </ul>
                    <li> If you select <b>Monthly,</b> you must select the month and year. Attendance count of all students for
                        the selected month is displayed.
                        <br> <img style="width: 60%; margin-left: 20px;" src="..\..\assets\Solutions\StudentAtt\8.1.jpg"
                            alt="8.1">
                        <br><br> If you select <b>Overall,</b> the attendance count of all students for complete duration of
                        the batch is displayed.
                        <br> <img style="width: 60%; margin-left: 20px;" src="..\..\assets\Solutions\StudentAtt\8.2.jpg"
                            alt="8.2">
                    <li> You can perform the following actions using the report:
                        <ul>
                            <li> View attendance details on an individual student – Click on the name of a student to
                                view the attendance details.
                                <br> <img style="width: 60%; margin-left: 20px;"
                                    src="..\..\assets\Solutions\StudentAtt\8.3.jpg" alt="8.3">

                            <li> Sort students based on the filters – <b>Below, Above, Equals.</b>
                            <li><b> PDF Report </b>button – Generate a PDF report of the student attendance details.

                            <li> <b>CSV Report </b>button – Generate a CSV report of the student attendance details.
                        </ul>
                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-1"> What is Marking and tracking student
                            attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-2"> Who can mark student attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-3"> How can I set up student attendance type for an
                            institution?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-4"> How can I mark student attendance daily?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-5"> How can I mark student attendance subject-wise?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-6"> What is Rapid attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-7"> How can we generate the student day-wise attendance
                            report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-8"> How can we generate student attendance report for a
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-9"> How can students and parents view the attendance
                            record?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-10"> How to lock the attendance after a certain
                            duration?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>