<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How 'Filter by ' option is helpful to view tasks?
                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Collaboration > Tasks.</b>
                    <li> In the page opens, <b>Filter option</b> helps to filter or list the task as<b> All, Assigned,
                            Completed, Due Date</b> under the two categories:<b> Task assigned to me</b> and <b>Task
                            assigned by me.</b>
                </ol>
                <img src="..\..\assets\Add-On\Tasks\3.1.jpg" alt="3.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/task/task-1"> About Task Plugin? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-2"> How to create a Task? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-3"> How 'Filter by ' option is helpful to view tasks? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-4">How a task can be marked as complete? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-5"> Can a completed task can be reverted back to
                            assigned at a later point of time?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-6"> Can we attach documents/pictures when assigning
                            a task? What is the maximum size?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-7"> How can an assigner see to whom all the task is
                            assigned?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-8"> How to edit or delete a task? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>ś