<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to send an SMS to an employee department?
                </h2>
                <p>
                    Inorder to send an SMS to all employees of a department, the <b>Send SMS to Employees</b> checkbox
                    on the
                    SMS <b>Settings</b> page must be selected.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Collaboration > SMS > Send
                            SMS > Select the Employees Checkbox</b> to open the Employees page.
                    <li> Select a department. All Employees from the selected department are listed.

                    <li> Select the Employee(s) to who you want to send the SMS text messages.
                    <li> Enter the message. You can send up to 160 characters in a message and this will be
                        counted/charged as one message. If the message contains more than 160 characters, the message is
                        broken and delivered as separate messages, and you will be charged accordingly.
                    <li> Click the <b>Send SMS</b> button.

                </ol>
                <img src="..\..\assets\Solutions\SMS\5.1.png" alt="5.1">
                <p>
                    <b>Note </b>: Only departments that have at least one employee whose profile has a registered mobile
                    number can be selected. If all employees of a department do not have a mobile number saved in their
                    profile, the department will be greyed out cannot be selected.
                </p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-1"> How to configure SMS settings for various scenarios in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-2"> How an SMS can be sent to a student from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-3"> How a SMS can be sent to a parent from Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-4"> How to send an SMS to an employee from Educares portal?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-5"> How to send an SMS to an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/sms/sms-6"> How to send an SMS to all Educares users in one shot?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>