<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Can a user reopen a closed poll?
                </h2>
                <p>
                    Yes, their is a option for open.

                </p>
                <p>
                    Admin or privileged user(member of that poll) has the option to reopen a poll.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Colloboration> Poll.</b>
                    <li> Click on Open to reopen the respective poll, which is unpublished under<b> Closed.</b>
                </ol>

                <img src="..\..\assets\Add-On\Poll\7.1.jpg" alt="7.1">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/poll/poll-1"> About Poll Plugin
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-2"> How can I create polls in EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-3"> How can I edit,close or delete a poll?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-4"> How can a user (student/employee) give their respective votes
                            ?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-5"> What is 'Open for Polling' option when a new poll is created? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-6"> Can a user reopen a closed poll? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-7"> How to view the result of a Poll? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>