<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I allocate a classroom?
                </h2>
                <p>
                    The administrator or a privileged employee (<b>Manage Allocations or Manage Buildings and
                        Allocations</b>
                    privilege is required) can allocate classrooms for each class based on timetable slots. Follow the
                    below steps to allocate.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Academics > Timetable > Class
                            Room Allocation > Allocate</b> to open the <b>Allocate</b> page.
                    <li> Select the allocation type from the following options:
                        Weekly – Allocate Classrooms for the complete timetable period.
                </ol>
                <p>
                    <b> Date specific</b> – Allocate classrooms for a specific date. Use this option when you want to
                    override an existing classroom allocation.
                </p>
                <p><b><u>
                            a.If you selected Weekly:</u></b></p>
                <ol class="parahone">
                    <li> Select the timetable, and then click the <b>View</b> button. Only batches with timetable
                        entries are displayed.

                     <br>   <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\18.1.jpg" alt="18.1">

                    <li> Select the weekday, for eg, Monday.
                    <li> In the bottom, select the building. Corresponding rooms are displayed.
                    <li> Select a room, and then drag and drop the room in any one of the classes. You can similarly
                        allocate classrooms for other classes, for each weekday. Allocated classes are highlighted in
                        green.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\18.2.png" alt="18.2">

                        <br> If required, you can allocate more than one classroom to a class. To remove an allocated
                        classroom, click ‘x’.
                        <br>After allocating classrooms for other classes, the classroom allocation is automatically
                        applied for the complete timetable.
                </ol>
                <p><b><u>
                            b.If you selected Date specific:</u></b></p>
                <ol class="parahone">
                    <li> Select the month and year, and then click the View button. Only batches with timetable
                        entries of the selected year and month are displayed.

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Timetable\18.3.jpg" alt="18.3">

                    <li> Select the day of the month for which you want to allot a classroom for a specific class.
                    <li> In the bottom, select the building. Corresponding rooms are displayed.
                    <li> Select a room, and then drag and drop the room in the class record. If required, you can
                        allocate more than one classroom to a class.


                </ol>





            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/timetable/timetable-1"> What is timetable workflow? </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-2" class="qsidetop">
                            How to create class timing sets?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-3" class="qsidetop">
                            How can I edit/delete a class timing set?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-4" class="qsidetop">
                            How can I set weekdays and assign a class timing set to each weekday?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-5" class="qsidetop">
                            What is the use of Work allotment (assign subjects to Employees) under Timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-6" class="qsidetop">
                            How can I edit/delete a timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-7" class="qsidetop">
                            How can I view the timetable for a batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-8" class="qsidetop">
                            How can I view a teacher’s timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-9" class="qsidetop">
                            How can I view the institutional timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-10" class="qsidetop">
                            How can teachers view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-11" class="qsidetop">
                            How can students view their timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-12" class="qsidetop">
                            How can I swap timetable entries when employee is unavailable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-13" class="qsidetop">
                            How can I view and take report of swapped timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-14" class="qsidetop">
                            What is classroom allocation and how can I add building details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-15" class="qsidetop">
                            How can I edit/delete building details in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-16" class="qsidetop">
                            How can I add additional rooms to a building in timetable?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-17" class="qsidetop">
                            How can I edit/delete room details?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-18" class="qsidetop">
                            How can I allocate a classroom?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-19" class="qsidetop">
                            How can teachers view their allocated classrooms in their account?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/timetable/timetable-20" class="qsidetop">
                            How do I create timetables for two different duration of completion?
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>

</mat-card>