<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How students can submit assignments in Educares?
                </h2>
                <p>
                    Students can upload word-processed documents, spreadsheets, images, and even videos. When students
                    log in to Educares, students can see the list of assignments to be completed along with the due
                    dates in the Assignment module.
                </p>
                <img src="..\..\assets\Add-On\Assignment\5.1.jpg" alt="5.1">
                <p>
                    When students click on the name of an assignment, the full description of the assignment is
                    displayed.
                </p>
                <img src="..\..\assets\Add-On\Assignment\5.1.jpg" alt="5.1">
                <p>
                    The students can then click the <b>Answer this assignment</b> button and submit their work.
                </p>
                <img src="..\..\assets\Add-On\Assignment\5.1.jpg" alt="5.1">
                <p>
                    After entering the assignment details and attaching the necessary files, the student can click the
                    <b>Submit Answer</b> button.
                </p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-1"> About Assignment Plugin? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-2"> How can I create assignment for a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-3"> How an assignment can be edited?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-4"> How an assignment can be deleted? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-5"> How students can submit assignments in Educares?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-6"> How assignment can be tracked by an Employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-7"> How teacher can accept or reject an assignment
                            submitted by a student?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/assignment/assignment-8"> Who all can able to view assignment module in
                            Educares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>