<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What are the different privileges available in EduCares?
                </h2>



                <p> <b>
                        Administration / Operations
                    </b>
                </p>
                <table>
                    <tr>
                        <th>Privileges</th>
                        <th>Controls associated with this privilege</th>
                    </tr>
                    <tr>
                        <td>Manage Users</td>
                        <td>• When this privilege is assigned to a User / Employee, can search the user by their type
                            (Students, Parents, Employee, Admin) or by the name of the user or by user ID.
                            <br>• Can create a New User (New admin) and manage their profiles.
                            <br> • Can assign Privilege to Employee.
                            <br> • Can view the User profile and change their password (this option helps when the user
                            lost the password).
                            <br> • Can Block the User Account (this option prevents the Blocked User to login into their
                            respective accounts).
                            <br> • Can Unblock the User Account.
                        </td>
                    </tr>
                    <tr>
                        <td>Event management</td>
                        <td>• When this privilege is assigned to a User / Employee, can create an event that is common
                            to all EduCares users (Students and Employees) or for a specific batch / department.
                            <br> • This privilege is assigned to an employee who can create events (special holidays,
                            school
                            fest, dance event for specific batch etc.,) and once posted it can be viewed by all users or
                            specific batch or specific department.
                        </td>
                    </tr>
                    <tr>
                        <td>Form Builder Management</td>
                        <td>• When this privilege is assigned to a User / Employee, they can create a Form template.
                            <br> • Lets the User / Employee to create a template of a particular form and then publish
                            to the
                            EduCares Users (Students Employees)
                        </td>
                    </tr>
                    <tr>
                        <td>Manage news</td>
                        <td>When this privilege is assigned to a User / Employee, can publish timely announcements to
                            keep all EduCares users informed. </td>
                    </tr>
                    <tr>
                        <td>Discipline</td>
                        <td>• Allow the employee to track the student’s discipline and behavior ·
                            <br> • Will be able to Create complaint against the students or the staff.
                            <br> • Keep track of complaints which are received, pending and solved.
                        </td>
                    </tr>
                    <tr>
                        <td>Librarian</td>
                        <td>• When this privilege is assigned to a User / Employee, the employee will be able to manage
                            (add, view, edit and delete) books into the EduCares Library module.
                            <br> • Will be able to Search books via Bar code, Book number, or by the Title of the book
                            in EduCares Library module.
                            <br> • This privilege will allow you to Issue books, return the books from / into the
                            EduCares library module.
                        </td>
                    </tr>
                    <tr>
                        <td>Transport Admin</td>
                        <td>
                            • Will be able to manage Transport Settings in which the employee can Setup the basic
                            configurations in the transport module,
                            <br> • Create all stops vehicles travel during an academic year. Create active vehicles for
                            an academic year, add additional vehicle details and can assign employees from departments
                            as
                            drivers or vehicle attendants and record their contact details.
                            <br> • Will be able to Manage all routes in the institution. Create a new route, assign
                            vehicle, assign stops to route and add pickup and drop timings
                            <br>• Assign students and employees to routes. Based on the transport mode, select from
                            two-way or one-way transport.
                            <br> • Create and view fee collections
                            <br> • Mark route wise attendance of transport availing passengers
                            <br> • Record details of maintenance work done on vehicles like amount spent, next
                            maintenance date, receipts of work etc.,
                            <br> • Import transport data from one academic year to another.
                            <br> • Will be able to generate Transport reports
                        </td>
                    </tr>
                    <tr>
                        <td>Hostel Admin</td>
                        <td>When this privilege is assigned to a User / Employee, can manage (add, view, edit and
                            delete) hostel details in the EduCares Hostel module.
                            <br> • Manage (add, view, edit and delete) room details
                            <br> • Allocate rooms to the students.
                            <br> • Create hostel fee collection date.
                            <br> • will be able to Pay hostel fee sections-wise.
                            <br> • View hostel fee defaulters.
                            <br> • Pay hostel fee student-wise.
                            <br> • Create hostel fee collection date
                            <br> • will be able to Pay hostel fee sections-wise.
                            <br> • View hostel fee defaulters. Will be able to generate Reports of the hostelers.
                        </td>
                    </tr>
                    <tr>
                        <td>Custom import privilege</td>
                        <td>• Privileged employee can import data into eduCares using csv file, thus saving time on
                            manual entry
                            <br>• Using Custom Import the following information can be recorded in EduCares:
                            <br> • Employee admission details including salary structure, any additional details, bank
                            details, and employee privileges
                            <br> • Student admission details including any additional details.
                        </td>
                    </tr>
                    <tr>
                        <td>Custom Reports Control</td>
                        <td>When this privilege is assigned to a User / Employee, will allow the user to create custom
                            reports using the admission information of students and employees. By specifying filter
                            criteria, you can retrieve only the data you require and hide the data that you do not want
                            displayed. Custom reports can be downloaded in comma separated values (.csv) format. </td>
                    </tr>
                    <tr>
                        <td>Custom Reports View</td>
                        <td>• When this privilege is assigned to a User / Employee, the user Can view and print custom
                            student and employee reports.
                            <br> • The User can only have the control of viewing and printing custom student and
                            employee reports.
                        </td>
                    </tr>
                    <tr>
                        <td>Task Management</td>
                        <td>• When this privilege is assigned to a User / Employee, the User can assign / create Task
                            (assignment Task online task or celebration arrangement etc.,) to the Employee and student
                            or to the group of employees and students. While creating a new Task the privileged user can
                            set due date and will be able to view and add comments to the Task.
                            <br> • The privileged employee will be able to manage (view, add, edit, delete). Tasks.
                        </td>
                    </tr>
                    <tr>
                        <td>Placement Activities</td>
                        <td>• When this privilege is assigned to a User / Employee, the User can announce the placement
                            events to students. Eligible students can be authorized to participate in the event and the
                            result can be declared.
                            <br> • The privileged employee can announce new Placements, invite students, check their
                            status,
                            archive the placement and finally generate the report based on the type (Invited, Applied,
                            Approved, Attended, Placed) of students.
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Manager Inventory</td>
                        <td> When this privilege is assigned to a User / Employee, the User can Create and manage store
                            items, creates indents, Manage Purchase Order, Generate Reports. </td>
                    </tr>
                    <tr>
                        <td>App Frames Management</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can access external
                            application in EduCares.
                            <br>• The User can create New Frames by adding the client URL and client name and make it
                            access
                            through EduCares by just one click.
                        </td>
                    </tr>
                    <tr>
                        <td>Client Authorizations,
                            Client App Management
                        </td>
                        <td> Theses 2 privileges work together and when this privilege is assigned to a User / Employee
                            he can create a new client and manage their apps. </td>
                    </tr>
                    <tr>
                        <td>Manage Inventory</td>
                        <td>• Create and manage store categories, store types, stores, item categories, store items,
                            supplier types,suppliers.
                            <br> • Create indents, Manage Purchase Order, Invoice.
                            <br> • Creates GRN, Generate Reports, Manage tax calculation mode.
                        </td>
                    </tr>
                    <tr>
                        <td>Data Management</td>
                        <td> When this privilege is assigned to a User / Employee, the user can create new data
                            categories and add fields to it, the saved data can be printed </td>
                    </tr>
                    <tr>
                        <td>Data Management Viewer</td>
                        <td> When this privilege is assigned to a User / Employee, the user can only view and print
                            data, user will not have the privilege of creating new data categories.</td>
                    </tr>
                    <tr>
                        <td>Inventory Sales</td>
                        <td> When this privilege is assigned to a User / Employee, the user can Manage Invoice,
                            Generate Reports, generate sales reports, Generate Item-wise Report, Generate Day-wise
                            Report, Generate Invoice Report. </td>
                    </tr>
                    <tr>
                        <td>Document Management</td>
                        <td>• When this privilege is assigned to a User / Employee he can Upload, View and Share
                            documents to the employees and students.
                            <br> • The user will have the privilege of creating privileged folder, where we have an
                            option to add members with 'Upload' privilege while creating the folder. And those people
                            can upload files/documents to the specific folder in addition with accessing the documents
                            within the folder.
                            <br>• The privileged user can create User specific (either students or employees or both)
                            folder where in the user can add the documents which are specific to that user.
                        </td>
                    </tr>
                    <tr>
                        <td>Reminder Manager</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can set Reminders and send
                            messages to alert students, parents, and employees about upcoming institutional events.
                            Reminders are sent a specified amount of time before an event via SMS and email. Reminders
                            can be created for: Events, Exams, Online exams and Fee collections schedules.
                            <br> • Can create Custom reminders to notify your EduCares users about any type of upcoming
                            institutional activities
                            <br> • For EduCares users to receive reminders their contact information (mobile number and
                            email address) must be saved in their EduCares profiles. Also, the SMS and email settings
                            must be configured for your EduCares account.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Alumni</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can View alumni of past
                            sections/classes, Schedule and organise alumni events, Invite alumni to events, View and
                            track responses to event invitations, Contact alumni via email. </td>
                    </tr>
                </table>

                <p> <b> Student Management: </b> </p>
                <table>
                    <tr>
                        <td>Admission</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can use the Student
                            admission form, to admit a new Student in EduCares.
                            <br> • The user will have the privilege of entering all the details of the student (Name,
                            Admission Number, Parent details etc.,) who is newly admitted to the institution into the
                            EduCares.
                        </td>
                    </tr>
                    <tr>
                        <td>Students Control</td>
                        <td>• When this privilege is assigned to a User / Employee, the User can admit students into the
                            EduCares.
                            <br> • The User will be able to manage (view, edit, send emails and delete) student’s
                            profile, by searching their details based on the type of students (present academic year
                            students and former students).
                            <br> • The User can also manage the details of all the students by searching their profiles
                            based on their section/class using “View all” option.
                            <br>f • This privilege has “Advanced search” option to search the details of the students.
                        </td>
                    </tr>
                    <tr>
                        <td>Student View</td>
                        <td> When this privilege is assigned to a User / Employee, the user will have all the privilege
                            to manage (search students, view, edit, send emails and delete) student details but will not
                            have the option of admitting the students into the EduCares. </td>
                    </tr>
                    <tr>
                        <td>Student Attendance Register</td>
                        <td> When this privilege is assigned to a User / Employee, can mark the attendance of the
                            students present in EduCares.</td>
                    </tr>
                    <tr>
                        <td>Student Attendance View</td>
                        <td>• When this privilege is assigned to a User / Employee, can view and generate attendance
                            report (monthly and daily reports) of students according to their sections based on monthly,
                            custom, overall.
                            <br> • The user can add extra information (date of birth, gender, section etc.,) of a
                            student in
                            attendance report by customizing the columns which are to be saved in the report.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Student Records</td>
                        <td>• When this privilege is assigned to a User / Employee, the User can Create and manage
                            record groups( A record group is a collection of records used to capture details about
                            students that are specific to a section. E.g., maintain the Health Records of students such
                            as Height, Weight, Vision).
                            <br> • Assign record groups to classes and sections
                            <br> • Enter and manage student records
                        </td>
                    </tr>
                    <tr>
                        <td>Applicant Registration</td>
                        <td>• When this privilege is assigned to a User / Employee, the User can Create and manage
                            Online applications for new joiners of classes in your organization. You can activate
                            applicant registration for each class with customized forms and fields based on your
                            requirements.
                            <br> • The user can create new pins and give them to the applicant at the time of online
                            registration.
                            <br>• The user can Update the status of the online application received and Allocate or
                            discard the applicant based on the terms and conditions.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Transfer Certificate</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can generate Transfer
                            Certificate
                            <br> • The User can Choose and add the required fields in the transfer certificate based on
                            your institution/board standards.
                            <br>• The User can View and manage the transfer certificates generated for your outgoing
                            students.
                        </td>
                    </tr>
                </table>

                <p> <b> Academics: </b> </p>
                <table>
                    <tr>
                        <td>Examination Control</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can manage Grading Levels,
                            Ranking Levels and Class Designations.
                            <br> • Can Set grading levels, Ranking Levels, Class Designations, Grades, Weightages etc.
                            for CCE.
                            <br> • Manage Observation Groups, FA groups and association to subjects.
                            <br> • Manage Basic CCE Report Settings, Detailed CCE Report Settings, Configure grade,
                            upscale settings for scholastic subjects.
                            <br> • Manage CGPA Settings, Report Settings for Exam, Grouped Exam and Transcript Reports.
                            <br> • Configure how students are sorted in report cards and mark entry pages.
                            <br> • Create new exams, enter marks
                            <br> • Generates Student Reports for Grouped Exams.
                            <br> • Generates exam-wise reports, subject-wise reports,Grouped Exam reports for archived
                            students, reports for subject-wise student ranks, reports for sections-wise student ranks,
                            reports for class-wise student ranks, reports for overall student ranks for this school,
                            reports for sections-wise student rank per attendance, reports based on different ranking
                            levels, student transcripts, combined student reports, combined student reports.
                            <br> • Manage Online Exam System, create new online exam, view existing online exam, View
                            online exam results, Reset exam for a student.
                        </td>
                    </tr>
                    <tr>
                        <td>Enter Result</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can enter result even if no
                            subjects are assigned. </td>
                    </tr>
                    <tr>
                        <td>View Result</td>
                        <td>When this privilege is assigned to a User / Employee, can view all the results in all
                            batches even if no subject is assigned.
                            <br> • The privileged user will be able to View online exam results.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Timetable</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can Create and edit class
                            timing sets.
                            <br> • Set weekdays and class timing sets for each section, Create and manage timetable
                            allocations, View the timetable for a class, View timetable of teachers, assign subjects to
                            teachers, View the entire timetable for a day, Allocate classrooms.
                            <br> • The user can customize Timetable by going into Timetable settings and Configure how
                            you want the class details to be displayed in the Student and Employee timetable PDF Report.
                            <br> • Manage Timetable Tracker, Manage Timetable Swapping, Generate Swapped Timetable
                            Report.
                        </td>
                    </tr>
                    <tr>
                        <td>Timetable View</td>
                        <td>• When this privilege is assigned to a User / Employee, the user will be able to View the
                            timetable for a class, View timetable of teachers, View the entire timetable for a day,
                            <br> • Can view the Generate Swapped Timetable Report
                        </td>
                    </tr>
                    <tr>
                        <td>View Additional Reports</td>
                        <td>• When this privilege is assigned to a User / Employee, the User will be able to generate
                            the following reports: -
                            <br> • Generate Swapped Timetable Report
                            <br> • Generates Class / Sections Details
                            <br> • Generates Former students Details
                            <br> • Generates Subject Details
                            <br> • Generates Exam Schedule Details
                            <br> • Generates Fee collection Details
                            <br> • Generates Class Fees Defaulters Details
                            <br> • Generates Students Fees Defaulters Details
                            <br> • Generates Students Fees Head-wise Report
                            <br> • Generates Siblings Report and finally.
                            <br> • Generate the report of total number of classes, sections, students and employees
                            present in the institution.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Allocations</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can allocate classrooms for
                            the employees and students based on the timetable.
                            <br> • The user can allocate buildings in two ways, one way of allocating classroom is
                            weekly basis and secondly by date wise.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Buildings</td>
                        <td>• When this privilege is assigned to a User / Employee, the user will be able to add
                            buildings and their respective class numbers into the EduCares module. By this reference one
                            can easily allocate classrooms to employees and students according to their timetable.</td>

                    </tr>
                    <tr>
                        <td>Online Exam Control</td>
                        <td>When this privilege is assigned to a User / Employee, the user can create new online exam,
                            view existing online exam, view online exam results, Reset the online exam for a student.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Gradebook</td>
                        <td>• When this privilege is assigned to a User / Employee, the user will be able to manage the
                            following features: -
                            <br> • Exam Planners i.e., Create terms and add exam types for the academic year, manage
                            grade book by Scheduling exams, enter marks and generate reports for classes and sections,
                            <br> • Manage Grade profiles, ranking levels, Class designation, and other exam
                            configurations, create attribute profiles to evaluate subject exams based on parameters
                            (Attributes are parameters used to evaluate subject exams. Create attribute profiles and
                            assign to subjects. For example, Class Participation profile has the following attributes:
                            Attention in class, Response to questions, Maintenance of notebooks)
                            <br> • Create activity profiles to manage grade based non scholastic evaluations (activity
                            profiles are used for evaluation of non-subject related aspects of students. You can create
                            multiple activity profiles and assign to different exam planners. Example Co-scholastic
                            activities, Psychomotor skills etc.)
                            <br> • Create and manage all applicable grading profiles for the institution (Grading
                            profiles are used for evaluating grade based subject exams and activity exams. Create
                            grading profiles here and assign to the exams in the planner. Example Co-scholastic grading
                            profile.)
                            <br> • Configure remark banks to group similar remarks under a set (Configure remark banks
                            to group similar remarks under a set. Remark banks can be used with Field Codes that will
                            autofill details like name, pronouns based on gender. When adding remarks, choose a remark
                            bank and select the most appropriate remark(s) from the set.)
                            <br> • View and download student-wise exam, term and planner reports, View and download
                            subject-wise exam reports, View and download exam reports of all subjects.
                        </td>
                    </tr>
                    <tr>
                        <td>Gradebook Mark Entry</td>
                        <td>• When this privilege is assigned to a User / Employee, he can schedule exams, enter marks
                            and generate reports for classes and sections. </td>
                    </tr>
                    <tr>
                        <td>Certificate Management</td>
                        <td>• When this privilege is assigned to a User / Employee, the user can Create and manage the
                            templates of different certificates issued by this institution, Create templates for
                            students and employees. Configure settings and design the template in the editor. Use
                            available system fields or add your own custom field in the template. Create and manage the
                            templates of different certificates issued by this institution.
                            <br> • Generate certificate for one user or Generate certificates for many users at once
                            <br> • The user can also manage Generated certificates (Here is the archive of all the
                            certificates that are issued from your institution).
                        </td>

                    </tr>
                    <tr>
                        <td>ID Card Management</td>
                        <td>When this privilege is assigned to a User / Employee, the user can Create and manage the
                            templates of different ID cards issued by this institution, Create templates for students,
                            guardians and employees Id cards. Configure settings and design the template in the editor.
                            Use available system fields or add your own custom field in the template.
                            <br> • Generate Individual ID Card (Generate an ID card for one user) Generate ID cards for
                            many
                            users at once (Generate ID cards for many users at once).
                            <br> • View generated ID Cards (Manage all previously generated ID cards. Regenerate
                            required
                            certificates again)
                        </td>

                    </tr>
                </table>

                <p> <b> Social / Other Activity: </b> </p>
                <table>
                    <tr>
                        <td>Create Group</td>
                        <td> Can create and delete group in discussion module./td>
                    </tr>
                    <tr>
                        <td>Poll Control</td>
                        <td>• Can create new poll and assign different sections and departments to it.
                            <br> • View the votes for poll
                        </td>
                    </tr>
                    <tr>
                        <td>Blog Admin</td>
                        <td> Can post, search and do the necessary settings required for blog creation</td>

                    </tr>
                    <tr>
                        <td>Gallery Admin</td>
                        <td> Can create album, add photos and set the visibility options.</td>

                    </tr>
                </table>

                <p> <b> System Settings: </b> </p>
                <table>
                    <tr>
                        <td>General Settings</td>
                        <td>• Basic Settings about the school account like school name, Address, enabling roll number
                            assignment, enabling google SSO etc.
                            <br> • Can update different student categories in school.
                            <br>• Can configure additional details (fields that are currently not there in EduCares)
                            that needs to be updated about the student during the admission process.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage class/section</td>
                        <td>• Can create and manage class and sections.
                            <br> • Can activate or deactivate sections.
                            <br>• Can manage subjects corresponding to different classes.
                        </td>
                    </tr>
                    <tr>
                        <td>Subject Master</td>
                        <td>• Manage subjects corresponding to different classes.
                            <br> • Manage Subjects Groups, Elective Groups and Subjects on the class level.
                            <br>• Manage subject skill sets, skill sets and sub skills.
                            <br>• Link class subjects to sections.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage student roll numbers</td>
                        <td> Can edit roll number of students or assign a prefix to roll numbers class wise. </td>
                    </tr>
                    <tr>
                        <td>Send Email</td>
                        <td> Privilege to send emails to employees, students and parents.</td>
                    </tr>
                    <tr>
                        <td>Email Alert Settings</td>
                        <td> Do the settings for email alerts like setting email alert during examination scheduling
                            etc.</td>
                    </tr>
                    <tr>
                        <td>Message Settings</td>
                        <td> Enable or disable which users can send messages in the institution and who can they send
                            messages to.</td>
                    </tr>
                </table>

                <p> <b> Finance Control: </b> </p>
                <table>
                    <tr>
                        <td>Manage Fee</td>
                        <td>• Can do the necessary settings for fee configuration of the institution like receipt
                            template, tax settings, invoice generation etc…
                            <br> • Can create master fees, master particulars and master discounts.
                            <br> • Create new fee collecting dates.
                            <br> • Can view fee structure of students.
                            <br> • Manage and pay instant fees.
                            <br> • Manage all imported fees for any student.
                            <br> • Can set the duration of the financial year, configure printer settings and configure
                            the details of the receipt pdf.
                        </td>
                    </tr>
                    <tr>
                        <td>Fee Submission</td>
                        <td>• Can collect fees based on section, student wise or particular wise.
                            <br>• Can view students with fees dues.
                            <br> • Manage and pay instant fees.
                        </td>
                    </tr>
                    <tr>
                        <td>Manage Refunds</td>
                        <td>• Can view all refunds.
                            <br> • Create refund rules for fee collection.
                            <br> • Apply/Revert refund for student.
                        </td>
                    </tr>
                    <tr>
                        <td>Finance Reports</td>
                        <td>• Can view income and expense transactions for all accounts.
                            <br> • View fee receipts of student, employee and guests.
                            <br> • Compare financial transactions of two different periods.
                            <br> • Generate detailed particular wise student transaction report and particular wise
                            daily transaction report.
                            <br> • Generate report of tax collected.
                        </td>
                    </tr>
                    <tr>
                        <td>Approve/Reject Payslip</td>
                        <td>• Can view the employees assigned to a payroll group, their payroll details and the payslips
                            generated.
                            <br> • Approve or reject employee payslips generated for a pay period.
                            <br> • View payslips generated for an employee.
                            <br> • Generate simple and advanced payslip reports.
                        </td>
                    </tr>
                    <tr>
                        <td>Revert Transaction</td>
                        <td>• Can collect the fees as well as revert the collected fees in case of any errors.
                            <br> • Collect instant fees as well as revert the collected instant fees in case of errors.
                            <br> • Can also view fee defaulters and collect and revert fees from them.
                        </td>
                    </tr>
                    <tr>
                        <td>Miscellaneous</td>
                        <td>• Can create new finance categories,
                            <br> • Can manage transactions by creating new expenses and new income groups.
                            <br> • Can create new donations.
                            <br> • Can manage Assets and Liabilities by creating new ones and can also view existing
                            ones.
                            <br> • Mange tally exports by doing the necessary settings for tally export.
                            <br> • Can also do manual tally synchronization, bulk export and view failed
                            synchronizations.
                        </td>
                    </tr>
                </table>

                <p> <b> HR Management: </b> </p>
                <table>
                    <tr>
                        <td>HR Settings</td>
                        <td>• Create and manage employee category, position, department and grades.
                            <br> • Set up employee working day settings.
                            <br> • Setup and manage employee leave types.
                            <br> • Create and manage employee bank details.
                            <br> • Customize employee admission form by adding additional fields.
                            <br> • Configure the payroll calculation mode.
                            <br> • Create various leave groups and manage them.
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Management</td>
                        <td>• Can admit employee using employee admission form.
                            <br> • Assign each employee with one or more subjects.
                        </td>
                    </tr>
                    <tr>
                        <td>Payroll & Payslip Management</td>
                        <td>• Can create and manage employee category and groups based on payroll.
                            <br>• Configure information to be displayed in employee payslip.
                            <br> • Can generate employee payslip.
                            <br> • Manage rejected payslips of employees.
                            <br> • Can generate simple and advanced payslip reports and customize the reports.
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Attendance</td>
                        <td>• Can mark employee attendance
                            <br> • View all employee leave application
                            <br> • Reset employee leaves
                            <br> • Generate the attendance report of employees from all departments.
                            <br> • Can generate the leave balance report for all departments.
                        </td>
                    </tr>
                    <tr>
                        <td>Employee Search</td>
                        <td>• Can search for an employee based on – employee number, name, department, category,
                            position or grade or based on different combinations of these fields</td>
                    </tr>
                    <tr>
                        <td>Employee Reports</td>
                        <td>• Can generate a PDF report with all the employee details like employee number, joining
                            date, department, category etc…</td>
                    </tr>
                </table>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-1"> How can I search and view a user profile? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-2"> How can I change the password of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-3"> How can we assign privileges to an employee? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-4"> What are the different privileges available in
                            EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-5"> What is the use of 'Search by User Type' option in
                            Manage User?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-6"> How can I create a additional admin account in
                            EduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>