<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Configure Academic Year
                </h2>
                <p>

                    Academic Year is the year range for the institution's academic-related activities like exams,
                    timetable, etc. You might name it as <b>2019-2020, 2020-2021.</b>
                    All the students getting admitted, exams created and scheduled, sections created will be under an
                    academic year that helps to organize the events and data chronologically for better efficiency.
                </p>
                <p>
                    In order to create an Academic Year in EduCares System, Admin or the privileged user has to follow
                    the below steps:
                </p>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the <b>Menu > Administration > Settings > Academic Years</b>
                        to
                        open the <b>manage Academic Year</b> page.
                    </li>

                    <img src="..\..\assets\Solutions\Settings\18.1.jpg" alt="18.1">
                    <li>
                        Click on the <b>New Academic Year</b> button to create a new academic year.
                    </li>
                    <li>
                        Enter the details of <b>Start Date, End Date</b>, and <b>Academic Year</b> Name to create the
                        academic
                        year.
                    </li>

                    <img src="..\..\assets\Solutions\Settings\18.2.jpg" alt="18.2">
                    <li>
                        Click on <b>Create Academic Year</b> to save the configuration.
                    </li>
                </ol>
                <p>
                    <b>
                        Note:
                    </b>
                </p>

                <p>
                    If the user wants to mark the academic year which has been created as <b>Active Academic Year,</b>
                    then
                    the below steps need to be completed.
                </p>
                <ol class="parahone" type="a">
                    <li>
                        Click on the <b>Change Active Academic Year</b> button.
                    </li>

                    <img src="..\..\assets\Solutions\Settings\18.3.jpg" alt="18.3">
                    <li>
                        Select the Academic Year from the drop-down menu.
                    </li>
                    <img src="..\..\assets\Solutions\Settings\18.4.jpg" alt="18.4">
                    <li>
                        Click on <b>Save Active Year</b> to save the settings
                    </li>
                </ol>

                <img src="..\..\assets\Solutions\Settings\18.3.jpg" alt="18.3">
            </div>
            
            

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>