<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is the difference between activity, attribute, and skill-based exam?
                </h2>
                <p>
                    <b>Activities</b> are the co-scholastic programs conducted in schools which help to evaluate the
                    overall development of a student. For example, extracurricular activities like crafts, music, dance etc. or
                    personality traits like discipline, cleanliness etc. can be added as activity in Educares.

                    <br> <br>
                    <b style="color: red;">Activity profile needs to be added as separate activity exam in the gradebook
                        planner and will get displayed in the gradebook/report card. </b>Activities are generally
                    evaluated only using grades in Educares.

                </p>
                <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\8.1.jpg" alt="8.1">
                <p>
                    <b> Attributes</b> are various parameters or criteria based on which the total mark of a subject
                    gets calculated. For example, if the total mark of a subject is the sum of the worksheets, home-works,
                    records submitted during the term then we can create an attribute profile with these attributes and
                    link them to the subject.

                    <br> <br> While creating the exams for such subjects we can specify the exam as attribute-based exam
                    and teachers will get an option to enter mark for each of the parameters.<b style="color: red;">
                        Attributes are displayed only in exam report and will not be displayed in term/planner report.</b>

                </p>
                <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\8.2.jpg" alt="8.2">
                <p>
                    <b>Skillset </b>are the various factors based on which a subject knowledge is evaluated. For
                    example, writing Skills, reading Skills, vocabulary etc. can be added as skillset and associated to a
                    subject.
                    <br> <b style="color: red;"> Skillset are associated with a subject during subject creation and is
                        displayed in gradebook.</b>

                </p>
                <img style="width: 60%;" src="..\..\assets\Solutions\Gradebook\8.3.jpg" alt="8.3">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-1"> Guide to use Gradebook</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-2"> What is gradebook?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-3"> How to do gradebook setting?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-4"> How to create attribute profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-5"> How to create Activity Profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-6">What are Grading Profiles? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-7">What is Remark Bank? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-8"> What is the difference between activity, attribute,
                            and
                            skill-based exam?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-9">How to create Exam Planners? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-10">How to add exams in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-11"> What are different types of exams in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-12">How to customize the Gradebook? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-13">How to link a class to gradebook planner? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-14"> What are the different types of grade book report
                            that can be generated in a planner?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-15">How to import exam planner from previous year? </a>
                    </p>

                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-16">How to generate report card for a class? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-17">How to schedule an exam in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-18">How to enter marks for different subjects? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-19">How to import marks using csv? </a>
                    </p>


                </div>
            </div>
        </div>
    </div>


</mat-card>