<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">

                <h2>
                    Settings
                </h2>

                <mat-toolbar id="1">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                                EduCares? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">
                            EduCares comprises of various modules and plugins to efficiently manage all administration,
                            management, and learning related activities..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="2">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-2">How to configure the Basic General Settings? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">General settings is available in the Setting modules. We can make the basic
                            configuration of the institution from the General settings..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="3">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-3">How to Add / Edit / Delete normal subjects? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Add Normal subjects to a batch:
                            To add a normal subject to a batch, you must either be the administrator or a privileged
                            employee (Manage Course/Batch or Subject master privilege..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="4">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-4">Edit Normal subjects to a batch</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Normal subject added once can be edited through the Subjects page.
                            At the top of your dashboard, click the module access icon..

                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="5">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-5">Delete Normal subjects to a batch</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">To delete a normal subject, you must either be the administrator or a
                            privileged employee (Manage Course/Batch or Subject..

                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="6">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-6">How to Create / Edit / Delete an elective group?
                            </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Create an Elective group:
                            Before adding the elective subjects, an elective group must be created under which the
                            subject can be added...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="7">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-7">How to assign an elective subject to a student?
                            </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">The administrator and privileged employees (Manage Course/Batch or Subject
                            master privilege must be is provided) can assign an elective...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="8">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-8">Differentiate normal and elective subjects in
                                EduCares? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer"> A Normal subject is a compulsory subject that must be completed in order to
                            meet the requirements of a course. Normal subjects added are applicable to all the students
                            in a batch..

                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="9">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-9">How to Import previous batch subjects to the current
                                batch? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Often, subjects under a course can remain same over batches. This can be
                            achieved by selecting Import Subject option. The subjects can be imported...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="10">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-10">What is the use of Active, Inactive or Delete field
                                in admission additional details? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">If an additional field is active it will be displayed in the admission form,
                            and if we do not want a custom admission detail field to be displayed in the...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="11">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-11">What is add additional admission details? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Before admitting students, you can customize the student admission form to
                            meet your institution's policies and requirements. Apart from the...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="12">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-12">Language list in EduCares </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">EduCares has been translated into the following languages:
                            Deutsch (German), Dominican Español (Dominican Spanish), Dutch, English, Español
                            (Spanish)...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="13">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-13">How To Add Subjects In Subject Center </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">To add a subject, subject groups or electives in EduCares go to –
                            Home>>Academics>>Subjects Center>>Class Subjects>>Select Class...

                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="14">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-14">Settings Page Overview </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">EduCares comprises various modules and plugins to efficiently manage all
                            administration, management, and learning-related activities. The ‘Menu’ at the...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="15">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-15"> What is student Category? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In an Institution, the student may be categorized into different categories.
                            The category may be on the basis of any criteria..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="16">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-16"> What is Student Document categories and how to
                                create it?
                            </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In order to manage and maintain the records of the Student, Institutes require
                            the option to upload the documents related to the Students...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="17">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-17">Feature Access Settings </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">As per the institute's requirement, the Admin or the Privilege user can give
                            different feature access to the Parent through which Parent or Guardian...
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="18">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-18">Configure Academic Year </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Academic Year is the year range for the institution's academic-related
                            activities like exams, timetable, etc. You might name it as..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="19">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-19">Custom Word Settings In EduCares </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">Custom Words are used to manage the variations in terms of names of batches,
                            sections or courses, etc. in the Institution inside the EduCares..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="20">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="solutions/settings/settings-20">How to use the EduCares Online Meeting Patch? </a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">To get the EduCares patch, you need to follow the below mentioned steps.
                            Log in to the server as root user.
                            Switch to eduCares user..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>

                <mat-divider></mat-divider>

            </div>
        </div>
    </div>
</mat-card>