<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Messages
                </h2>
                <p>
                    Message section in EduCares is used for internal messaging. With Messages the administrator,
                    employees, students, and parents can send and receive private and secure messages to other EduCares
                    users based on their role. Messages also function as a notification system by sending notifications
                    to EduCares users who are part of or involved in certain EduCares events. </p>
                <p>
                    <b>Who can send messages? </b>
                </p>
                <table>
                    <tr>
                        <th>User</th>
                        <th>Recipients</th>
                    </tr>
                    <tr>
                        <td>Administrator</td>
                        <td>Can send messages to all EduCares users.</td>
                    </tr>
                    <tr>
                        <td>Employee – Teacher/Tutor</td>
                        <td>Can send messages to:
                            <br> • All Employees
                            <br> • All Students
                            <br> • Only parents of the students who they teach.
                        </td>
                    </tr>
                    <tr>
                        <td>Employee – Staff (Not a teacher or tutor)</td>
                        <td>Can send messages to:
                            <br> • All Employees
                            <br> • All Students
                        </td>
                    </tr>
                    <tr>
                        <td>Student</td>
                        <td>Can send messages to:
                            <br> • Teachers/tutors of only their batch
                            <br> • Students of only their batch
                            <br> • Only their guardian
                        </td>
                    </tr>
                    <tr>
                        <td>Parent</td>
                        <td>Can send messages to:
                            <br>• Only teachers/tutors who teach their children
                            <br> • Only their children
                        </td>
                    </tr>
                </table>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-1"> About Messages</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-2"> How to access as well as send a message
                            in EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-3"> How can I reply to a message?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-4"> How can I delete a message?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>