<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>

                    How to graduate a batch of students?

                </h2>
                <p>
                    Usually a batch is graduated after the students have completed their studies in the institution.
                    After a batch is graduated, all students of that batch are moved from the active list of students to
                    the former/Alumni list. The administrator or a privileged employee <b>(Manage
                        Course/Batch</b>privilege must be provided) can graduate a batch of students.


                    <br> <br> At the top of your dashboard, click the module access icon ><b> Administration > Settings
                        > Manage
                        Course/Batch > Manage Batch</b> to open the<b> Manage Batch </b>page.
                </p>
                <ol class="parahone">
                    <li> In the top right, click the <b>Batch Transfer</b> button.
                    <li> Select the <b>course.</b>
                    <li> Click <b>Graduation</b> beside the batch that is to be graduated.
                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\20.1.jpg" alt="20.1">


                    <li> Uncheck students who are not eligible to graduate.
                    <li> In the <b>Status description </b>field, enter a comment.
                    <li> In the <b>Leaving date</b> field, select the leaving date of the batch.
                    <li> Click the <b>Save</b> button.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\CB\20.2.jpg" alt="20.2">

                        <br>  Click the <b>Generate TC</b> for all button to generate a transfer certificate for all graduated
                        students.


                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-1"> Understanding more about courses/classes
                            in K-12 and Higher
                            Education Institutions.</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-2"> What should be the nomenclature or the
                            naming convention
                            to be followed while creating a course and a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-3"> How courses/classes can be created in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-4"> How to edit a course? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-5"> How to delete a course in EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-6"> How a batch can be created in EduCares?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-7"> How to edit a batch within EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-8"> How to delete a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-9"> How to assign subject fee amount for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-10"> How to edit or delete subject fee
                            amount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-11"> How can we view students in a batch?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-12"> How to assign a tutor for a batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-13"> What privileges does a batch tutor
                            have?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-14"> How to change or remove assigned tutor
                            for a batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/courseandbatch/courses&batches-15"> If I go to batch transfer, I can see a
                            option called "Graduation". What is this for?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>