<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Feature Access Settings
                </h2>
                <p>

                    As per the institute's requirement, the Admin or the Privilege user can give different feature
                    access to the Parent through which Parent or Guardian will be able to access the information related
                    to their ward using EduCares.<br>
                    Feature Assess settings option is used to configure or enable the list of features that the
                    parent/guardian of your institution can have access to. This list includes:

                </p>
                <p class="tab">
                    a. <b>Gallery:</b> To see the shared gallery
                <p class="tab">
                    b. <b>Hostel:</b> To see the ward’s hostel details
                <p class="tab">
                    c. <b>Transport:</b> To see the ward's transport details.
                <p class="tab">
                    d. <b>Student’s Documents:</b> To see the ward’s documents.
                <p class="tab">
                    e.<b> Assignment:</b> To see the ward’s homework or assignments.
                <p class="tab">
                    f. <b>Tasks:</b> To see the tasks.
                </p>

                <p>
                    To configure the Feature Assess settings, Admin or the privileged user has to follow the below
                    steps:
                </p>
                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the <b>Menu > Administration > Settings > Feature access
                            settings</b> to open the feature access settings page.
                    </li>
                    <img src="..\..\assets\Solutions\Settings\17.1.jpg" alt="17.1">
                    <li>
                        Click on the <b>Checkbox</b> for the below feature for which institute needs to give access to
                        the
                        Parent or the Guardian.
                        <ul>
                            <li>
                                <b>Gallery</b></li>
                            <li>
                                <b>Hostel</b></li>
                            <li>
                                <b>Transport</b></li>
                            <li>
                                <b> Student’s Documents</b></li>
                            <li>
                                <b> Assignment</b></li>
                            <li>
                                <b>TasksGallery</b>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Click on the Save settings button to save the configuration.
                    </li>
                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>