<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Fee Receipts List?
                </h2>

                <p>
                    The<b> Fee Receipt</b>s page (<b>Module access icon > Administration > Finance > Finance Reports > Fee
                    Receipts</b>) lists all the fee receipts for payments made by employees, students, and guest users
                    against fee collections. It includes Finance fee, Hostel Fee, Transport fee, Instant fee, and Online
                    Payment. The Administrator can view the Fee Receipts page. For a Privileged Employee to view the Fee
                    Receipts page, either the <b>Manage Fee, Revert Transaction or Fee Submission privilege</b> must be
                    provided.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\17.1.jpg" alt="17.1">
                    <br> Each fee receipt will include the following details:
                </p>

                <ul class="parahone">
                    <li> <b>Receipt number</b> – The receipt number. Click the receipt number to print the receipt.
                    <li><b> Payer name</b> – The name of the student or employee who made the payment.
                    <li> <b>Payer type </b>– The payer type can be Employee, Student, or Guest.
                    <li><b> Batch/Department</b> – The batch the student belongs to or the department the employee belongs
                        to.
                    <li> <b> Collection </b>– The name of the fee collection the payment was made towards. You can click the
                        collection name to view the collection payment details.
                    <li> <b>Payment date </b>– The date the payment was made.
                    <li> <b>Amount </b>– The total amount paid.
                    <li><b> Payment mode</b> – The mode of payment, Cash, Online Payment, Cheque, DD, or Others.
                    <li> <b>Cashier (Employee)</b> – The name of the employee who processed the payment.
                </ul>

                <p>
                    By default, the<b> Fee Receipts </b>page will list the fee receipts for the last thirty days. You can also
                    view the fee receipts for the last three months, last six months, or you can specify a specific date
                    range. To change the date range, click <b>Change date</b>, specify a date range, and then click the<b> Search
                    receipts</b> button.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\17.2.jpg" alt="17.2">

                    <br> To search for a fee receipt, enter the fee receipt number, and then click the <b>Search receipts</b>
                    button.

                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\17.3.jpg" alt="17.3">

                    <br> Use <b>Advanced search</b> to find a fee receipt faster.
                    <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\17.4.jpg" alt="17.4">
                    <br><br> You can provide any of the following details and search:
                </p>
                <ul class="parahone">
                    <li> Payment date range
                    <li> Collection name – Enter the name of the collection to search and select
                    <li> Payment details – Mode of payment and transaction reference number
                    <li> Name of the cashier
                    <li> Specify if the payer was a Student or Employee and accordingly enter the name of the
                        student/employee
                        <br> After entering the details, click the <b>Search receipts</b> button.

                </ul>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-1"> What is fee collection and how to set it?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-2"> How can I Create / Edit / Delete a Fee Category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-3"> How can I Create / Edit / Delete a fee particular?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-4">How to Create / Edit / Delete student fee discount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-5"> How can I set up and edit / delete fines for late fee
                            payments?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-6"> What is meant by scheduling student fee collections?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-7"> How can I schedule a fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-8"> How can I Edit/Delete a scheduled fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-10"> How to create a Fee refund rule for Fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-11"> How do I edit or delete an existing refund rule?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-12"> How do I revert a Fee refund?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-13"> Can I specify a custom fee payment date?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-14"> Can I create instant fee particulars or fee discounts at the
                            time of collecting fees?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-15"> Can I view all reverted/deleted transactions in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-9"> How to manage fee particulars and fee discounts from student
                            fee collections?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>