<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Discussion module
                </h2>
                <p>
                    <b>Discussion</b> module helps the students, teachers to interact with each other. For this a group
                    has to
                    be created and add respective members into it, so that they can share their views through posting
                    comments in it. The members of the group gets privilege to see the posts and they are allowed to
                    comment to the posts. The admin or privileged employees (belongs to the group) can delete the
                    unwanted posts and the employees or students can delete only their respective posts.
                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/discussion/discussion-1"> About Discussion module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-2"> How to create a discussion group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-3"> How a user can add post to a group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-4"> How other users can put comments for the post in a
                            group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-5"> How can a user upload image or document while putting
                            a post? What is the maximum image size? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-6"> How can we edit a group and add new members to it?
                            How can we delete a group created?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>