<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit,close or delete a poll?
                </h2>

                <p>
                    Only <b>Admin</b> or <b>Privileged user </b>has the option to edit or delete a poll.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Colloboration> Poll</b>.

                        <img src="..\..\assets\Add-On\Poll\3.1.jpg" alt="3.1">
                    <li> Click on<b> Edit,Close </b>or <b>Delete</b> to perform necessary edition on poll, unpublish the
                        poll or to delete the respective poll, which is active under Active list.

                        <img src="..\..\assets\Add-On\Poll\3.2.jpg" alt="3.2">
                    <li> Additional field can be provided by clicking on <b>Add another</b> option.

                    <li> Click on <b>Save.</b>
                </ol>
                <p>
                    <b> Note:</b> Polls can be edited by person who has created it, if and only if it is an active/ open
                    poll and none of the members has voted or commented on it. Close operation is used to unpublish the
                    active poll. It is performed at the end, after all the members have performed their voting.
                    <b> Deletion</b> can be done for both open and closed polls.
                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">ś
                    <p>
                        <a href="add-on/poll/poll-1"> About Poll Plugin
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-2"> How can I create polls in EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-3"> How can I edit,close or delete a poll?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-4"> How can a user (student/employee) give their respective votes
                            ?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-5"> What is 'Open for Polling' option when a new poll is created? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-6"> Can a user reopen a closed poll? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-7"> How to view the result of a Poll? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>