<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Custom import
                </h2>
                <p>
                    The <b>Custom Imports</b> plugin helps institutions import employee, student, and intuitional data
                    into
                    eduCares using a comma-separated value (CSV) formatted file. The Custom Imports plugin will help
                    save time by alleviating manual data entry tasks and will also reduce the chances of error allowing
                    institutions to work with greater accuracy. When a custom import is performed—if eduCares SMS
                    settings is configured—an SMS notification is sent to the corresponding user whose information is
                    being imported into eduCares.
                </p>
                <p>
                    The administrator or a privileged employee (<b>Custom import privilege </b>is required) can perform
                    a custom import. At the top of your dashboard, click the module access icon > <b>Data and Reports >
                        Custom Imports.</b>
                </p>
                <p>
                    Custom Import can be performed when the following information needs to be recorded in eduCares:
                </p>

                <ul class="parahone">
                    <li> Employee admission details including salary structure, any additional details, bank details,
                        and
                        employee privileges
                    <li> Student admission details including any additional details
                        Note: Currently, student roll numbers cannot be imported using Custom Import.
                    <li> Student guardian details
                    <li> Student attendance details (only Daily attendance type)
                    <li> Student exam scores
                    <li> Library book details including any additional details and book tags
                    <li> Store item details
                    <li> Item supplier details
                    <li> Store details
                </ul>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">

                    <p>
                        <a href="add-on/customimp/customimp-1"> About Custom import</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-2"> Custom import mandatory fields </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-3"> How can I perform custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-4"> How bulk edit is useful in custom import? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-5"> How to import data from a csv file to eduCares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-6"> How can I view the custom import logs? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-7"> How can I delete an export in custom import?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/customimp/customimp-8"> eduCares User Guide for Custom Import </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>