<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How Educares users can comment on a news?
                </h2>
                <p>
                    All Educares users have the ability to comment on a news post.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Collaboration > News </b>to
                        open the<b> Latest announcements</b> page.
                    <li> In the <b>Search news</b> field, enter the title of the news to search, or Select <b>All</b>
                        option beside Showing to view all the news.
                    <li> Select the news post.
                    <li> Enter a comment, and then click the <b>Submit</b> button.
                </ol>
                <img src=".\..\assets\Solutions\News\5.1.jpg" alt="5.1">
                <img src=".\..\assets\Solutions\News\5.2.jpg" alt="5.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/news/news-1"> About News?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-2"> How can we access news module?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-3"> How a published news can be viewed?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-4"> How news can be edited or deleted?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-5"> How Educares users can comment on a news?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-6"> How to delete a comment posted on news?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/news/news-7"> How to enable news comment moderation?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>