<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>

                    How can I remove dashlets from dashboard?

                </h2>
                <p>
                    To remove a dashlet to your dashboard:
                </p>
                <ol class="parahone">
                    <li>On your dashboard, click the <b>Manage Dashlets</b> button.</li>

                    <img src="..\..\assets\Add-On\Data Pallete\3.1.png" alt="3.1">
                    <li>
                        All available dashlets are displayed.
                    </li>

                    <img src="..\..\assets\Add-On\Data Pallete\3.2.png" alt="3.2">
                    <li> <b> Uncheck</b> the respective checkbox inorder to avoid displaying it on the dashboard.</li>
                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/datapallete/datapallete-1"> About Data Palette</a>

                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datapallete/datapallete-2"> How do I add a dashlet to my dashboard? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datapallete/datapallete-3"> How can I remove dashlets from dashboard? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>