<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Is it possible to set admission number as per my school register number?
                </h2>
                <p>
                    <b>Yes.</b> <br>You can set admission number as per the school register number. In Educares, the first
                    admission number you enter should be your school register number and then from next admission,
                    Educares will handle the admission number automatically (if auto increment option is enabled in
                    General settings).

                </p>
                <img src="..\..\assets\Solutions\Student Management\10.1.jpg" alt="10.1">
                <p>
                    Suppose the register number is AF67, then during the first admission, give this admission number.
                    From the next admission on-wards, the number will be incremented (you have to enable the auto
                    increment admission number option in general settings section in Settings module for this to work)

                </p>
                
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-1"> How student admission can be done in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-2">How can I view a student profile and reports?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-3"> How to search a student in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-4"> How to search student of a particular
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-5"> How to archive or delete a student
                            account?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-6"> How archived student can be reverted?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-7">How to view the list of the active
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-8">How to view the list of the archived
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-9">What all modules/activities can students
                            perform from
                            their login?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-10">Is it possible to set admission number as per
                            my school
                            register number?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>