<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I generate sales reports?
                </h2>

                <p>

                    Use the <b>Item-wise Report </b>to view the availability of items and the amount collected for each
                    item.
                    <br>  At the top of your dashboard, click the module access icon > <b>Administration > Inventory
                        > Reports > Sales Reports > Item-wise Report.</b>

                </p>
                <img style="width: 60%;" src="..\..\assets\Add-On\Inventory\30.1.jpg" alt="30.1">
                <p><b><u>Day-wise Report</u></b></p>
                <p>
                    Use the <b>Day-wise Report</b> to view the amount collected and the total number of sales made by
                    each store on the specified date(s).
                    <br>  At the top of your dashboard, click the module access icon > <b>Administration > Inventory
                        > Reports > Sales Report > Day-wise Reports.</b>
                </p>

                <img style="width: 60%;" src="..\..\assets\Add-On\Inventory\30.2.jpg" alt="30.2">
                <p><b><u> Invoice Report</u></b></p>
                <p>
                    Use the<b> Invoice Report</b> to view the list of invoices together with their details for the
                    specified date(s).
                    <br>  At the top of your dashboard, click the module access icon > <b>Administration > Inventory
                        >
                        Reports > Sales Report > Invoice Reports.</b>
                </p>

                <img style="width: 60%;" src="..\..\assets\Add-On\Inventory\30.3.jpg" alt="30.3">

                <p>
                    You can also click on an invoice number to view the complete invoice details.

                </p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>