<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to set up a route?
                </h2>
                <p>

                    Routes can be created once all the stops are added. When entering route details, custom fields can
                    be added prior to record any additional information required by an institution (<b>Administration >
                    Transport > Settings > Route Additional Details</b>).

                </p>

                <ol class="parahone">
                        
                    <li> At the top of the dashboard, click the module access icon > <b>Administration > Transport > Routes</b>
                        to open the<b> Route Details</b> page.

                    <li>  In the top right, click the <b>Add Route </b>button to open the <b>Add New Route </b>page.

                        <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\7.1.png" alt="7.1">


                    <li>  In the<b> Name</b> field, enter the name of the route.
                    <li>  In the <b>Flat route fare</b> field, enter the fee to be paid.
                    <li>  Select the <b>Vehicle, Driver</b> and <b>Attendant</b> for that route in Vehicle, Driver and Attendant
                        field respectively.
                    <li>  Fill the additional route detail fields.
                    <li> <b> Assign</b> the stops with Pickup Time, Drop Time, Distance and fare.
                    <li>  Click the <b>Save</b> button.





                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-1"> About Transport module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-2"> How to add route additional details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-3"> How to add custom fields to record route additional
                            details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-4"> How to do the basic settings in Transport? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-5"> How can I change the 'stop' point of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-6"> How to inactivate or delete a custom route detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-7"> How to set up a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-8"> How to add new stops to an existing route?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-9"> How can I edit/inactivate/delete a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-10"> How can I inactivate or delete vehicle additional
                            detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-11"> How new vehicle details can be added?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-12"> How can I edit, inactivate or delete vehicle details?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-13"> How can I assign student or employee to a Route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-14"> How can I change the route details for a student or
                            employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-15"> How can I schedule transport fee collection for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-16"> How can I assign an existing transport fee collection
                            to a
                            student/employee? </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>ś