<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to view the list of the active students?
                </h2>
                <p>
                    The <b>administrator</b> or a <b>privileged employee (View Additional Reports</b> privilege is
                    required) can view the list of active students from the <b>Reports center.</b>
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Data and Reports > Reports</b>
                        to open the<b> Report center.</b>

                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Student Management\7.1.jpg"
                            alt="7.1">

                    <li> Click on<b> Student.</b> All active students are displayed together with their admission
                        number, admission date, batch, course, gender, and fee payment status.


                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Student Management\7.2.jpg"
                            alt="7.2">
                     <br>   Click on the name of a student to view the student’s profile.

                    <li> Click the <b>Export as CSV</b> button to export the details as a CSV file.
                    <li> When the file status changes from <b>In Queue to Download,</b> click <b>Download </b>to
                        download and save the file to your system. This step may take a while.


                        <img style="margin-left: 20px;" src="..\..\assets\Solutions\Student Management\7.3.jpg"
                            alt="7.3">



                </ol>
                <p>
                    <b> Note:</b> Make sure to keep refreshing the web page.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-1"> How student admission can be done in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-2">How can I view a student profile and reports?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-3"> How to search a student in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-4"> How to search student of a particular
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-5"> How to archive or delete a student
                            account?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-6"> How archived student can be reverted?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-7">How to view the list of the active
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-8">How to view the list of the archived
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-9">What all modules/activities can students
                            perform from
                            their login?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-10">Is it possible to set admission number as per
                            my school
                            register number?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>