<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to add different leave types in Educares ?
                </h2>
                <p>
                    Leave types are the types of leaves that can be taken by an employee, such as sick leave, casual
                    leave etc., You can add multiple leave types applicable to your institution. For each leave type,
                    you can define the leave count that is to be credited, the leave carry forward and additional leave
                    settings.
                </p>
                <p>
                    At the top of your dashboard, click the Module access icon ><b> Administration > Human Resource > HR
                        Settings > Leave Types > Add Leave Types</b> to open the <b>Add Leave Types</b> page.

                </p>
                <img src="..\..\assets\Solutions\Emp Att\1.1.jpg" alt="1.1">
                <ol class="parahone">
                    <li> In the <b>Leave name</b> field, enter the name of the leave type.
                    <li> In the<b> Leave code</b> field, enter the leave code.
                    <li> In the <b>Leave count</b> field, enter the maximum number of leaves an employee can take for
                        this leave type.
                    <li> In the <b>Valid From </b>field, select the date from which a leave type will be added for all
                        employees.
                    <li> Set how to manage Employee leave balance during leave reset:
                    <li> <b>Allow leave carry forward</b> – Enabling this option will be carrying forward the balance
                        leave count for the employees while resetting leave counts. Having two options - either carry
                        forward
                        all balance leaves or only specific count.
                    <li> <b>Discard leave balance</b> – Will not be carrying forward the balance leave count for the
                        employees. Will be discarding all balance count.
                    <li> Set how to manage <b>Additional leaves.</b>
                    <li><b> Liable for salary deduction (LOP)</b> – Additional leaves can be marked as loss of pay and
                        would be liable to be accounted (added to a payslip) when processing payroll.
                    <li><b> No salary deduction</b> – Additional leaves will not be marked as loss of pay.
                    <li> Select the <b>status</b> of the leave type:
                    <li><b> Active</b> – When applying for leave/marking employee attendance, the leave type will be
                        available to select.
                    <li><b> Inactive</b> – The leave type will not be available in the option at the time of
                        applying/marking of leaves.
                    <li> Click the<b> Create</b> button.
                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>