<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Reminders
                </h2>

                <p>
                    Reminders are messages sent to alert students, parents, and employees about upcoming institutional
                    events. Reminders are sent a specified amount of time before an event via SMS and email. Reminders
                    can be created for:
                </p>
                <ul class="parahone">
                    <li> Events
                    <li> Exams
                    <li> Online exams
                    <li> Fee collections schedules
                </ul>
                <p>
                    Custom reminders can also be created to notify your EduCares users about any type of upcoming
                    institutional activities. The Administrator or a Privileged Employee (<b>Reminders Manager</b>
                    privilege is
                    required) can create reminders.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/reminder/reminder-1"> About Reminders </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-2">How reminder can be created for events? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-3"> How can I create reminder for a fee collection start
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-4"> How reminder can be created for a fee collection due
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-5">How to set reminder for exam dates? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-6">How to create reminder for online exams?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-7"> How can I view and edit event reminders? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-8"> How can I create custom reminder? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-9"> How can I edit or delete reminder settings for an
                            event? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>