<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Who can mark student attendance?
                </h2>
                <p>

                    The administrator or a privileged employee <b>(Student attendance register </b>privilege is required) can
                    mark student attendance. However, there are certain conditions that must be met for employees to be
                    able to mark student attendance, they are:

                </p>

                <ul class="parahone">
                    <li> If the student attendance type is <b>Daily,</b> only the employee(s) assigned as the tutor for a batch
                        can mark attendance.
                    <li> If the student attendance type is <b>Subject-wise,</b> only the employee(s) assigned to a subject can
                        mark attendance for that particular subject.
                        <br> If the student attendance type is<b> Subject-wise,</b> swapped employees can mark student
                        attendance for that particular subject, only for that particular day.

                </ul>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-1"> What is Marking and tracking student
                            attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-2"> Who can mark student attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-3"> How can I set up student attendance type for an
                            institution?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-4"> How can I mark student attendance daily?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-5"> How can I mark student attendance subject-wise?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-6"> What is Rapid attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-7"> How can we generate the student day-wise attendance
                            report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-8"> How can we generate student attendance report for a
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-9"> How can students and parents view the attendance
                            record?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-10"> How to lock the attendance after a certain
                            duration?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>