<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is gradebook?
                </h2>
                <p>
                    Gradebook also referred to as report card or mark sheet or scorecard is any system used to record a
                    student’s progress during the academic year via marks or grades.
                </p>

                <p>
                    Gradebook module is used in Educares to manage the grading profiles used in school, to schedule
                    exams, to enter marks and to generate report cards for the school.
                </p>

                <p>
                    To access gradebook -
                   <b> Menu >> Academics >> Gradebook</b>

                </p>
                <img src="..\..\assets\Solutions\Gradebook\2.1.png" alt="2.1">
                <p>
                    The main steps involved in Gradebook setup are as follows-
                </p>
                <ul class="parahone">
                    <li> Do Gradebook setting
                    <li> Create Exam Planners
                    <li> Manage Gradebook
                    <li> Gradebook reports
                </ul>
              
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-1"> Guide to use Gradebook</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-2"> What is gradebook?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-3"> How to do gradebook setting?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-4"> How to create attribute profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-5"> How to create Activity Profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-6">What are Grading Profiles? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-7">What is Remark Bank? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-8"> What is the difference between activity, attribute,
                            and
                            skill-based exam?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-9">How to create Exam Planners? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-10">How to add exams in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-11"> What are different types of exams in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-12">How to customize the Gradebook? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-13">How to link a class to gradebook planner? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-14"> What are the different types of grade book report
                            that can be generated in a planner?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-15">How to import exam planner from previous year? </a>
                    </p>

                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-16">How to generate report card for a class? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-17">How to schedule an exam in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-18">How to enter marks for different subjects? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-19">How to import marks using csv? </a>
                    </p>


                </div>
            </div>
        </div>
    </div>


</mat-card>