<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I reset employee leaves for an employee or for all the employees?
                </h2>

                <p>
                    A Leave Reset can be performed for an individual employee, for all employees of a department, or for
                    all employees in the institution.
                </p>
                <p>
                    <b> For an individual employee or department:</b>
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Human Resource
                            > Employee Leave Management > Leave Reset</b> to open the<b> Leave Reset</b> Records page.
                    <li> In the top right, click the Reset leaves button to open the Reset Leaves page as depicted in
                        Fig 1.
                        <br> image to be uploaded
                    <li> Enter the employee name or number to search, or select a department.
                    <li> Select the employees whose leaves you want to update, and then click the Reset button as
                        depicted in Fig 2.
                        <br> Or
                        <br>Click on an<b> employee name.</b>
                        <br> image to be uploaded
                    <li> Enter any remarks.
                    <li> Select the date when the employee(s) leaves are to be updated.
                        Note: The leave reset date cannot be set for a future date. If can only be done for the current
                        date or a past date.
                        <br> image to be uploaded
                    <li> Click the Reset leaves button as depicted in Fig 3.

                </ol>
                <p>
                    <b> For all employees:</b>
                </p>
                <ol class="parahone">

                    <li>  At the top of your dashboard, click the module access icon ><b> Administration > Human
                            Resource > Employee Leave Management > Leave Reset</b> to open the Leave Reset Records page.
                    <li>  In the top right, click the Reset leaves button to open the Reset Leaves page.
                    <li>  In the top right, click the <b>Reset Leaves</b> of All Employees button.
                    <li>  Enter any remarks.
                    <li>  Select the date when the employee(s) leaves are to be updated.
                        Note: The leave reset date cannot be set for a future date. If can only be done for the current
                        date or a past date.
                    <li>  Click the <b>Reset leaves</b> button.
                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>