<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Online Payment
                </h2>

                <p>
                    The Online Payment plugin will allow you set up payment gateways, so users make online payments for
                    registration, for any type of fees, etc. Online payments can be enabled for:
                </p>
                <ul class="parahone">
                    <li> Student fee (Fees schedules created in the Finance module)
                    <li> Application registration fee
                    <li> Hostel fee
                    <li> Transport fee
                </ul>
                <p>
                    Educares supports the following payment gateways:
                </p>
                <ul class="parahone">
                    <li> PayPal
                    <li> Interswitch
                    <li> Authorize.net.
                    <li> Stripe
                    <li> Braintree
                    <li> PayU
                    <li> CCavenue
                </ul>

                <p>
                    In addition to the payment gateways that Educares will support, institutions can also integrate any
                    custom payment gateway with Educares. This will offer institutions greater control and flexibility
                    for online payments.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/onlinepay/onlinepay-1"> About Online Payment</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/onlinepay/onlinepay-2">About custom payment gateways </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/onlinepay/onlinepay-3"> Who can configure custom payment gateways?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>