<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I mark student attendance subject-wise?
                </h2>
                <p>
                    By default all students are considered present in EduCares. You will only need to mark attendance
                    for students who are absent. Students can be marked absent only for the current date or a past date,
                    students cannot be marked absent for a future date.

                </p>
                <ol class="parahone">
                    <li> Click the module access icon ><b> Academics > Attendance > Attendance register</b> to open the
                        <b> Attendance register</b>page.
                    <li> Select the batch.
                    <li> Select the subject (Only subjects assigned to the employee are listed). All students
                        learning the selected subject are displayed in the timetable. The radio buttons Name and Roll number will
                        allow you to sort students by name or roll number.
                        <br><br> The current date is highlighted in yellow, and the days set as ‘days off’ are greyed
                        out. Use
                        the arrows at the top of the timetable to view the attendance for a previous month.
                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\StudentAtt\5.1.jpg"
                            alt="5.1">

                    <li> Select the date against the student you want to mark absent.
                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\StudentAtt\5.2.jpg"
                            alt="5.2">

                    <li> Enter the reason for the student being absent.
                    <li> Click the Add button. Days marked absent are indicated by an ‘A’.


                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\StudentAtt\5.3.jpg"
                            alt="5.3">
                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-1"> What is Marking and tracking student
                            attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-2"> Who can mark student attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-3"> How can I set up student attendance type for an
                            institution?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-4"> How can I mark student attendance daily?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-5"> How can I mark student attendance subject-wise?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-6"> What is Rapid attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-7"> How can we generate the student day-wise attendance
                            report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-8"> How can we generate student attendance report for a
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-9"> How can students and parents view the attendance
                            record?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-10"> How to lock the attendance after a certain
                            duration?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>