<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I Create / Edit / Delete a Fee Category?
                </h2>
                <p>

                    To create any Fee collection, initially create different fee categories under which different fee
                    types/ particulars can be grouped.

                </p>
                <ul class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Finance > Fees
                            > Create Fees > Create Category. </b>

                        <br> <img style="margin-left: 20px; width: 50%;" src="..\..\assets\Solutions\Fee\2.1.jpg" alt="2.1">

                    <li> In the <b>Name </b> field, enter the name of the fee category.
                    <li> In the <b>Description </b> field, enter a short description about the fee category.
                    <li> Select the batches to which this fee category will be applied.
                    <li> Select Fee Account.
                    <li> Select Receipt Template.
                    <li> Select Receipt Set.
                    <li> Click the <b> Save </b> button.

                </ul>
                <p>
                    <b><u> Edit/Delete a Fee category: </u> </b>
                    <br> Fee categories can be edited or deleted only if the fee category does not contain fee
                    particulars.
                </p>
                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Finance > Fees
                            > Create Fees </b> to open the <b>Create Fees </b> page.
                    <li> Select a batch. The list of fee categories created for the batch will be displayed.
                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\Fee\2.2.jpg" alt="2.2">
                    <li> Click <b>Edit </b>to edit a fee category or click <b>Delete </b> to delete a fee category.


                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-1"> What is fee collection and how to set it?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-2"> How can I Create / Edit / Delete a Fee Category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-3"> How can I Create / Edit / Delete a fee particular?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-4">How to Create / Edit / Delete student fee discount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-5"> How can I set up and edit / delete fines for late fee
                            payments?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-6"> What is meant by scheduling student fee collections?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-7"> How can I schedule a fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-8"> How can I Edit/Delete a scheduled fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-10"> How to create a Fee refund rule for Fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-11"> How do I edit or delete an existing refund rule?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-12"> How do I revert a Fee refund?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-13"> Can I specify a custom fee payment date?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-14"> Can I create instant fee particulars or fee discounts at the
                            time of collecting fees?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-15"> Can I view all reverted/deleted transactions in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-9"> How to manage fee particulars and fee discounts from student
                            fee collections?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>