<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit or inactivate or delete a leave type?
                </h2>
                <p>
                    If you do not want a leave type to be available at the time of applying for leave, you can
                    inactivate it or delete it. However, you cannot delete a leave type that has already been used to
                    apply for leave.
                </p>
                <p>
                    At the top of your dashboard, click the Module access icon ><b> Administration > Human Resource > HR
                        Settings > Leave Types </b> to open the <b> Leave Types</b> page.

                </p>

                <ol class="parahone">
                    <li> Click <b>Edit </b>beside the leave type, make the necessary changes, and then click the Update
                        button. Leave types that are inactivated are moved under the Inactive leave types list.

                    <li> Click the checkbox Inactive under Status in order to Inactivate the leave types as depicted
                        in image 2
                    <li> Click <b>Delete </b>beside the leave type you want to delete as depicted in image 3.

                </ol>
                <img src="..\..\assets\Solutions\Emp Att\2.1.jpg" alt="2.1">
                <img src="..\..\assets\Solutions\Emp Att\2.2.jpg" alt="2.2">
                <img src="..\..\assets\Solutions\Emp Att\2.3.jpg" alt="2.3">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>