<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Discussion module
                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Collaboration > Discussion</b>
                    <li> In the top right, click the <b>Create Group </b>button.
                    <li> Provide Group Name, select department and course to add member to the group.
                    <li> Click on <b>Save.</b>

                </ol>
                <img src="..\..\assets\Add-On\Discussion\2.1.jpg" alt="2.1">
                <ul class="parahone">

                    <li> Provide Group Name, select department and course to add member to the group and click on
                        <b>save.</b>
                        <img src="..\..\assets\Add-On\Discussion\2.2.jpg" alt="2.2">

                    <li>
                        Group created successfully as shown below.
                        <img src="..\..\assets\Add-On\Discussion\2.3.jpg" alt="2.3">
                </ul>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/discussion/discussion-1"> About Discussion module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-2"> How to create a discussion group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-3"> How a user can add post to a group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-4"> How other users can put comments for the post in a
                            group? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-5"> How can a user upload image or document while putting
                            a post? What is the maximum image size? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/discussion/discussion-6"> How can we edit a group and add new members to it?
                            How can we delete a group created?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>