<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to view employee payslip report in Educares?
                </h2>
                <p>
                    The Employee Payslip Report will provide you with the lists of generated payslips for a specific
                    date range. Both payslips for active and archived employees will be listed. Administrators and
                    privileged employees can view the report through the Human Resource module if the 'Employee Reports'
                    privilege is provided or through the Finance module if the 'Approve/Reject payslip' privilege is
                    available.
                </p>
                <ol class="parahone">
                    <li> You can open the Employee Payslip report in two ways:
                        <ul>
                            <li> At the top of your dashboard, click the <b>Module access icon > Administration > Human
                                    Resource > Payroll and Payslip Management > Payslip Report</b> to open the Employee
                                Payslip
                                Report.
                                <br> <br> Or
                                <br><br>
                            <li> At the top of your dashboard, click the<b> Module access icon > Administration >
                                    Finance
                                    > Employee Payslip Management > Payslip Report</b> to open the Employee Payslip
                                Report.
                        </ul>
                    <li> Filter by <b>department, date range,</b> or used the <b>Advanced search</b> to search for a
                        payslip.

                    <li> Click the<b> View </b>button as shown in image . The payslips displayed here will be according to
                        the filters used.
                    <li> Click the <b>PDF report</b> or<b> CSV report </b>to generate a report of the payslips.
                        <br> <br> Or
                        <br><br> Click View to across a payslip to <b>view </b>the payslip details. You can also
                        generate a PDF
                        report of the payslip details by clicking the PDF report button.

                </ol>



                <img  src=" ..\..\assets\Solutions\Payslips\7.1.jpg" alt="7.1">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-1"> About Employee Payslip Generation</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-2">How can I view employee payroll details report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-3"> How an employee's payslip is generated in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-4"> How to approve or reject employee's Payslip in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-5"> How to re-generate rejected employee payslip?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-6"> How to revert an approved payslip in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/payslip/payslip-7"> How to view employee payslip report in Educares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>