<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create a custom student report?
                </h2>
                <p>
                    Creating a custom student report involves the following:
                </p>
                <ul class="parahone">
                    <li> Naming the report
                    <li> Specifying the report criteria along with filters to retrieve specific data
                    <li> Selecting the data fields to be included in the report
                </ul>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Data and Reports > Custom
                            Reports.</b>
                    <li> In the top right, click the<b> New Student Report</b> button.
                    <li> In the <b>Name </b>field, enter the name of the report. This is a mandatory field.
                    <li> Select the report criteria.
                </ol>
                <img src="..\..\assets\Add-On\CustomReports\3.1.jpg" alt="3.1">
                <p>
                    For each criterion, specific operator commands must be applied. The following operators are
                    available.
                </p>
                <table>
                    <tr>
                        <th>Field Type</th>
                        <th>Operators</th>
                        <th>Examples</th>
                    </tr>
                    <tr>
                        <td>Date Fields</td>
                        <td>. Greater than
                           <br> . Less than
                           <br> . Equals
                        </td>
                        <td>. Admission Date | Greater than | 1 Jun 2015 – Students admitted after June 1, 2015.
                            <br> . Admission Date | Equals | 30 Jun 2015 – Students admitted on June 30, 2015.
                            <br> . Date of Birth | Greater than | 01 May 1990 but Less than | 30 June 1990 – Students whose
                            date of birth is between May 1, 1990 and June 30, 1990.
                        </td>
                    </tr>
                    <tr>
                        <td>Text Fields</td>
                        <td>. Like
                            <br>  . Begins with
                            <br> . Equals
                        </td>
                        <td>. Mobile | Like | 000 – Students whose mobile number contains three consecutives zeros.
                            <br> . Last Name | Begins with | C – Students whose last name begins with ‘C’.
                            <br> . First Name | Equals | Steve – Students whose first name is ‘Steve’.
                        </td>
                    </tr>
                    <tr>
                        <td>Search Fields</td>
                        <td>NA</td>
                        <td>. Batch – Enter the batch name or a few characters and select the batch.
                            <br> . Immediate contact – Enter the guardian name or enter a few characters and select the
                            guardian.
                        </td>
                    </tr>
                </table>
                <p>
                    The input criteria will look like this.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.2.jpg" alt="3.2">
                <p>
                    5. Select the data fields to be included in the report by clicking the arrow icon beside each field.
                    Selected fields are moved to the right.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.3.jpg" alt="3.3">
                <p>
                    <b>Note:</b> The data fields include ‘Immediate contact’ details and ‘Parent’ details. The
                    difference is -
                    ‘Immediate contact’ fields will retrieve details only about the parent set as the immediate
                    contact/guardian for the student(s). The ‘Parent’ fields will retrieve details of all parent records
                    associated to the student(s).
                </p>
                <p>
                    The order in which the data fields appear in the report can be arranged using the arrow icons beside
                    the selected fields.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.4.jpg" alt="3.4">
                <p>
                    Use the x icon to remove a data field from the report.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.5.jpg" alt="3.5">
                <p>
                    If necessary, the report headers can also be edited.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.6.jpg" alt="3.6">
                <p>
                    6. Click the <b>Create</b> button at the bottom of the page.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.7.jpg" alt="3.7">
                <p>
                    7. Click <b>Show Report.</b> Data matching the given filter criteria will be displayed.
                </p>
                <img src="..\..\assets\Add-On\CustomReports\3.8.jpg" alt="3.8">
                <p>
                    The data can be sorted by clicking the headers.</p>
                <p>
                    8. In the top right, click the <b>Export CSV</b> button to download the report in CSV format.

                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-1"> How do I create a custom report ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-2"> About custom report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-3"> How can I create a custom student report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-4"> How to create a custom employee report? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/custrep/custrep-5"> Is it possible to edit a custom report? How can I delete a
                            custom report?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>