<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>

                    How can I create category and fields in it?

                </h2>

                <p>
                    Only <b>Admin</b> or<b> Privileged employee</b> can perform data management in EduCares
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Data and Reports > Data
                            Management> New</b>
                    <li> Provide the category name, update the<b> field name</b> and corresponding <b>input method.</b>
                    <li> Additional field can be provided by clicking on<b> Add field </b>option.

                    <li> Click on <b>Save</b>.
                    <li> Once category and fields are created it will be displayed in<b> Data management home page.</b>
                </ol>
                <img src="..\..\assets\Add-On\Data Management\2.1.jpg" alt="2.1">
                <img src="..\..\assets\Add-On\Data Management\2.2.jpg" alt="2.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/datamanage/datamanage-1"> Data Management Plugin </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-2"> How can I create category and fields in it? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-3"> How can I edit or delete category field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-4"> How can I add data or values in Data Management
                            category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-5"> How can I edit or delete input values under
                            category?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>