<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to assign an elective subject to a student? </h2>

                <p>The <b>administrator</b> and <b>privileged employees (Manage Course/Batch or Subject master</b>
                    privilege must be
                    is provided) can assign an elective subject to a student through the <b>Manage Course</b> page, the
                    <b>Manage
                        Batch</b> page, or the Subjects page.
                </p>
                <p>
                    Students will also have the option to select an elective subject only if you have selected the
                    <b>Enable elective selection</b> checkbox when creating the course
                </p>

                <p> At the top of your dashboard, click the module access icon > <b>Administration >
                        Settings > Manage
                        Course/Batch > Manage Batch</b> to open the <b>Manage Batch</b> page.
                </p>
                <p>Or</p>

                <p> At the top of your dashboard, click the module access icon > <b>Administration >
                        Settings > Manage
                        Course/Batch > Manage Course</b> to open the <b>Manage Course</b> page.
                </p>
                <p>Or</p>
                <p> At the top of your dashboard, click the module access icon > <b>Administration >
                        Settings > Manage
                        Course/Batch > Manage Subject</b> to open the <b>Subjects</b> page.
                </p>

                <p class="tab">
                    1. Select the <b>Course</b>. All batches of the selected course are displayed.</p>

                <p class="tab">2. Select the <b>batch</b>.</p>

                <p class="tab"> 3. In the top right, click <b>Manage > Subject</b> to display <b>Elective Groups.</b>
                    Existing elective groups will be displayed.

                </p>

                <p class="tab">4. Click <b>Assign Student</b> beside the elective subject you want to assign as depicted
                    in Figure.</p>
                <img src="..\..\assets\Solutions\Settings\7.1.jpg" alt="7.1">

                <p class="tab">5. Click <b>Assign</b> beside the student you want to assign.</p>
                <img src="..\..\assets\Solutions\Settings\7.2.jpg" alt="7.2">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>