<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    About Hostel?
                </h2>
                <p>
                    The <b>Hostel</b> plugin is designed to handle and manage all activities related to running an
                    efficient hostel in your institution. You can record details about your hostels such as hostel room
                    information as well as manage room allocations.
                </p>
                <p>
                    Students can be provided hostel accommodation based on the availability of rooms. When recording
                    hostel details, custom fields can be added to record any additional information required by your
                    institution. After allocating students to a hostel, you can schedule fee collections and collect
                    hostel fees.
                </p>
                <p>
                    Hostel plugin also involves recording all the details about your hostels such as the type of hostel,
                    hostel warden, the number of rooms in each hostel, and the number of students each room can
                    accommodate. For each room, you can assign a fare that students will need to pay. Apart from the
                    default fields available, you can also add custom additional fields.
                </p>
                <img src="..\..\assets\Add-On\Hostel\1.1.jpg" alt="1.1">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>