<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to set roll number prefix for a batch?
                </h2>

                <p>
                    If you’ve set the roll number prefix for a course as mentioned here, the prefix set for the course
                    will be automatically applied to all batches under that course. If you do not want all batches of a
                    course to have the same roll number prefix, you can change it for each batch. We recommend setting
                    unique roll number prefixes for each batch. This will help you to identify which batch a student
                    belongs to. The roll number prefix can contain a maximum of six alphanumeric characters.
                </p>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon ><b> Administration > Settings >
                            Manage
                            student roll numbers</b> to open the <b>Manage roll number</b> page.</li>
                    <li> Click <b>View batches</b> to view all batches in a course.</li>

                    <img src="..\..\assets\Solutions\Student Roll Num\4.1.jpg" alt="4.1">

                    <li> Click <b>Edit roll numbers</b> beside a batch.</li>
                    <img src="..\..\assets\Solutions\Student Roll Num\4.2.jpg" alt="4.2">

                    <br>
                    The<b> Edit roll numbers</b> page is displayed.

                    <li> Click<b> Edit</b> beside the roll number prefix.</li>

                    <img src="..\..\assets\Solutions\Student Roll Num\4.3.jpg" alt="4.3">

                    <li> Change the roll number prefix, and then click the <b>Save</b> button. The roll number prefix is
                        updated
                        for all students.
                    </li>
                    <img src="..\..\assets\Solutions\Student Roll Num\4.4.jpg" alt="4.4">
                </ol>
                <p>
                    You can always reset the roll number prefix of the batch to the default course roll number prefix by
                    clicking <b>Reset to course default.</b>

                </p>
                <img src="..\..\assets\Solutions\Student Roll Num\4.5.jpg" alt="4.5">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentrollnum/studentrollnum-1"> What is student roll number? What is the
                            advantage of
                            assigning roll numbers? </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-2" class="qsidetop">
                            How can we enable roll number for students?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-3" class="qsidetop">
                            How to set roll number prefix for a course?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-4" class="qsidetop">
                            How to set roll number prefix for a batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-5" class="qsidetop">
                            How do I assign student roll numbers during admission?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-6" class="qsidetop">
                            How can I assign roll number for a complete batch in one go?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-7" class="qsidetop">
                            Can I edit student sort order after assigning roll numbers?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/studentrollnum/studentrollnum-8" class="qsidetop">
                            Based on which all values, roll numbers can be regenerated?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>