<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I view the students who have not paid the transport fees?
                </h2>

                <p>
                    If a student has not paid the assigned fees by the fee collection due date, the student will be
                    listed as a fee defaulter. Employees are not listed in the defaulters list, click on Employee
                    Defaulters button to get the list of employees who haven't paid the fees.
                </p>

                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Transport >
                            Transport Fee > Pay fees > Defaulters</b> to open the<b> Student Defaulters</b> page.
                    <li> Select a batch.
                    <li> Select a fee collection. All student fee defaulters are listed.

                        <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\24.1.jpg" alt="24.1">

                    <li> Click <b>Pay fees</b> to pay the transport fees.

                </ol>

                <p>Or</p>

                <ol class="parahone">
                    <li>In order to find the employees who haven't paid the fees, click the module access icon >
                        <b> Administration > Transport > Transport Fee > Pay fees > Defaulters</b> to open the Student
                        <b> Defaulters</b>page.
                    <li> Click on the <b>Employee Defaulters</b> button provided at the top right corner of the
                        <b>Student Defaulters</b> page.
                    <li> Select the <b>fee collection type.</b>
                    <li> Click on <b>Pay fees.</b>

                        <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\24.2.jpg" alt="24.2">

                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-1"> About Transport module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-2"> How to add route additional details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-3"> How to add custom fields to record route additional
                            details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-4"> How to do the basic settings in Transport? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-5"> How can I change the 'stop' point of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-6"> How to inactivate or delete a custom route detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-7"> How to set up a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-8"> How to add new stops to an existing route?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-9"> How can I edit/inactivate/delete a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-10"> How can I inactivate or delete vehicle additional
                            detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-11"> How new vehicle details can be added?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-12"> How can I edit, inactivate or delete vehicle details?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-13"> How can I assign student or employee to a Route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-14"> How can I change the route details for a student or
                            employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-15"> How can I schedule transport fee collection for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-16"> How can I assign an existing transport fee collection
                            to a
                            student/employee? </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>ś