<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I set up student attendance type for an institution?
                </h2>
                <p>

                    Based on how student attendance is marked in your institution, attendance can be set to any one of
                    the following options:

                </p>

                <ul class="parahone">
                    <li> <b>Daily</b> – Student attendance must be marked once daily.
                    <li> <b>Subject-wise</b> – Student attendance must be marked for each class/period.
                </ul>

                <ol class="parahone">
                    <li> Click the module access icon ><b> Administration > Settings > General settings</b> to open the<b> General
                        settings</b> page.

                   <br>     <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\StudentAtt\3.1.jpg" alt="3.1">

                    <li> Select the student attendance type, and then click the <b>Update</b> button.


                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-1"> What is Marking and tracking student
                            attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-2"> Who can mark student attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-3"> How can I set up student attendance type for an
                            institution?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-4"> How can I mark student attendance daily?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-5"> How can I mark student attendance subject-wise?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-6"> What is Rapid attendance?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-7"> How can we generate the student day-wise attendance
                            report?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-8"> How can we generate student attendance report for a
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-9"> How can students and parents view the attendance
                            record?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentatt/studentatt-10"> How to lock the attendance after a certain
                            duration?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>