<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to access as well as send a message in EduCares?
                </h2>
                <p>
                    Users can access Messages from the top of the dashboard.
                </p>
                <img src="..\..\assets\Solutions\Internal Messaging\2.1.jpg" alt="2.1">
                <p>
                    Users can access Messages from their profile as well. On the top right, click the <b>Messages</b>
                    button.
                </p>
                <img src="..\..\assets\Solutions\Internal Messaging\2.2.jpg" alt="2.2">
                <p>
                    In order to send a message, following steps have to be followed:
                </p>
                <ol class="parahone">
                    <li> Click the message icon to open the <b>Inbox</b> page.
                        <img style="width: 60%;" src="..\..\assets\Solutions\Internal Messaging\2.3.jpg" alt="2.3">
                    <li> On the top right, click the <b>New Message</b> button.
                        <img src="..\..\assets\Solutions\Internal Messaging\2.4.jpg" alt="2.4">
                    <li> On the left, select the recipients using the following options:
                        <ul>
                            <li> <b>Employees</b> – Select an employee department, and then select all the employees
                                using the <b>Select All</b> option, or select specific employees by clicking on their
                                name.
                            <li><b> Students</b> – Select a batch, and then <b>Select All</b> option, or select specific
                                students by clicking on their name.
                            <li> <b>Parents </b>– Select a batch. Students with parents/guardians information will be
                                displayed. You can then select all the student using the <b>Select All </b>option, or
                                select specific students by clicking on their name.
                        </ul>
                        Selected recipients will be listed under their respective roles on the right.
                        To remove a recipient from the list, click ‘x’ beside the recipient’s name.
                        <img src="..\..\assets\Solutions\Internal Messaging\2.5.jpg" alt="2.5">
                    <li> In the <b>Subject</b> field, enter the subject of the message.
                    <li> In the <b>Message</b> field, enter the message.
                    <li> Click the <b>Send</b> button.

                </ol>
                <p>
                    When a message is sent, the message icon at the top of the dashboard will notify the user that a new
                    message is received.
                </p>
                <img src="..\..\assets\Solutions\Internal Messaging\2.6.jpg" alt="2.6">
                <p>
                    Until a message is read, the message icon will continue to display the number of unread messages.

                </p>



            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-1"> About Messages</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-2"> How to access as well as send a message
                            in EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-3"> How can I reply to a message?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/internalmessage/internalmessage-4"> How can I delete a message?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>