<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can an assigner see to whom all the task is
                    assigned?

                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Collaboration > Tasks.</b>
                    <li> After clicking on task we will get all task assigned. Then click on the particular task.
                    <li> Click on assigned link to get the list of assignees.

                </ol>
                <img src="..\..\assets\Add-On\Tasks\7.1.jpg" alt="7.1">
                <p>
                    It will get list users as shown below.
                </p>
                <img src="..\..\assets\Add-On\Tasks\7.2.jpg" alt="7.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/task/task-1"> About Task Plugin? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-2"> How to create a Task? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-3"> How 'Filter by ' option is helpful to view tasks? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-4">How a task can be marked as complete? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-5"> Can a completed task can be reverted back to
                            assigned at a later point of time?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-6"> Can we attach documents/pictures when assigning
                            a task? What is the maximum size?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-7"> How can an assigner see to whom all the task is
                            assigned?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/task/task-8"> How to edit or delete a task? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>ś