<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to configure the Basic General Settings? 
                </h2>

                <p class="parahone">
                    <b>General settings</b> is available in the <b>Setting</b> modules. We can make the basic
                    configuration of the
                    institution from the General settings as shown in the figure below. The number of fields on the
                    <b>General settings</b> page may vary depending on the number of plugins made available to your
                    institution.
                </p>

                <img src="..\..\assets\Solutions\Settings\2.1.jpg" alt="2.1">

                <img src="..\..\assets\Solutions\Settings\2.2.jpg" alt="2.2">
                <p>
                    <u><b>Address:</b></u>
                </p>
                <p class="top">
                    The first three column form the complete address of the institute.</p>

                <p>
                    <u><b>Institution type:</b></u></p>
                <p class="top">
                    Specify the institution type when setting up your institution. The institution type can be set to:
                </p>

                <ul class="parahone">
                    <li><b>K-12</b> – Refers to educational institutions that cover kindergarten all the way to
                        class/grade 12
                        (primary and secondary education).</li>
                </ul>

                <p class="tab top">

                    If the option <b>K-12</b> is selected, the term <b>‘Class’</b> will be used throughout EduCares’s
                    interface to
                    indicate ‘a year of education’. ‘A year of education’ can be, Grade 7, Class 7, Standard 7, or Form
                    7, depending on your country's educational system..</p>
                <ul class="parahone">
                    <li><b>Higher Education</b> – Refers to educational institutions such as universities and colleges
                        that
                        offer education beyond secondary education. For example, a two or three-year degree of a chosen
                        subject.</li>
                </ul>
                <p class="tab top">
                    If the option <b>Higher Education</b> is selected, the term <b>‘Course’</b> will be used throughout
                    EduCares’s
                    interface to indicate ‘the study of a particular topic in an institution. Examples of courses are
                    Zoology, Business Administration, and so on.
                </p>

                <p>
                    If the institution type is not specified, by default the term <b>‘Course’</b> will be used
                    throughout
                    EduCares.
                </p>
                <p>
                    <u><b>Student Attendance Type:</b></u>
                </p>
                <p class="top">
                    This can be daily basis or subject wise as provided in dropdown</p>

                <p>
                    <u><b>
                            Start day of the week:</b></u>
                </p>
                <p class="top">
                    Set any weekday as the first day of the week based on your institution’s academic calendar. The
                    change is reflected in the Calendar module, in the Timetable module when settings weekdays for a
                    batch, as well as when creating a timetable.
                </p>
                <p><u><b>
                            Date format</b></u></p>
                <p class="top">
                    Set the date format to determine how dates will be displayed throughout EduCares. The available date
                    formats are:
                </p>
                <ul class="parahone">
                    <li> <b>DMY</b> – Date/Month/Year</li>
                    <li> <b>MDY</b> – Month/Date/Year</li>
                    <li> <b>YMD</b> – Year/Month/Date</li>
                </ul>
                <p>
                    Dates are displayed in either predefined long formats or short formats.
                </p>


                <table>
                    <tr>
                        <th>Date Format</th>
                        <th>Long Date Format</th>
                        <th>Short Date Format</th>
                    </tr>
                    <tr>
                        <td>DMY</td>
                        <td>1986 </td>
                        <td>10/03/1986, 10-03-1986</td>
                    </tr>
                    <tr>
                        <td>MDY</td>
                        <td>March 10, 1986</td>
                        <td>03/10/1986, 03-10-1986</td>
                    </tr>
                    <tr>
                        <td>YMD</td>
                        <td>1986 March 10</td>
                        <td>1986/03/10, 1986-03-10</td>
                    </tr>

                </table>
                <p>
                    <b>Note:</b> Time is also consistently displayed in 12 hour format (HH:MM AM/PM) throughout
                    EduCares. For
                    example, 11:30 AM.</p>
                <p><u><b>
                            Date separator</b></u></p>
                <p class="top">
                    Set the date separator to determine how dates will be displayed throughout EduCares. The available
                    date separators are:</p>
                <ul class="parahone">
                    <li>/ (forward slash)</li>
                    <li> - (hyphen)</li>
                </ul>
                <p><u><b>
                            Financial start and end date</b></u></p>
                <p class="top">
                    Here we set financial year start date and end date from the dropdown calendar.
                </p>
                <p><u><b>
                            Starting receipt number</b></u></p>
                <p class="top">
                    Enter the starting receipt number from which the receipt number will be incremented automatically.
                    The receipt number is printed on all financial transaction receipts.</p>

                <P><u><b>
                            Language</b></u></P>
                <p class="top">
                    The admin can set the default language of the application here.</p>

                <P><u><b>
                            Time Zone</b></u></P>
                <p class="top">
                    The time zone of the area can be set here</p>

                <p><u><b>
                            Country</b></u></p>
                <p class="top">
                    The admin can set the default country here</p>
                <p><u><b>
                            Currency type</b></u></p>
                <p class="top">
                    This enable user to enter the type of currency on which transactions happens in that institute.
                </p>
                <p><u><b>
                            Upload logo</b></u></p>
                <p class="top">
                    The logo of the institute can be uploaded by this option. The size of the logo must be 500KB max,
                    150x110px.</p>

                <p><u><b>
                            Moodle URL</b></u></p>
                <p class="top">
                    This is the field where you have to enter the URL for the moodle installation.
                </p>
                <p><u><b>
                            Include Grading Systems</b></u></p>
                <p class="top">

                    You can select which all grading formats are needed for the report generation for the examinations
                    conducted</p>

                <p><u><b>
                            Select theme</b></u></p>
                <p class="top">
                    The admin can set the EduCares theme colour.</p>

                <p><u><b>
                            Select font</b></u></p>
                <p class="top">
                    Select the font to be applied to the your EduCares interface. Six fonts are currently available.
                </p>
                <p><u><b>
                            Enable auto increment</b></u></p>
                <p>
                    Auto increment of student admission number and employee number can be done by checking this box.
                </p>
                <p><u><b>
                            Enable password change at first time login</b></u></p>
                <p class="top">
                    User can change the password the first time they login, if this option is enabled.
                </p>
                <p><u><b>
                            Enable roll number for students</b></u></p>
                <p class="top">
                    Select the checkbox if you are going to assign roll numbers to students. If you select this checkbox
                    but do not assign student roll numbers, roll number columns throughout EduCares will be remain
                    blank. So if you decide not to assign student roll numbers, we recommend not to select the checkbox.
                </p>
                <p><u><b>
                            Enable Azure SSO</b></u></p>
                <p class="top">
                    <b>Microsoft Azure Active Directory (AD) Single Sign-On (SSO)</b> will allow EduCares users to log
                    in to
                    EduCares using their <b>Microsoft account credentials</b>, without using a EduCares <b>username</b>
                    and <b>password</b>.
                </p>
                <p><u><b>
                            Enable Google SSO</b></u></p>
                <p class="top">
                    Enabling <b>Google single sign-on (SSO)</b> will allow EduCares users to log in to EduCares using
                    their
                    Google account credentials, without using a EduCares username and password.
                </p>
                <p><u><b>
                            Enable auto-logout</b></u></p>
                <p>
                    Enabling the auto-logout feature forces the selected group of users to automatically log out from
                    the eduCares.
                    We can set particular time duration after which they will log out, and can also select set of users
                    which include Employee, Parent and students.</p>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>