<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can a user (student/employee) give their respective votes?
                </h2>
                <p>
                    For voting, log in as a student or employee.
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Colloboration> Poll</b>.
                    <li> Click on the respective poll.
                    <li> Select an option and click <b>Vote.</b>
                    <li> Then click on poll in the online poll.
                </ol>
                <img src="..\..\assets\Add-On\Poll.4.1.jpg" alt="4.1">
                <img src="..\..\assets\Add-On\Poll\4.2.jpg" alt="4.2">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/poll/poll-1"> About Poll Plugin
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-2"> How can I create polls in EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-3"> How can I edit,close or delete a poll?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-4"> How can a user (student/employee) give their respective votes
                            ?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-5"> What is 'Open for Polling' option when a new poll is created? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-6"> Can a user reopen a closed poll? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/poll/poll-7"> How to view the result of a Poll? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>