<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    When are SMS automatically triggered in EduCares?
                </h2>
                <p>
                    <b>Employee</b>
                </p>
                <table>
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>Task Management</td>
                        <td>Task created for an employee</td>
                    </tr>
                    <tr>
                        <td>Discussion</td>
                        <td>Employee is invited to be a part of discussion</td>
                    </tr>
                    <tr>
                        <td>Event Creation</td>
                        <td>Event published involving Employee</td>
                    </tr>
                    <tr>
                        <td>Form Builder</td>
                        <td>Fill in form/feedback involving Employee</td>
                    </tr>
                    <tr>
                        <td>Discipline</td>
                        <td>Employee is part of disciplinary inquiry meeting</td>
                    </tr>
                    <tr>
                        <td>Timetable Swap/Cancel</td>
                        <td>Employee whose timetable slot is swapped and the one with whom it is swapped. Employee whose
                            timetable slot is canceled</td>
                    </tr>
                </table>

                <p>
                    <b>Student</b>
                </p>
                <table>
                    <tr>
                        <td>Task Management</td>
                        <td>Task is assigned to the student</td>
                    </tr>
                    <tr>
                        <td>Discussion</td>
                        <td>Student is invited to be a part of discussion</td>
                    </tr>
                    <tr>
                        <td>Form Builder</td>
                        <td>Fill in form/feedback involving student</td>
                    </tr>
                    <tr>
                        <td>Event Creation</td>
                        <td>Event published involving student</td>
                    </tr>
                    <tr>
                        <td>Placement</td>
                        <td>Invite for campus placement</td>
                    </tr>
                    <tr>
                        <td>Discipline</td>
                        <td>Student is part of discipline issue</td>
                    </tr>
                    <tr>
                        <td>Exam Schedule/Result</td>
                        <td>Exam schedule or result is published involving student</td>
                    </tr>
                    <tr>
                        <td>Online Exam result</td>
                        <td>Result of Online exam is published involving student</td>
                    </tr>
                    <tr>
                        <td>Fee Collection</td>
                        <td>Fee collection for finance, transport and hostel is created or updated</td>
                    </tr>
                    <tr>
                        <td>Timetable Swap/Cancel</td>
                        <td>Students of the batch for which the timetable slot is swapped or cancelled</td>
                    </tr>
                </table>
                <p>
                    <b>Parent/Guardian</b>
                </p>
                <table>
                    <tr>
                        <td>Event Creation</td>
                        <td>Event published involving student</td>
                    </tr>
                    <tr>
                        <td>Exam Schedule/Result</td>
                        <td>Exam schedule or result is published involving student</td>
                    </tr>
                    <tr>
                        <td>Fee Collection</td>
                        <td>Fee collection for finance, transport and hostel is created or updated</td>
                    </tr>
                    <tr>
                        <td>Timetable Swap/Cancel</td>
                        <td>Parents of students of the batch for which the timetable slot is swapped or cancel;ed</td>
                    </tr>
                </table>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-1"> When are SMS automatically triggered in EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-2"> When is internal messages automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-3"> When is Email alerts automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-4"> When are automatic notification triggered from
                            EduCares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>