<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-12">

                <h2>
                    Themes
                </h2>

                <mat-toolbar id="1">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-1">About Placement Plugin</a>
                        </p>
                    </mat-toolbar-row>

                    <mat-toolbar-row>
                        <p class="answer">
                            Placement module helps to announce the placement events to students. Students can apply for
                            the placement event and can check status. Eligible students can be..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-toolbar id="2">
                    <mat-toolbar-row>
                        <p class="parahone">
                            <a href="add-on/placement/placement-2">How to create a placement?</a>
                        </p>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <p class="answer">In EduCares admin or privileged employee can create placement. At the top of
                            your dashboard, click the module access icon > Academics> PlacementIn the top..
                        </p>
                    </mat-toolbar-row>
                    <mat-divider></mat-divider>
                </mat-toolbar>
                <mat-divider></mat-divider>

            </div>
        </div>
    </div>
</mat-card>