<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    Who can configure custom payment gateways?
                </h2>

                <img src="..\..\assets\Add-On\Online Payment\3.1.jpg" alt="3.1">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/onlinepay/onlinepay-1"> About Online Payment</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/onlinepay/onlinepay-2">About custom payment gateways </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/onlinepay/onlinepay-3"> Who can configure custom payment gateways?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>