<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I delete or edit an image in an album?
                </h2>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon ><b> Collaboration > Gallery</b>
                    </li>
                    <li>
                        Place the mouse cursor over the photo in the album, use the edit option.
                    </li>
                    <li> Click on the <b>delete</b> option to delete the photo and click on Delete Image
                    </li>

                    <li>
                        Click on <b>Edit</b> Description and provide new description for the selected image.
                    </li>
                </ol>
                <img src="..\..\assets\Add-On\Gallery\3.1.jpg" alt="3.1">
                <img src="..\..\assets\Add-On\Gallery\3.2.jpg" alt="3.2">
                <img src="..\..\assets\Add-On\Gallery\3.3.jpg" alt="3.3">
                <p>
                    Multiple images present in an album can be deleted by using
                </p>
                <ol class="parahone">
                    <li>
                    Select <b>More</b> option present at the right corner of the selected album</li>
                    
                    <li> Select the images present in the album needed to be deleted.</li>
                    <li> Click the <b>Delete Image</b> to delete the selected images.</li>

                </ol>

                <img src="..\..\assets\Add-On\Gallery\3.4.jpg" alt="3.4">

                <img src="..\..\assets\Add-On\Gallery\3.5.jpg" alt="3.5">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/gallery/gallery-1"> About Gallery Module
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-2"> How can I edit category/album name in gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-3"> How can I delete or edit an image in an album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-4">How to delete an album/image category in gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-5"> How to publish an album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-6"> How to create an Album in the gallery? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-7"> How to create a Public Album </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-8"> How to create a Private Album </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-9"> How to upload picture in the album? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/gallery/gallery-10"> How to access Gallery on the Mobile app </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>