<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit or delete reminder settings for an event?
                </h2>

                <p>
                    Custom reminders set for events can be edited or deleted as long as the event has not passed. Once
                    the event has passed, the reminders cannot be edited or deleted.
                </p>

                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the module access icon > <b> Administration > Reminders >
                            View Custom Reminders </b> to open the
                        <b>Custom Reminder </b>page.
                        <ul>
                            <li> Custom reminders set for upcoming events are displayed. Use the filter on the right to
                                view
                                the reminders that were set for past events.
                        </ul>
                        <img src="..\..\assets\Add-On\Reminders\9.1.png" alt="9.1">
                    <li> Click <b>Edit</b> to edit the reminder settings for an event.
                    <li> Click <b>Delete</b> to delete the reminder settings for an event.
                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/reminder/reminder-1"> About Reminders </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-2">How reminder can be created for events? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-3"> How can I create reminder for a fee collection start
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-4"> How reminder can be created for a fee collection due
                            date? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-5">How to set reminder for exam dates? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-6">How to create reminder for online exams?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-7"> How can I view and edit event reminders? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-8"> How can I create custom reminder? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/reminder/reminder-9"> How can I edit or delete reminder settings for an
                            event? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>