<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is store type?
                </h2>
                <p>
                    Stores can be classified based on the type of items sold or issued. For example, a ‘Stationary’
                    store, a ‘Sports’ store, or a ‘Canteen’ store. Store type is needed to recognize what kind of store
                    items are stored there.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>