<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create a additional admin account in EduCares?
                </h2>
                <p>

                    Sometimes the default administrator may need support in managing EduCares. To help share the
                    responsibility, a temporary administrator account can be created. A <b>temporary administrator
                    account</b> can only be created by the <b>default administrator</b> or a <b>privileged employee (Manage
                     Users</b> privilege is required). The temporary administrator will have full administrator privileges. However, being a
                    temporary account, attendance cannot be marked for this account user and internal messages cannot be
                    sent to this account user.
                </p>
                <p>
                    <b> Note: </b>We recommend creating a temporary administrator account only if it is really
                    necessary. The temporary administrator account can be deleted.
                </p>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > User</b> to open
                    the <b>Manage Users</b> page.
                </p>
                <ol class="parahone">
                    <li>  In the top right, click the<b> Add new</b> button as shown in the image to open the
                        <b>Create User</b> page as shown in image.

                        <img src="..\..\assets\Solutions\User Management\6.1.jpg" alt="6.1">

                        <img src="..\..\assets\Solutions\User Management\6.2.jpg" alt="6.2">
                    <li>  In the<b> Username</b> field, enter a username that will be used to log in.
                    <li>  In the <b>First name </b>field, enter the first name of the administrator.
                    <li>  In the <b>Last name</b> field, enter the last name of the administrator.
                    <li>  In the<b> Password </b>field, enter a password that will be use to log in.
                    <li> •In the <b>Email</b> field, enter the email address of the administrator.
                </ol>
                <img src="..\..\assets\Solutions\User Management\5.1.jpg" alt="5.1">
                <p>
                    Once the data is entered , you can click <b>Save</b> to create the second admin profile.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-1"> How can I search and view a user profile? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-2"> How can I change the password of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-3"> How can we assign privileges to an employee? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-4"> What are the different privileges available in
                            EduCares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-5"> What is the use of 'Search by User Type' option in
                            Manage User?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/usermanage/usermanage-6"> How can I create a additional admin account in
                            EduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>