<mat-card class="example-card">

    <div>
        <h2>
            Looking for Something?
        </h2>
    </div>

    <mat-card-header>
        <div class="example-form input">
            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Search Here</mat-label>
                    <input autocomplete="off" matInput placeholder="Enter your search item here..">
                </mat-form-field>
            </form>
        </div>
    </mat-card-header>
</mat-card>