<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I edit or delete category field?
                </h2>

                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon ><b> Data and Reports > Data
                            Management</b>
                    <li> Perform <b>Edit / Delete</b>corresponding to respective category to <b>update field</b> as well
                        as <b>delete</b> category.
                </ol>
                
                <img src="..\..\assets\Add-On\Data Management\3.1.jpg" alt="3.1">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/datamanage/datamanage-1"> Data Management Plugin </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-2"> How can I create category and fields in it? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-3"> How can I edit or delete category field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-4"> How can I add data or values in Data Management
                            category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/datamanage/datamanage-5"> How can I edit or delete input values under
                            category?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>