<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to schedule an exam in Educares?
                </h2>
                <p>
                    To schedule an exam, first select the exam that has to be scheduled. This can be done by

                    <br> <br> <b> Menu >> Academics >> Gradebook >> Select the Exam Planner & Show details >> Manage
                        Classes >> Select the Exam & Manage Exams</b>
                </p>

                <ol class="parahone">
                    <li> Select Add Exams.

                    <li> Now enter the exam dates, Choose the sections for which exam has to scheduled and the exam
                        Timings.<b> Activity exams don't have to be scheduled, they just need to be activated.</b>

                        <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\Gradebook\17.1.png"
                            alt="17.1">

                    <li> Save Exam Dates.

                    <li> Now create the exam timetable by entering the subjects for which exam has to be scheduled.

                        <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\Gradebook\17.2.png"
                            alt="17.2">

                    <li> Select the schedule exams. <b>In case you want to send an SMS Notification you can click on
                            Save and Send Notification.</b>

                    <li> Once exams are scheduled you can start entering marks.


                </ol>

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-1"> Guide to use Gradebook</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-2"> What is gradebook?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-3"> How to do gradebook setting?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-4"> How to create attribute profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-5"> How to create Activity Profile?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-6">What are Grading Profiles? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-7">What is Remark Bank? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-8"> What is the difference between activity, attribute,
                            and
                            skill-based exam?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-9">How to create Exam Planners? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-10">How to add exams in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-11"> What are different types of exams in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-12">How to customize the Gradebook? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-13">How to link a class to gradebook planner? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-14"> What are the different types of grade book report
                            that can be generated in a planner?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-15">How to import exam planner from previous year? </a>
                    </p>

                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-16">How to generate report card for a class? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-17">How to schedule an exam in Educares? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-18">How to enter marks for different subjects? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/gradebook/gradebook-19">How to import marks using csv? </a>
                    </p>


                </div>
            </div>
        </div>
    </div>


</mat-card>