<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What all modules/activities can students perform from their login?
                </h2>
                <p>
                    When a student logs in to Educares, the student can perform the following activities:
                    <br> <br><b>Note:</b> Based on the plugins made available to the institution, some of the below
                    information may
                    not
                    apply to the student.

                </p>
                <ul class="parahone">
                    <li> Send internal messages to teachers, other students of the batch, and parent
                    <li> <b>Academics</b> – View exam and attendance reports
                    <li> <b> Assignment</b> – Complete and submit assignments
                    <li> <b>Calendar</b> – View the institution calendar
                    <li> <b>Discipline</b> – View any discipline matters the student may be involved in
                    <li> <b>Library</b> – Search and reserve library books
                    <li> <b>My Profile </b>– View his/her profile. From the profile, the student can also view
                        <ul>
                            <li> Exam and attendance reports
                            <li> Guardian details
                            <li> Fees due and fee refunds
                            <li> Course subjects
                            <li> Registration documents
                            <li> Shared photos
                            <li> Hostel and Transport allocation details
                            <li> List of borrowed library books
                            <li> Classes to attend for the day
                            <li> Any remarks provided by the teacher
                        </ul>
                    <li> <b>Online exam </b>– Take online exams and view results
                    <li> <b>Placement </b>– View placement announcements
                    <li> <b> Timetable</b>– View the batch timetable
                    <li> <b>Blog </b>– Start a blog
                    <li> <b>Discussion</b> – Participate in discussions
                    <li> <b>Documents </b>– Upload and share documents
                    <li> <b>Forms</b> – Provide feedback through forms
                    <li> <b> Gallery </b>– View shared photos
                    <li> <b>Google Docs</b> – Upload and access documents uploaded to Google Docs in Educares and vice
                        versa
                    <li> <b>News </b>– View institution news
                    <li> <b> Poll</b>– take a poll
                    <li> <b>Tasks</b> – Take up tasks assigned by teachers
                    <li> <b> Apps </b>– Access provided apps

                </ul>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-1"> How student admission can be done in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-2">How can I view a student profile and reports?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-3"> How to search a student in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-4"> How to search student of a particular
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-5"> How to archive or delete a student
                            account?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-6"> How archived student can be reverted?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-7">How to view the list of the active
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-8">How to view the list of the archived
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-9">What all modules/activities can students
                            perform from
                            their login?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-10">Is it possible to set admission number as per
                            my school
                            register number?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>