<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I set up course for online registration?
                </h2>
                <p>
                    A course must be set up before it is made available for online registration. Click the module access
                    icon<b> Menu > Academics > Applicant Registration > Manage Courses button > Add Course button</b> to
                    open the <b>Add Course page</b>. A number of options are available to help you define the admission
                    requirements.
                </p>

                <table>
                    <tr>
                        <th>Field</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <th>Course</th>
                        <td>Select a course. Only courses created on the <b>Manage Course</b> page (module access icon >
                            <b> Administration > Settings > Manage Course/Batch > Manage Course</b>) are listed.</td>
                    </tr>
                    <tr>
                        <th>Minimum score</th>
                        <td>Enter the minimum score required for admission into this course.</td>
                    </tr>
                    <tr>
                        <th>Subject based registration</th>
                        <td><b> Active </b>– When registering for a course, applicants can choose the elective subjects
                            they want to learn.
                            <br> <b>Inactive</b> – When registering for a course, applicants cannot choose the elective
                            subjects. Applicants must take all the elective subjects of the course they are registered
                            for by
                            default.
                        </td>
                    </tr>
                    <tr>
                        <th>Max Electives & Min Electives</th>
                        <td>Enter the maximum and minimum number of elective subjects the applicant can select. These
                            fields are available only if <b>Subject based registration is Active</b>.</td>
                    </tr>
                    <tr>
                        <th>Subject based collection</th>
                        <td> <b>Active</b> – When registering for a course, applicants must pay the amount assigned for
                            each subject.
                            <b>Inactive</b> – Applicants must pay the one-time amount that is specified in the Amount
                            field. This field is available only if Subject based registration is Active.
                        </td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>Enter the one-time amount the applicant needs to pay as application fees. This field is
                            available only if<b> Subject based collection is Inactive</b>.</td>
                    </tr>
                    <tr>
                        <th>Is active</th>
                        <td> <b>Active</b> – This course will be immediately available for online registration after set
                            up.
                            <b>Inactive</b> – This course will not be available for online registration after set up.
                            Inactive courses can be made active at a later time.
                        </td>
                    </tr>
                    <tr>
                        <th>Is pin system available</th>
                        <td> <b>Active</b> – Allow students to register to courses using PIN numbers. The PIN system
                            involves generating a set of PIN numbers that are issued to the applicants to register for a
                            course.
                            Registration cannot be done without a valid PIN number.
                            <b>Inactive </b>– If a course does not use the PIN system, any number of applicants can
                            register for the course.
                        </td>
                    </tr>
                    <tr>
                        <th>Enable Approval System</th>
                        <td> <b> Active </b>– When allotting an applicant to a course, the employee handling admissions
                            must verify and mark the student as “academically cleared” and “has paid all fees”. Without
                            clearing these two requirements, the applicant cannot be allotted to a course.
                            <b> Inactive </b> – The applicant can directly be allotted to a course without the need to
                            clear any admission requirements.
                        </td>
                    </tr>
                    <tr>
                        <th>Include Additional Details</th>
                        <td> <b>Active </b>– Ability to select the additional admission fields that is to appear in the
                            online admission form.
                            <b>Inactive </b>– Do not include the additional admission fields in the online admission
                            form.
                        </td>
                    </tr>
                    <tr>
                        <th>Transfer attachments while allotting</th>
                        <td>Select this checkbox if you want the documents (attachments) submitted by the students to be
                            added to their student profile when allotted to a course.</td>
                    </tr>
                </table>
                <p>
                    After you have defined the admission requirements, click the <b>Create</b> button.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-1"> Can students directly apply for admission to
                            courses from website?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-2"> How can I set up course for online registration?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-3"> How to add custom fields to student admission form?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-4"> How to inactivate or delete custom admission detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-5"> How to activate or inactivate course for online
                            registration?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-6"> How do applicants register for a course online?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-7"> How can I view the list of applicants registered for a
                            particular
                            course?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-8"> How applicants can be searched by registration number?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-9"> How to allot a student applicant to a course?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/enqregis/enqregis-10"> How to discard a registered applicant?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>