<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How hostel fee can be collected from finance module?
                </h2>
                <p>
                    The Administrator or a Privileged Employee (<b>Fee Submission privilege Revert Transaction</b>
                    privileges
                    required) can collect hostel fees from the Finance module. Though you will be able to create a
                    partial fee payment transaction for finance fees, for hostel fees, you must create a full
                    payment_transaction.
                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Finance > Fees
                            > Collect the Fees > Fee Submission by batch.</b>
                    <li> Select a batch and the hostel fee collection.
                    <li> Process the fee payment.
                </ol>
                <img src="..\..\assets\Add-On\Hostel\21.1.png" alt="21.1">
                <p style="margin-left: 50%;">
                    Or
                </p>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Finance > Fees
                            > Collect the Fees > Fee submission for each student.</b>
                    <li> In the <b>Search</b> field, enter the student name or admission number to search.
                        <img src="..\..\assets\Add-On\Hostel\21.2.jpg" alt="22.1">
                    <li> Click the student’s name.
                    <li> Click<b> Pay All </b>Fees.
                    <li> Process the fee payment.


                </ol>
                <img src="..\..\assets\Add-On\Hostel\21.3.png" alt="21.3">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>