<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I delete an income transactions?
                </h2>
                <p>

                    An Income in transactions can be deleted at any time. At the top of your dashboard, click the module
                    access icon > <b>Administration > Finance > Transactions > Add income</b> to open the<b> Create new income
                    page.</b>

                </p>

                <ol class="parahone">
                    <li>  In the top right, click the <b>Incomes</b> button.
                    <li>  Select the start date and end date.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Finance\6.1.jpg" alt="6.1">


                    <li>  Click the <b>OK </b>button. All income transactions are listed.

                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Finance\6.2.jpg" alt="6.2">

                    <li>  Click <b>Delete</b> to delete a transaction.
                    <li>  In the top right, click the <b>PDF report </b>button to generate a PDF report of the income
                        transactions.
                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-1"> How can I create finance category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-2"> How can I edit or delete finance category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-3"> How can I create an expense transaction?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-4">How to delete an expense transaction? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-5">How can I create an income transaction? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-6"> How can I delete an income transactions?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-7">How can I add additional fields to record donor
                            information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-8">How can I inactivate or delete a custom donor additional
                            detail field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-9">How can I add or create donation? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-10"> How can I delete donation transaction?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-11">How can I view the donation transactions for a specific
                            period? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-12">How can I view the finance report? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-13">How can I compare finance transactions between two
                            different
                            time intervals? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-14"> How can I add Asset under Asset Liability
                            Management?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-15"> How can I edit or delete an asset?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-16"> How can I create or add liability?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-17"> How can I edit or delete liability?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/finance/finance-18"> Basic steps for creating fee structure in Educares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>