<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is Student Document categories and how to create it?
                </h2>
                <p>

                    In order to manage and maintain the records of the Student, Institutes require the option to upload
                    the documents related to the Students.
                    The Admin/Privilege user can add the additional Student Document Categories that can be uploaded
                    while admitting the student in the EduCares System or after admitting the student inside their
                    profile.
                </p>
                <p>
                    Steps to perform for adding the Student Document category are as follows:

                </p>
                <ol class="parahone">
                    <li>
                        At the top of your dashboard, click the<b> Menu > Administration > Settings > Student
                            document
                            categories</b> to open the Student Document Categories page.</li>
                    <img src="..\..\assets\Solutions\Settings\16.1.jpg" alt="">
                    <li>
                        Click on <b>Add Category</b> option.</li>
                    <li>
                        Enter the <b>Category Name</b> and then click on <b>Add Category</b> option.
                    </li>

                </ol>
                <img src="..\..\assets\Solutions\Settings\16.2.jpg" alt="16.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>