<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I Create / Edit / Delete a fee particular?
                </h2>
                <p>
                    <b><u> Create Fee particular:</u> </b>
                    <br><br> Fee particulars are various type of fees that a student may be required to pay after
                    admission. Fee
                    particulars are created under a fee category for specific batches, for specific students, or for a
                    student category.


                </p>
                <ul class="parahone">
                    <li>  At the top of your dashboard, click the module access icon > <b>Administration > Finance > Fees
                        > Create Fees > Create Particulars.</b>
                        <br> <img style="margin-left: 20px;" src="..\..\assets\Solutions\Fee\3.1.jpg"
                            alt="3.1">
                        <br> <b>Note:</b> Fields marked with a red asterisk* is mandatory to be filled.
                    <li>  In the <b>Name</b> field, enter the name of the fee particular.
                    <li>  In the <b>Description</b> field, enter a short description about the fee particular.
                    <li>  Select a fee category, and then select the applicable batches.
                    <li>  Specify how you want to create the fee particular:
                        <ul>
                            <li>  If it is for all students of the selected batches, select <b>All.</b>
                            <li>  If it is for specific students of the selected batches, select <b>Admission no,</b> and then
                                enter
                                the admission numbers of the students (separated by a comma).
                            <li>  If it is for a specific student category of the selected batches, select <b>Student
                                Category,</b> and then select the student category.
                        </ul>
                    <li>  In the <b>Amount</b> field, enter the fee particular amount.
                    <li>  Click the <b>Create </b>button.



                </ul>
                <p>
                    <b><u> Edit/Delete Fee particulars: </u> </b>
                    <br> Fee particulars can be edited only if you haven’t scheduled a fee collection for the fee
                    particular. Also, when editing, you can only edit the fee particular name, description, and fee
                    amount. Fee particulars can be deleted at any time.
                </p>
                <ol class="parahone">

                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Finance > Fees
                            > Create Fees </b> to open the <b>Create Fees </b> page.
                    <li> Select a batch. The list of fee categories created for the batch will be displayed.
                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Solutions\Fee\3.2.jpg"
                            alt="3.2">
                    <li> Click <b>Edit </b>to edit a fee category or click <b>Delete </b> to delete a fee category.


                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-1"> What is fee collection and how to set it?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-2"> How can I Create / Edit / Delete a Fee Category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-3"> How can I Create / Edit / Delete a fee particular?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-4">How to Create / Edit / Delete student fee discount? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-5"> How can I set up and edit / delete fines for late fee
                            payments?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-6"> What is meant by scheduling student fee collections?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-7"> How can I schedule a fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-8"> How can I Edit/Delete a scheduled fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-10"> How to create a Fee refund rule for Fee collection?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-11"> How do I edit or delete an existing refund rule?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-12"> How do I revert a Fee refund?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-13"> Can I specify a custom fee payment date?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-14"> Can I create instant fee particulars or fee discounts at the
                            time of collecting fees?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-15"> Can I view all reverted/deleted transactions in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/fee/fee-9"> How to manage fee particulars and fee discounts from student
                            fee collections?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>