<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to search student of a particular batch?
                </h2>
                <p>
                    At the top of your dashboard, click the module access icon<b> Academics > Students > Student
                        details</b> to open the <b>Student details </b>page.
                </p>

                <ol class="parahone">
                    <li> In the top right, click the<b> View</b> all button to open the <b>View all</b> page.
                    <li> Select the <b>batch</b>. All students who belong to the selected batch are displayed.
                    <li> Click on the student’s name whose profile you want to view.

                </ol>
                <img src="..\..\assets\Solutions\Student Management\4.1.jpg" alt="4.1">
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-1"> How student admission can be done in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-2">How can I view a student profile and reports?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-3"> How to search a student in Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-4"> How to search student of a particular
                            batch?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-5"> How to archive or delete a student
                            account?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-6"> How archived student can be reverted?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-7">How to view the list of the active
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-8">How to view the list of the archived
                            students?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-9">What all modules/activities can students
                            perform from
                            their login?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/studentmanage/studentmanage-10">Is it possible to set admission number as per
                            my school
                            register number?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>