<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to inactivate, delete or edit an employee category?
                </h2>
                <p>
                    If you do not want an employee category to be displayed in the employee admission form, you can
                    inactivate it or delete it. However, you cannot inactivate or delete an employee category that has
                    already been assigned to an employee.

                    <br><br> At the top of your dashboard, click the module access icon ><b> Administration > Human
                        Resource > Setting > Add Employee Category</b> to open the <b>Employee category </b>page.

                    <br> <img src="..\..\assets\Solutions\HR\3.1.jpg" alt="3.1">

                    <br><br> 1. Click Edit beside the employee category you want to edit, select the Inactive status,
                    and then click the Update button. Employee categories that are inactivated are moved under the
                    Inactive Category
                    list.

                    <br> <img  src="..\..\assets\Solutions\HR\3.2.jpg" alt="3.2">

                    <br><br> 2. Click Delete beside the employee category you want to delete.
                </p>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-1"> Why Human Resource Module Is Required?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-2"> How to create an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-3"> How to inactivate, delete or edit an employee category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-4"> How to add or create an Employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-5"> How can I inactivate, delete or Edit an employee position?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-6"> How can I add an employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-7"> How can I inactivate, delete or Edit employee department?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-8"> How can I add an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-9"> How can I inactivate, delete or edit an employee grade?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-10"> How can I add custom fields to record bank details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-11">How can I inactivate, delete or edit a bank detail field? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-12">How can I add custom fields to record additional employee
                            admission details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-13"> How can I inactivate, delete or edit a custom admission detail
                            field for an employee?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-14">How can I add an employee in Educares? What are the fields to
                            be filled? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-15">How can I assign an employee to a subject? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-16"> How an employee subject association details report is
                            helpful?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/hr/hr-17"> How can I search for an employee?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>