<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    From where will we get the detailed report on hostel rooms?
                </h2>
                <p>
                    The <b>Room details</b> report displays information about each hostel including the hostel type, the
                    number
                    of rooms available, the number of rooms occupied, and the name of the students allotted to a room.


                </p>

                <ol class="parahone">
                    <li>  At the top of your dashboard, click the module access icon > <b>Administration > Hostel >
                        Report</b> to open the <b>Room details report.</b>
                    <li>  Each item in the table can be clicked to view additional hostel details.
                    <li>  Click the <b>Export as CSV</b> button to export the information to a CSV file.


                </ol>
                <img src="..\..\assets\Add-On\Hostel\24.1.jpg" alt="24.1">


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>