<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I add custom fields to record vehicle additional details?
                </h2>

                <p>
                    At the top of the dashboard, click the module access icon ><b> Administration > Transport >
                        Settings>Vehicle additional details to open the Vehicle additional details page.</b>

                    <br><br> Apart from the default fields available while adding vehicle details, you can add custom
                    fields to
                    record any additional details about the vehicle.

                    <br><br> <b> Example:</b> Insurance expiry date, Vehicle model etc

                </p>

                <ol class="parahone">
                    <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\27.1.jpg"
                        alt="27.1">

                    <li> In the <b>Name</b> field, enter the name of the field that will be used when entering vehicle
                        information.
                    <li> Specify the status of the additional field:
                        <ul>
                            <li> <b>Active</b> – An additional detail field with this status will be available when
                                entering vehicle information.
                            <li> <b> Inactive </b>– An additional detail field with this status will not be available
                                when entering vehicle information.
                                <br> <b>Note:</b> You can inactivate an additional detail field at any time.
                        </ul>
                    <li> Select the <b>Is mandatory</b> checkbox to set this field as a mandatory field that must be
                        filled when adding a new vehicle.
                    <li> In the <b>Input method</b> field, select the required field input method from the following
                        options:
                        <ul>
                            <li> <b>Text Box</b> – Enter brief text information.
                            <li> <b>Select Box</b> – Select one option from a drop-down list.
                            <li> <b>Check Box</b> – Select one or more items from a set of options.
                        </ul>
                    <li> Click the <b>Create</b> button.
                    <li> Use the <b>arrow icons</b> to determine the order that the fields will appear when entering
                        vehicle information.

                        <br> <img style="margin-left: 20px;" src="...\..\assets\Add-On\Trasport\27.2.jpg" alt="27.2">

                        <br> It will be reflected while adding the vehicle details as shown in the below figure.

                        <br> <img style="margin-left: 20px; width: 60%;" src="...\..\assets\Add-On\Trasport\27.3.png"
                            alt="27.3">

                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-1"> About Transport module </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-2"> How to add route additional details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-3"> How to add custom fields to record route additional
                            details? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-4"> How to do the basic settings in Transport? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-5"> How can I change the 'stop' point of a user? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-6"> How to inactivate or delete a custom route detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-7"> How to set up a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-8"> How to add new stops to an existing route?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-9"> How can I edit/inactivate/delete a route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-10"> How can I inactivate or delete vehicle additional
                            detail field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-11"> How new vehicle details can be added?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-12"> How can I edit, inactivate or delete vehicle details?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-13"> How can I assign student or employee to a Route? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-14"> How can I change the route details for a student or
                            employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-15"> How can I schedule transport fee collection for a
                            batch? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/transport/transport-16"> How can I assign an existing transport fee collection
                            to a
                            student/employee? </a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>ś