<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can we add rooms to a hostel?
                </h2>
                <img src="..\..\assets\Add-On\Hostel\8.1.jpg" alt="8.1">
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Hostel >
                            Rooms</b> to open the <b>Room details</b> page.
                    <li> In the top right, click the<b> Add Room</b> button to open the Add new room page.
                    <li> Select the hostel.
                    <li> In the <b>Room number</b> field, enter the starting room number. Based on the total number of
                        rooms in the hostel, the room number is automatically incremented.
                        <br> <b> Note:</b> The room number must be unique for each room.
                    <li> In the <b>Students per room </b>field, enter the number of students the room can accommodate.
                    <li> In the<b> Rent</b> field, enter the rent to be paid by each student.
                    <li> In the<b> No. of rooms</b> field, enter the total number of rooms in the hostel that can be
                        allotted for student accommodation.
                    <li> Click the <b>Save</b> button.
                </ol>
                <p>
                    <b> Steps to add more rooms to a hostel:</b>
                </p>
                <ol class="parahone">
                    When adding more rooms to a hostel, make sure to provide unique room numbers.

                    <li> At the top of your dashboard, click the module access icon ><b> Administration > Hostel >
                            Hostel</b> to open the<b> Hostel Details</b> page.
                    <li> Click<b> View </b>beside the hostel.
                    <li> In the top right, click the <b>Add room</b> button.
                    <li> Enter the room details and then click <b>Save.</b>
                </ol>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>