<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    What is the use of color theme module in eduCares?
                </h2>

                <p>
                    With this module the color theme of Fedena can be changed.
                    Go to General Settings under settings module. There is an option to <b>Select Theme.</b> Ref image
                    below .
                    Click on select theme drop down menu to choose the color. It is also provided with More colors
                    option to choose further colors.

                </p>
                <p>
                    Once you select the color it will get reflected in the theme and click on<b> Update.</b>

                </p>

                <img src="..\..\assets\Add-On\Themes\2.1.png" alt="2.1">


            </div>



            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/themes/themes-1"> What all things will change when a Theme is changed?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/themes/themes-2">What is the use of color theme module in eduCares? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>