<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I create a sales invoice?
                </h2>

                <p>

                    Once you have sold an item, create a sales invoice and issue a copy to your customer.

                </p>

                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Inventory >
                            Billing</b> to open the<b> Invoice</b> page.
                    <li> In the top right, click the <b>New </b>button.

                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Add-On\Inventory\28.1.jpg"
                            alt="28.1">


                    <li> In the <b>Store </b>field, select the store to which the item belongs.
                    <li> In the <b>Issued to </b>field, enter the Educares user ID to search and select the user. The
                        Name field and <b>Address</b> field automatically populates the user information.
                        <br> <b> Note: </b>If the customer is not a Educares user, you can manually enter the customer’s
                        name and address.
                    <li> Enter the<b> billing</b> details. You can search for the item using the item code or item name.
                        Remember, you can only search for sellable items.
                        If required, you can create an invoice for more than one item by clicking Add New Item.
                    <li> In the <b>Tax (%) </b>field, enter the percentage of tax to be applied when selling the item(s).

                        <br> <img style="margin-left: 20px; width: 60%;" src="..\..\assets\Add-On\Inventory\28.2.jpg"
                            alt="28.2">


                    <li> Enter any additional charges or discounts applicable. The <b>Total</b> is the amount to be paid
                        by the customer.
                    <li> Select the <b>Is Paid</b> checkbox if the item is paid for.
                        <br> <b> Note:</b> You can create an invoice even if the item(s) is not paid for. When you later
                        receive the payment, you can edit the invoice, select the <b>Is Paid </b>checkbox, and then save
                        the invoice.
                    <li> Click the <b>Save </b>button to create the invoice.



                        <br> <img style="margin-left: 20px;" src="..\..\assets\Add-On\Inventory\28.3.jpg" alt="28.3">


                </ol>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-1"> What is the use of inventory module?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-2"> What is store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-3">What is store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-4"> What is store item?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-5">What is indent in Inventory?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-6"> Inventory Workflow</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-7"> How to create store category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-8"> How to edit or delete store category?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-9"> How to create store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-10"> How can I edit or delete store type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-11"> How to create an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-12"> How to edit or delete an item category?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-13"> How to add items to store?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-14"> How to edit or delete item details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/inventory/inventory-15"> How to create supplier type?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>