<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to Create / Edit / Delete an elective group? </h2>

                <p>
                    <b>Create an Elective group:</b>
                </p>
                <p>Before adding the elective subjects, an elective group must be created under which the subject can be
                    added. To add an elective group, you must either be the administrator or a privileged employee
                    (Manage Course/Batch or Subject master privilege must be is provided).
                </p>
                <p class="top">
                    The quickest and easiest way to add an elective group to a batch is through the Subjects page.

                </p>

                <p> At the top of your dashboard, click the <b>module access icon > Administration >
                        Settings > Manage
                        Course/Batch > Manage Subject</b> to open the <b>Subjects</b> page.
                </p>

                <p class="tab">
                    1. Select the <b>batch</b>. All subjects associated with the batch are displayed.</p>
                <p class="tab">2. At the bottom, click <b>New Elective Group</b>.</p>
                <img src="..\..\assets\Solutions\Settings\6.1.jpg" alt="6.1">
                <p class="tab"> 3. In the <b>Name</b> field, enter the name of the elective group.
                </p>
                <p class="tab">4. In the field <b>"Last date to choose elective"</b>, specify the date before which the
                    elective subject must be selected by a student.</p>
                <p class="top">
                    <b> Note:</b> This field is available only when the Enable elective selection checkbox is enabled
                    when
                    creating a course.</p>
                <p class="tab">5. Click the <b>Save</b> button to create the elective group.</p>


                <p>
                    <b> Edit an Elective group name and selection date:</b>
                </p>

                <p>
                    You can edit an elective group name and selection date through the <b>Manage Course</b> or <b>Manage
                        Batch</b>
                    page.
                </p>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > Settings > Manage
                        Course/Batch > Manage Course</b> to open the <b>Manage Course</b> page.</p>
                <p> Or</p>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > Settings > Manage
                        Course/Batch > Manage Batch</b> to open the <b>Manage Batch</b> page.</p>

                <p class="tab">
                    1. Select the <b>course</b>. All subjects associated with the course are displayed.</p>
                <p class="tab">2. Select the<b>batch</b>.</p>
                <p class="tab"> 3. In the top right, click <b>Manage > Subject</b> to open the <b>Assign Subject</b>
                    page.
                </p>
                <p class="tab">4. Click <b>Edit</b> beside the elective group you want to edit as depicted in Figure</p>
                <img src="..\..\assets\Solutions\Settings\6.2.jpg" alt="6.2">
               
                <p class="tab">5. Make the necessary changes, and then click the <b>Save</b> button..</p>

                <p>
                    <b>
                        Delete an Elective group:
                    </b>
                </p>
                <p>
                    You cannot delete an elective group that contains subjects. You will first have to delete the
                    subjects,
                    and then delete the elective group. To delete an elective group, you must either be the
                    administrator or
                    a privileged employee (<b>Manage Course/Batch or Subject master</b> privilege must be is provided).
                </p>
                <img src="..\..\assets\Solutions\Settings\6.3.jpg" alt="6.3">
                <P>
                    You can delete an elective group through the<b> Manage Course</b> page, <b>Manage Batch</b> page,
                    and <b>Subjects</b> page.
                </P>
                <li class="parahone">Through the Manage Course page and Manage Batch page.</li>
                <p>
                    At the top of your dashboard, click the module access icon > <b>Administration > Settings > Manage
                        Course/Batch > Manage Course</b> to open the <b>Manage Course</b> page.
                    Or
                    At the top of your dashboard, click the module access icon ><b> Administration > Settings > Manage
                        Course/Batch > Manage Batch</b> to open the <b>Manage Batch </b>page.
                </p>
                <p>
                    1. Select the course. All batches of the selected course are displayed.
                </p>
                <p>
                    2. Select the batch.</p>
                <p>
                    3. In the top right, click <b>Manage > Subject</b> to open the <b>Assign Subject</b> page.
                </p>
                <p>
                    4. Unassign all the students that are assigned to the elective subject beside the Elective group by
                    selecting Assign batch > Remove all as depicted in Figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\6.4.jpg" alt="6.4">
                <p>
                    5. Delete the elective subjects besides the elective group as depicted in Figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\6.5.jpg" alt="6.5">
                <p>
                    6. Delete the elective group by selecting Delete as depicted in Figure.
                </p>
                <img src="..\..\assets\Solutions\Settings\6.6.jpg" alt="6.6s">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/settings/settings-1">How to access Settings/Configuration page in
                            EduCares? </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-2" class="qsidetop">
                            How to configure the Basic General Settings?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-3" class="qsidetop">
                            How to Add / Edit / Delete normal subjects?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-4" class="qsidetop">
                            Edit Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-5" class="qsidetop">
                            Delete Normal subjects to a batch
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-6" class="qsidetop">
                            How to Create / Edit / Delete an elective group?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-7" class="qsidetop">
                            How to assign an elective subject to a student?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-8" class="qsidetop">
                            Differentiate normal and elective subjects in EduCares?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-9" class="qsidetop">
                            How to Import previous batch subjects to the current batch?
                        </a>
                    </p>
                    <p>
                        <a href="solutions/settings/settings-10" class="qsidetop">
                            What is the use of Active, Inactive or Delete field in admission additional details?
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</mat-card>