<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How to check leave request status?
                </h2>
                <p>
                    The employee can keep track of the leaves taken and the status of leave from the My Leaves page.
                </p>
                <ol class="parahone">

                    <li>Go to your profile. In the top right, click<b> Leaves > My leaves </b>to open the <b>My
                            Leaves</b> page.
                       <br> Or
                      <br>  At the top of your dashboard, click the module access icon ><b> Academics > Leaves > My Leaves
                        </b>to open the <b>My Leaves</b> page.

                    <li> In the top right, click the<b> My leave applications</b> button. All your leave applications
                        that were submitted after the last ‘Leave Reset’ date will be displayed along with its status
                        (Pending, Approved, or Denied). You can filter your leave applications based on status.
                </ol>
                <p>
                    Use the <b>date filter</b> to view leave applications that were submitted before the last ‘Leave
                    Reset’ date. Click <b>View</b> beside a leave application to view its details.
                </p>
                <img src="..\..\assets\Solutions\Emp Att\7.1.jpg" alt="7.1">
                <img src="..\..\assets\Solutions\Emp Att\7.2.jpg" alt="7.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-1"> How to add different leave types in Educares ? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-2"> How can I edit or inactivate or delete a leave type?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-3"> How can an employee apply for a leave?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-4"> How can I approve or deny leave request of an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-5"> How can I reverse leave request for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-6"> How can admin mark employee attendance (absence) in
                            Educares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-7"> How to check leave request status?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-8"> How can I edit or delete marked attendance for an employee?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-9"> How can I generate the employee attendance report?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/empatt/empatt-10"> How can I view leave history for an employee?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>