<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    	When is Email alerts automatically triggered in EduCares?
                </h2>
                <table>
                    <tr>
                        <th>S. No.</th>
                        <th>Event</th>
                        <th>Employee</th>
                        <th>Student</th>
                        <th>Parent/Guardian</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Common event creation</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Daily wise attendance registration</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Employee creation</td>
                        <td>Y</td>
                        <td>NA</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Event creation for batch</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Event creation for employee</td>
                        <td>Y</td>
                        <td>N</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Examination result publishing</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Examination schedule publishing</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Fee collection creation</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Fee submission</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Leave approval</td>
                        <td>Y</td>
                        <td>N</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Leave creation</td>
                        <td>Y</td>
                        <td>N</td>
                        <td>N</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Parent creation</td>
                        <td>NA</td>
                        <td>N</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Poll creation</td>
                        <td>Y</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Student creation - Manual</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Student admission - Applicant Registration</td>
                        <td>NA</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>Subject wise attendance registration</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Transfer batch</td>
                        <td>N</td>
                        <td>Y</td>
                        <td>Y</td>
                    </tr>
                </table>
            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-1"> When are SMS automatically triggered in EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-2"> When is internal messages automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-3"> When is Email alerts automatically triggered in
                            EduCares?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="solutions/autonoti/autonoti-4"> When are automatic notification triggered from
                            EduCares?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>