<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>
                    How can I change or vacate a student from a hostel room?
                </h2>
                <ol class="parahone">
                    <li> At the top of your dashboard, click the module access icon > <b>Administration > Hostel >
                            Rooms</b>
                        to open the <b>Room details</b> page.
                    <li> Select a hostel.
                    <li> Click on the <b>room number.</b> On selecting this, the students allocated to the room will be
                        displayed.
                        <img src="..\..\assets\Add-On\Hostel\13.1.jpg" alt="13.1">
                    <li> To change a student’s room. Click<b> Change</b> beside the student.
                    <li> Then select the hostel to which you want to reallocate.
                    <li> Click <b>Reallocate</b> beside room to you want the move the student.
                    <li> To vacate the student from a room, click <b>Vacate</b> beside the student and then click Ok.
                </ol>
                <img src="..\..\assets\Add-On\Hostel\13.2.jpg" alt="13.2">

            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-1"> About Hostel?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-2"> How can we add custom fields to record hostel additional
                            details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-3">How can I inactivate or delete an additional field in a
                            hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-4"> How can I add custom fields to record hostel room information?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-5">How can I inactivate or delete hostel room additional detail
                            field?
                        </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-6"> How to add hostels?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-7"> How to edit or delete hostel details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-8"> How can we add rooms to a hostel?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-9"> How can I edit or delete hostel room details?</a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/hostel/hostel-10"> How to assign warden for a hostel?</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</mat-card>