<mat-card class="example-card">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-8">

                <h2>

                    How to assign fee collections to a student during admission?

                </h2>
                <p>When admitting a student using the Student Admission form, the ‘Import previous batch master fees’
                    screen will allow you to assign fee collections to the student.
                </p>
                <img src="..\..\assets\Add-On\Fee Import\2.1.jpg" alt="2.1">
                <p>
                    Select the fee collections applicable for the student, and then click the <b>Assign</b> button.

                </p>


            </div>

            <div class="span6 vert">
                <div class="mycontent-left">
                </div>
            </div>

            <div class="col-sm-4 col-lg-4">
                <p class="h2side">
                    Similar Solutions:
                </p>
                <div class="qside">
                    <p>
                        <a href="add-on/feeimport/feeimport-1"> About Fee import plugin </a>

                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-2"> How to assign fee collections to a student during
                            admission? </a>
                    </p>
                    <p class="qsidetop">
                        <a href="add-on/feeimport/feeimport-3"> How to assign or unassign fee collections to a
                            student? </a>
                    </p>
                </div>
            </div>
        </div>
    </div>


</mat-card>